//	------------------------------------------------------------
//	Tool
//	------------------------------------------------------------
	.left 					{ float:left 						} 	//	general
	.right 					{ float:right 						}
	.text-align-left 		{ text-align: left					}
	.text-align-right 		{ text-align: right					}
	.text-align-center 		{ text-align: center				}
	.absolute 				{ position: absolute 				}
	.relative 				{ position: relative 				}
	.uppercase				{ text-transform: uppercase			}
	.clearfix 				{ @include clearfix 				}
	.m 						{ @include rem(m, 	1.0)			}	//	margin / padding
	.m-t 					{ @include rem(m-t, 1.0)			}
	.m-r 					{ @include rem(m-r, 1.0)			}
	.m-b 					{ @include rem(m-b, 1.0)			}
	.m-l 					{ @include rem(m-l, 1.0)			}
	.p						{ @include rem(p, 	1.0)			}
	.p-t					{ @include rem(p-t, 1.0)			}
	.p-r					{ @include rem(p-r, 1.0)			}
	.p-b					{ @include rem(p-b, 1.0)			}
	.p-l					{ @include rem(p-l, 1.0)			}
	.M						{ @include rem(m, 	2.0)			}
	.M-T					{ @include rem(m-t, 2.0)			}
	.M-R					{ @include rem(m-r, 2.0)			}
	.M-B					{ @include rem(m-b, 2.0)			}
	.M-L					{ @include rem(m-l, 2.0)			}
	.P						{ @include rem(p, 	2.0)			}
	.P-T					{ @include rem(p-t, 2.0)			}
	.P-R					{ @include rem(p-r, 2.0)			}
	.P-B					{ @include rem(p-b, 2.0)			}
	.P-L					{ @include rem(p-l, 2.0)			}
	.fs-8					{ @include rem(f-s, 0.8) 			}	//	font-size
	.fs-9					{ @include rem(f-s, 0.9) 			}
	.fs-10					{ @include rem(f-s, 1.0) 			}
	.fs-11					{ @include rem(f-s, 1.1) 			}
	.fs-12					{ @include rem(f-s, 1.2) 			}
	.fs-13					{ @include rem(f-s, 1.3) 			}
	.fs-14					{ @include rem(f-s, 1.4) 			}
	.fs-15					{ @include rem(f-s, 1.5) 			}
	.fs-16					{ @include rem(f-s, 1.6) 			}
	.fs-17					{ @include rem(f-s, 1.7) 			}
	.fs-18					{ @include rem(f-s, 1.8) 			}
	.fs-19					{ @include rem(f-s, 1.9) 			}
	.fs-20					{ @include rem(f-s, 2.0) 			}
	.w-10					{ width: 	10% 					}	//	width
	.w-20					{ width:	20% 					}
	.w-25					{ width:	25% 					}
	.w-30					{ width:	30% 					}
//	.w-33					{ width: 	calc(100% / 3)			}
	.w-40					{ width:	40% 					}
	.w-50					{ width:	50% 					}
	.w-60					{ width:	60% 					}
	.w-70					{ width:	70% 					}
	.w-75					{ width:	75% 					}
	.w-80					{ width:	80% 					}
	.w-90					{ width:	90% 					}
	.w-100					{ width:	100% 					}
	.h-100					{ height:	100% 					}
	.black					{ color:	$black 					}	//	color
	.white					{ color:	$white 					}
	.blue					{ color:	$blue 					}
	.bg-black				{ background-color:	$black 			}
	.bg-white				{ background-color:	$white 			}
	.bg-blue				{ background-color:	$blue 			}
	.fill-black		 		{ #{$all-type-svg}{ fill: $black }	}	//	svg
	.vertical-align			{ @include vertical-align 			}	//	divers
	// horizontal align without width.
    .outer-center {
        float: right;
        right: 50%;
        position: relative;
        .inner-center {
            float: right;
            right: -50%;
            position: relative;
        }
    }
//
.mobile-only {
	display: initial;
	@include breakpoint($breakpoint-desktop) {
		display: none;
	}
}
//
.tablet-only {
	display: none;
	@include breakpoint($breakpoint-tablet) {
		display: initial;
	}
	@include breakpoint($breakpoint-desktop) {
		display: none;
	}
}
//
.desktop-only {
	display: none;
	@include breakpoint($breakpoint-desktop) {
		display: initial;
		.ie &{
			display: inline-block;
		}
	}
}














