<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.2.4
 */
?>
<table style="border: 0 none;">
    <tbody style="background: none;">
        <?php 
            $stores = Mage::getModel('core/store')->getCollection();
            $countStores = $stores->getSize();
            $showedStore = 0;
            
            $content = $this->getContentModel(0, $this->getEntityId());
            if($this->isAllowed(0))
            {
                if($content->existsForStore(0))
                {
                    ?>
                    <tr style="background: none;">
                        <td style="border: 0 none;">
                            <span class="nobr">
                                <?php echo Mage::helper('contentmanager')->__('Neutral language'); ?>
                            </span>
                        </td>
                    </tr>
                    <?php
                    $showedStore++;
                }
            }
        ?>

        <?php 
            foreach($stores as $store)
            {
                $contextualized_content = Mage::getModel('contentmanager/content')->setStoreId($store->getId())->load($this->getEntityId());
                $flag = Mage::getModel('contentmanager/flag')->load($store->getId());
                
                if($this->isAllowed($store->getId()))
                {
                    if($content->existsForStore($store->getId()))
                    {
                        ?>
                        <tr style="background: none;">
                            <td style="border: 0 none;">
                                <span class="nobr">
                                    <?php echo $store->getWebsite()->getName() . ' - ' . $store->getGroup()->getName() . ' - ' . $store->getName(); ?>
                                </span>
                            </td>
                        </tr>
                        <?php
                        $showedStore++;
                    }
                }
            }
        ?>
    </tbody>
</table>