#homepage_tabs_content_map_content .fieldset {padding:5px;}

#homepage_tabs_content_map_content #content_map_list .boutique,
#homepage_tabs_content_map_content #content_map_list .banner,
#homepage_tabs_content_map_content #content_map_list .empty  {font-size:10px;}

a.addrow {cursor: pointer; padding-left:5px;} 

.action_panel {position: absolute; display: none; z-index: 10; top: 15px; text-align: right;}
.cross-mover-hld {width:52px; margin:0 auto; position:relative;}
.cross-mover-hld .row-btn { margin-bottom:2px;}
.cross-mover-hld .row-btn div,
.cross-mover-hld .btm {display:block; height:16px; width:16px; overflow:hidden; background:url(../../../images/plumrocket/privatesales/cross-mover-icons.gif) no-repeat left top; }

.cross-mover-hld .row-btn div {float:left;}
.cross-mover-hld .row-btn div.left{background-position:0px -16px; visibility:hidden;}
.cross-mover-hld .row-btn div.right{background-position:0px -48px;}
.cross-mover-hld .row-btn div.menu{ margin:0 2px 0px 0px;}
.cross-mover-hld .btm {margin:0 auto; background-position:0px -32px; position:relative; left:-2px;}

.cross-mover-hld .row-btn div:hover,
.cross-mover-hld .btm:hover { opacity: .7;	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); cursor:pointer;} 

.link-hover:hover { opacity: .7;	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); cursor:pointer;} 
.info-icon {vertical-align: middle; margin-left:3px;}

.drop-menu {list-style:none; margin:0px; background-color:#FFF; width:150px; padding:4px; }
.drop-menu li {padding:3px;}
.drop-menu li span {text-decoration:underline; cursor:pointer; color:#EA7601;}

#banner-menu-holder { -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4); }
.banner-menu-hld {padding: 5px 3px; background-color:#FFF;}
.banner-menu-hld .columb {float:left; background-color:#FEFEB8; margin:0 2px; font-size:12px; padding:10px; background-color: #D5E5F4; border: 1px solid #8FABC4;}
.banner-menu-hld .columb h2 {font-size:14px; margin:0px 0px 8px 0px; padding:5px; text-align:center; background:#fff; border:1px solid #8FABC4;}
.banner-menu-hld .columb .items-holder {height:500px; width:150px; overflow-y:scroll; padding: 0px 25px 0px 10px;}
.banner-menu-hld .columb .item  {width:150px; border-bottom: 1px solid #CCCCCC; padding-bottom: 10px; border-bottom: 2px dotted #6988A6; margin-bottom:10px;}

.banner-menu-hld .columb .item .selector-url input {margin-left:0px;}
.banner-menu-hld .columb .item .selector-url a {float:right; }
.banner-menu-hld .columb .item .img-holder {text-align:center;}
.banner-menu-hld .columb .item .img-holder img {width:148px; border: 1px solid #BFBFBF;}
.banner-menu-hld .columb .item .date{margin:5px 0; }


button.preview span { background-image: url(../../../images/plumrocket/privatesales/preview_btn_icon.gif); padding-left: 20px; }


td.item{
	border: solid 1px #676767;
}

#selector{
	min-width: 200px;
}

#home_selector_fieldset table td{
	padding-bottom: 10px;
}

.comment{
	font-size: 0.8em;
	color: gray;
	padding-left: 10px;
}


/* float clearing for IE7 */
*+html .cf{
  min-height: 1%;
}

/* float clearing for everyone else */
.cf:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

