<?php
$_product    = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
$_switchHelper = Mage::helper('colorswatch/switch');
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
	<dl class="iwd-colorswatch">
	<?php foreach($_attributes as $_attribute): ?>
		<dt><label class="required"><em>*</em><?php echo $_attribute->getLabel() ?></label><span id="label-attribute<?php echo $_attribute->getAttributeId() ?>"></span></dt>
        
		<?php if ($_switchHelper->isSwitchedAttribute($_attribute->getAttributeId())):?>
		
		<dd<?php if ($_attribute->decoratedIsLast){?> class="last"<?php }?>>
			<div class="switch-attribute">
				<select data-id="<?php echo $_attribute->getAttributeId();?>" name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
					<option><?php echo $this->__('Choose an Option...') ?></option>
				</select>
			</div>
		</dd>
		
        <?php else:?>
        
        <dd<?php if ($_attribute->decoratedIsLast){?> class="last"<?php }?>>
            <div class="input-box">
                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
                    <option><?php echo $this->__('Choose an Option...') ?></option>
                </select>
              </div>
        </dd>
        
        
        <?php endif;?>
        
    <?php endforeach; ?>
    </dl>
    <?php /*Varien_Profiler::start('COLORSWATCH: PRODUCT');?>
    <pre>
    <?php $_switchHelper->getJsonConfig($_product);?>   
    </pre>
     <?php Varien_Profiler::stop('COLORSWATCH: PRODUCT');*/?>
    <script type="text/javascript">
		var spConfig = new Product.Config(<?php echo $this->getJsonConfig() ?>);
		$j(document).ready(function(){
			IWD.ColorSwatch.configAttributes = '<?php echo $_switchHelper->getJsonConfig($_product)?>';
			IWD.ColorSwatch.config = '<?php echo $_switchHelper->getJsonModuleConfig()?>';
			IWD.ColorSwatch.init();
		});
	</script>
<?php endif;?>	