<?php /* TINK */ ?>

<div class="prpop-account-first-step prpop-cf">
    <div class="prpop-new-users prpop-formholder">
        <h2><?php echo $this->__('Love exclusive deals?') ?></h2>
        <?php echo $this->getChildHtml('welcome_message') ?>
        <ul class="prpop-form-list">
            <li>
                <div class="prpop-input-box">
                    <input type="email" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="prpop-firststep_email" placeholder="<?php echo $this->__('Email address') ?>" class="input-text required-entry validate-email splash-inputs" title="<?php echo $this->__('Email Address') ?>" />
                </div>
            </li>
        </ul>
    </div>

    <div class="prpop-new-users prpop-f prpop-buttons-set prpop-cf">
        <?php if ($this->showRegister()) { ?>
            <button type="button" title="<?php echo $this->__('Subscribe for free') ?>" class="prpop-button prpop-btn-new-member prpop-show_registration_first_step button"><?php echo $this->__('Subscribe for free') ?></button>
        <?php } ?>
    </div>

    <p><?php echo $this->__('Already a member?');?> <a href="#" class="prpop-backtologin"><?php echo $this->__('Log in');?></a></p>
</div>