<div id="prop-wrap_login" class="prpop-account-login prpop-cf <?php if (!$this->showLogin()) { echo 'one-div'; } ?>" style="display: none;">
	<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="prpop-login-form">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />

        <?php if ($this->showLogin()) { ?>
            <div class="prpop-registered-users prpop-formholder">
                <?php /*=== logo ===*/ ?>
                <div class="form-top-logo">
                    <img src="<?php echo $this->getParentBlock()->getLogoImageSrc();?>" />
                </div>

                <h2><?php echo $this->__('Connect') ?></h2>
                <?php if ($this->getParentBlock()->showCloseOn()) { ?>
                    <a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
                <?php } ?>
                <ul class="prpop-form-list">
                    <li>
                        <div class="prpop-input-box">
                            <input type="email" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" placeholder="<?php echo $this->__('Email address') ?>" class="input-text required-entry validate-email splash-inputs" title="<?php echo $this->__('Email address') ?>" />
                        </div>
                    </li>
                    <li>
                        <div class="prpop-input-box">
                            <input type="password" name="login[password]" class="input-text splash-inputs required-entry validate-password" placeholder="<?php echo $this->__('Password') ?>" id="pass" title="<?php echo $this->__('Password') ?>" />
                        </div>
                    </li>
                </ul>
                <?php if ($this->showRememberMe()) { ?>
                    <p class="prpop-remebber-me">
                        <input type="checkbox" name="login[rememberme]" id="remb" value="remember"/> <label for="remb"><?php echo $this->__('Remember me');?></label>
                    </p>
                <?php } ?>
                <!-- <p class="prpop-required">* Required Fields</p> -->

            </div>


            <div class="prpop-buttons-set prpop-buttons-set-top prpop-cf">

                <button type="submit" class="prpop-button btn-proceed-checkout button" title="<?php echo $this->__('SJ Log in') ?>" name="send" id="send2" data-popup="yes"><?php echo $this->__('SJ Log in') ?></button>
                <?php
                $fb_login_block = $this->getLayout()->createBlock('facebookfree/links');
                if ($fb_login_block) {
                    echo '<div class="prpop-mobile spacer prpop-cf"> <div class="border"></div> <div class="text_or">OR</div> <div class="border"></div> </div>';
                }
                ?>

                <div class="prpop-ajax-loader-wrapper">
                    <img class="prpop-ajax-loader" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>" alt="loader" />
                </div>

                <div class="facebook_login_button">
                    <?php
                    if ($fb_login_block) {
                        //echo '<div class="prpop-dividerOr"></div>';
                        echo $fb_login_block->setTemplate('popuplogin/facebooklogin.phtml')->toHtml();
                        Mage::getSingleton('core/session')->setLoginRedirectUrl($this->getParentBlock()->getSuccessUrl());
                    }
                    ?>
                </div>

                <?php if ($pslButtons = $this->getChildHtml('pslogin_buttons')) { ?>
                    <div class="pslogin-spacer pslogin-clearfix">
                        <table>
                            <tr>
                                <td><div class="pslogin-border"></div></td>
                                <td class="pslogin-bordertext w25"><?php echo $this->__('OR'); ?></td>
                                <td><div class="pslogin-border"></div></td>
                            </tr>
                        </table>
                    </div>
                    <?php echo $pslButtons; ?>
                <?php } ?>
            </div>

            <?php if ($this->showForgotpassword()) { ?>
                <p class="prpop-forgot-password">
                    <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="prpop-forgotpass prpop-show_forgot"><?php echo $this->__('Forgot your password') ?></a>
                </p>
            <?php } ?>

            <p class="prpop-create-an-account">
                <?php echo $this->__('Not a member?');?> <a href="javascript: void(0)" class="prpop-button prpop-btn-new-member prpop-show_registration"><?php echo $this->__('Create an account') ?></a>
            </p>
        <?php } ?>

	</form>
	
	<script type="text/javascript">
	//<![CDATA[
		var dataLoginForm = new VarienForm('login-form', true);
	//]]>
	</script>
</div>