<?php
/*

Plumrocket Inc.

NOTICE OF LICENSE

This source file is subject to the End-user License Agreement
that is available through the world-wide-web at this URL:
http://wiki.plumrocket.net/wiki/EULA
If you are unable to obtain it through the world-wide-web, please
send an email to support@plumrocket.com so we can send you a copy immediately.

@package	Plumrocket_Popup_Login-v1.3.x
@copyright	Copyright (c) 2013 Plumrocket Inc. (http://www.plumrocket.com)
@license	http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 
*/
?>
<?php
/**
 * Create account form template
 *
 * @see Mage_Customer_Block_Form_Register
 */
?>

<div class="prpop-account-create" style="display: none;">
	<?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="prpop-register-form">
		<div class="prpop-formholder">
			<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
			<input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />

			<?php /*=== logo ===*/ ?>
			<div class="form-top-logo">
				<img src="<?php echo $this->getParentBlock()->getLogoImageSrc();?>" />
			</div>

			<h2><?php echo $this->__('You are one click away from the best beauty discounts.') ?></h2>
			<?php if ($this->getParentBlock()->showCloseOn()) { ?>
				<a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
			<?php } ?>

			<?php echo $this->getChildHtml('pslogin_buttons'); ?>
			
			<div class="prpop-cf prpop-columb">
				<ul class="prpop-form-list">
					<?php echo $this->getChildHtml()?>
				</ul>
			</div>

			<?php if ($this->isNewsletterEnabled()): ?>
            <div class="prpop-rowline">
                <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Subscribe to the newsletter') ?>" value="1" id="prpop-is-subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                <label for="prpop-is-subscribed"><?php echo $this->__('Subscribe to the newsletter') ?></label>
            </div>
        	<?php elseif ($this->getFormData()->getIsSubscribed()): ?>
        		<input type="hidden" name="is_subscribed" value="1" />
            <?php endif; ?>

            <?php if ($this->showAgree()): ?>
                <div class="prpop-rowline" >
                      <input type="hidden" name="agree" title="I agree to the terms of service" value="1" id="prpop-agree" class="checkbox required-entry">
                      <? /*label for="prpop-agree"><?php echo $this->__('I agree to the terms of service'); ?></label */ ?>
                </div>
			<?php endif; ?>
		</div>


		<div class="prpop-buttons-set prpop-cf">
			<button type="submit" title="<?php echo $this->__('Submit Now') ?>" class="prpop-button prpop-btn-proceed-checkout button"><?php echo $this->__('Submit Registration') ?></button>

            <?php if ($this->getParentBlock()->showLogin()) { ?>
                <div class="prpop-back-hld prpop-desktop">
                    <?php echo $this->__('Already a member?');?> <a href="#" class="prpop-backtologin"><?php echo $this->__('Log in');?></a>
                </div>
            <?php } ?>

            <div class="prpop-ajax-loader-wrapper">
                <img class="prpop-ajax-loader" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>" alt="loader" />
            </div>

			<?php if ($this->getParentBlock()->showLogin()) { ?>
            <div class="prpop-backtologin prpop-mobile prpop-cf">
                <?php echo $this->__('Already a member?');?> <a href="#" class="prpop-backtologin"><?php echo $this->__('Log in');?></a>
			</div>
			<?php } ?>

            <?php echo $this->getChildHtml('popup_legal_links') ?>
		</div>
		
	</form> <!-- form end here -->
	<script type="text/javascript">
	//<![CDATA[
		var dataRegisterForm = new VarienForm('register-form', true);
	//]]>
	</script>
</div>

<!-- Success blocks -->
<div class="prpop-reg-success prpop-succes-block" style="display: none;">
	<div class="prpop-formholder">
		<?php /*=== logo ===*/ ?>
		<div class="form-top-logo">
			<img src="<?php echo $this->getSkinUrl('images/plumrocket/popuplogin/' . 'pop-top-logo.png');?>" />
		</div>

		<h2><?php echo $this->__('Hello') ?> <span class="prpop-name"></span> !</h2>
        <?php echo $this->getChildHtml('confirmation_message') ?>
        <button type="button" title="<?php echo $this->__('Shop') ?>" class="prpop-button prpop-btn-magasiner button"><?php echo $this->__('Shop') ?></button>
	</div>
</div>
