.advi-menu-main {
    background: url("http://www.advancedcontentmanager.com/images/distant/banana-menu.png") no-repeat left center !important;
    padding: 0 !important;
    padding-left: 24px !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.advi-menu-admin {
    background: url("http://www.advancedcontentmanager.com/images/distant/banana-system.png") no-repeat left center !important;
    padding: 0 !important;
    padding-left: 24px !important;
    padding-right: 0 !important;
    width: 100% !important;
    color: green;
}