<li class="prpop-fields">
	<label for="prpop-conf_email_address" class="prpop-required"><em>*</em><?php echo $this->getLabel();?></label>
	<div class="prpop-input-box">
		<input type="confirm_email" name="confirm_email" id="prpop-conf_email_address" value="" placeholder="<?php echo $this->getPlaceholder();?>" title="<?php echo $this->getLabel();?>" class="input-text validate-email required-entry" />
	</div>
</li>