<li class="prpop-fields">
	<div class="prpop-field">
		<label for="confirmation" class="prpop-required"><em>*</em><?php echo $this->getLabel();?></label>
		<div class="prpop-input-box">
			<input type="password" name="confirmation" title="<?php echo $this->getLabel();?>" id="prpop-confirmation" placeholder="<?php echo $this->getPlaceholder();?>" class="input-text required-entry validate-cpassword" />
		</div>
	</div>
</li>