<li class="prpop-fields">
	<label for="<?php echo $this->getFieldId('month')?>"<?php if ($this->isRequired()) echo ' class="required"' ?>><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->getLabel() ?></label>
	<div class="prpop-input-box customer-dob">
	<?php
	    $this->setDateInput('d',
	        '<div class="dob-day">
	             <input type="number" min="1" max="31" id="' . $this->getFieldId('day') . '" name="' . $this->getFieldName('day') . '" value="" title="' . $this->__('Day') . '" ' .(($this->getPlaceholder())? 'placeholder="' . $this->__('Day') . '"' : '') .' class="input-text validate-custom" ' . $this->getFieldParams() . ' />
	             <label for="' . $this->getFieldId('day') . '">' . $this->__('DD') . '</label>
	         </div>'
	    );

	    $this->setDateInput('m',
	        '<div class="dob-month">
	             <input type="number" min="1" max="12" id="' . $this->getFieldId('month') . '" name="' . $this->getFieldName('month') . '" value="" ' .(($this->getPlaceholder())? 'placeholder="' . $this->__('Month') . '"' : '') .' title="' . $this->__('Month')  . '" class="input-text validate-custom" ' . $this->getFieldParams()  . ' />
	             <label for="' . $this->getFieldId('month') . '">' . $this->__('MM')  . '</label>
	         </div>'
	    );

	    $this->setDateInput('y',
	        '<div class="dob-year">
	             <input type="number" min="1900" id="' . $this->getFieldId('year') . '" name="' . $this->getFieldName('year') . '" value="" ' .(($this->getPlaceholder())? 'placeholder="' . $this->__('Year') . '"' : '') .' title="' . $this->__('Year')  . '" class="input-text validate-custom" ' . $this->getFieldParams()  . ' />
	             <label for="' . $this->getFieldId('year') . '">' . $this->__('YYYY')  . '</label>
	         </div>'
	    );
	?>
	    <?php echo $this->getSortedDateInputs() ?>
	    <div class="dob-full" style="display:none;">
	        <input type="hidden" id="<?php echo $this->getFieldId('dob')?>" name="<?php echo $this->getFieldName('dob')?>" />
	    </div>

	    <div class="validation-advice" style="display:none;"></div>
	</div>
	<script type="text/javascript">
	//<![CDATA[
	    var customer_dob = new Varien.DOB('.customer-dob', <?php echo $this->isRequired() ? 'true' : 'false' ?>, '<?php echo $this->getDateFormat() ?>');
	//]]>
	</script>
</li>