<li class="prpop-fields">
	<label for="prpop-email_address" class="prpop-required"><em>*</em><?php echo $this->getLabel();?></label>
	<div class="prpop-input-box">
		<input type="email" name="email" id="prpop-email_address" value="" placeholder="<?php echo $this->getPlaceholder();?>" title="<?php echo $this->getLabel();?>" class="input-text validate-email required-entry" />
	</div>
</li>