<li class="prpop-fields">
	<label for="firstname" class="prpop-required">
		<em>*</em>
		<?php echo $this->getLabel();?>
	</label>
	<div class="prpop-input-box">
		<input type="text" id="prpop-firstname" name="firstname" value="" placeholder="<?php echo $this->getPlaceholder();?>" title="<?php echo $this->getLabel();?>" class="input-text required-entry">
	</div>
</li>