<li class="prpop-fields">
	<label for="middlename">
		<?php echo $this->getLabel();?>
	</label>
	<div class="prpop-input-box">
		<input type="text" id="prpop-middlename" name="middlename" value="" placeholder="<?php echo $this->getPlaceholder();?>" title="<?php echo $this->getLabel();?>" class="input-text">
	</div>
</li>