<li class="prpop-fields">
	<div class="prpop-field">
		<label for="prpop-password" class="prpop-required"><em>*</em><?php echo $this->getLabel();?></label>
		<div class="prop-input-box">
			<input type="password" name="password" id="prop-password" title="<?php echo $this->getLabel();?>" placeholder="<?php echo $this->getPlaceholder();?>" class="input-text required-entry validate-password" />
		</div>
	</div>
</li>