<li class="prpop-fields">
	<label for="suffix">
		<?php echo $this->getLabel();?>
	</label>
	<div class="prpop-input-box">
		<input type="text" id="prpop-suffix" name="suffix" value="" title="<?php echo $this->getLabel();?>" placeholder="<?php echo $this->getPlaceholder();?>" class="input-text">
	</div>
</li>