<script>
    var autoCalculatePreferedStockLevel = '<?php echo $this->getUrl('adminhtml/AdvancedStock_PreferedStockLevel/UpdateForOneProduct'); ?>';
</script>

<?php if (Mage::getSingleton('admin/session')->isAllowed('admin/erp/products/view/sales_history/sales_history')): ?>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Sales History'); ?></h4> 
    </div>
    <div class="entry-edit">

        <div class="grid">
            <table class="data" cellspacing="0" width="100%">
                <thead>
                    <tr class="headings">
                        <th class="a-center"><?php echo $this->__('Updated at') ?></th>
                        <?php foreach ($this->getRanges() as $range): ?>
                            <th class="a-center"><?php echo $this->__('Last %s week(s)', $range) ?></th>
                        <?php endforeach; ?>
                        <th class="a-center"><?php echo $this->__('Refresh') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <?php $_history = $this->getHistory(); ?>
                        <?php if ($_history->getId()): ?>
                            <td class="a-center"><?php echo $_history->getsh_updated_at(); ?></td>
                            <td class="a-center"><?php echo $_history->getsh_period_1(); ?></td>
                            <td class="a-center"><?php echo $_history->getsh_period_2(); ?></td>
                            <td class="a-center"><?php echo $_history->getsh_period_3(); ?></td>
                        <?php else: ?>
                            <td class="a-center" colspan="4"><?php echo $this->__('No history available'); ?></td>
                        <?php endif; ?>
                        <td class="a-center"><button  type="button" class="scalable" onclick="setLocation('<?php echo $this->getRefreshHistoryUrl(); ?>')" style=""><span><?php echo $this->__('Refresh'); ?></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<?php endif; ?>

<?php if (Mage::getSingleton('admin/session')->isAllowed('admin/erp/products/view/sales_history/suggestions')): ?>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Warning stock level / Ideal stock suggestions'); ?></h4>
    </div>
    <div class="entry-edit">
        <?php $_preferedStockLevelData = $this->getPreferedStockLevelSuggestion(); ?>
        <div class="grid">
            <table class="data" cellspacing="0" width="100%">
                <thead>
                    <tr class="headings">
                        <th class="a-center"><?php echo $this->__('Warning stock level') ?></th>
                        <th class="a-center"><?php echo $this->__('Ideal stock') ?></th>
                        <th class="a-center"><?php echo $this->__('Apply') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="a-center"><?php echo $_preferedStockLevelData['warning_stock_level'] ?></td>
                        <td class="a-center"><?php echo $_preferedStockLevelData['ideal_stock_level'] ?></td>
                        <td class="a-center"><button  type="button" class="scalable" onclick="setLocation('<?php echo $this->getApplyPreferedStockLevelSuggestion(); ?>')" style=""><span><?php echo $this->__('Apply'); ?></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<?php endif; ?>

<?php if (Mage::getSingleton('admin/session')->isAllowed('admin/erp/products/view/sales_history/all_orders')): ?>

    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('All Orders'); ?></h4> 
    </div>
    <div class="entry-edit">
        <?php
        $block = $this->getLayout()->createBlock('AdvancedStock/Product_Edit_Tabs_AllSalesOrder');
        $block->setProduct($this->getProduct());
        echo $block->toHtml();
        ?>
    </div>

<?php endif; ?>