<!--@subject I think you will love this! @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
							<p>
								<div style="font-size: 11px; color: gray;">Be sure to save our email address in your address book to ensure that all alerts go directly to you.</div><br />
								{{if message}}
									{{var message}} <br />
								{{else}}
									Hi {{var name}}!<br />
									I wanted to share with you this new website I just discovered - kepago.plumserver.com<br />
								{{/if}} 
								<div style="font-size: 11px; color: gray;">
								</div>
							</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
