.iwd-colorswatch{}
.iwd-colorswatch .switch-attribute{}
.iwd-colorswatch .colorswatch-list{}
.iwd-colorswatch .colorswatch-list:before,
.iwd-colorswatch .colorswatch-list:after {content: " ";display: table;}
.iwd-colorswatch .colorswatch-list:after{clear:both}
.iwd-colorswatch .colorswatch-list .colorswatch-item{float:left;border:1px solid #C4C1BC;margin-left:5px;cursor:pointer;position:relative;overflow:hidden}
.iwd-colorswatch .colorswatch-list .colorswatch-item img{position:absolute;width:100%;z-index:1;left:0;top:0}/*images items*/
.iwd-colorswatch .colorswatch-list .colorswatch-item span{position:absolute;width:100%;z-index:1;left:0;top:0}/*color items*/
.iwd-colorswatch .active-switch{border: 1px solid #690808 !important;}
.iwd-colorswatch .colorswatch-list .colorswatch-item:first-child{margin-left:0}

.iwd-colorswatch .colorswatch-item.disabled img.disabled{z-index:20}
.iwd-colorswatch .colorswatch-item:hover img.hover{z-index:15}
.iwd-colorswatch .colorswatch-item.active-switch img.active{z-index:16}

.iwd-colorswatch .colorswatch-item{border:1px solid transparent}
.iwd-colorswatch .colorswatch-item span{display:block;cursor:pointer}

.iwd-colorswatch .colorswatch-item.disabled span.disabled{z-index:20}
.iwd-colorswatch .colorswatch-item:hover span.hover{z-index:15}
.iwd-colorswatch .colorswatch-item.active-switch span.active{z-index:16}

.iwd-colorswatch .colorswatch-list .colorswatch-item span.normal{z-index:10}
.iwd-colorswatch .colorswatch-list .colorswatch-item img.normal{z-index:10}
.iwd-colorswatch .without-additional .disabled{opacity:.4; cursor: default;}

/** CATEGORY PAGE **/
.category-products .colorswatch-list{}
.category-products .colorswatch-list ul{overflow:hidden;}
.category-products .colorswatch-list li{float:left;margin-right:5px;border:1px solid #D9DDD3;margin-bottom:5px;position:relative;overflow:hidden;cursor:pointerжpadding:0 !important}
.category-products .colorswatch-list li img{width:100%;position:absolute;z-index:1;left:0;top:0}
.category-products .colorswatch-list li span{content: ".";display: block;height: 100%;width: 100%;position:absolute;z-index:1;left:0;top:0}

.category-products .colorswatch-list li.disabled img.disabled{z-index:20}
.category-products .colorswatch-list li:hover img.hover{z-index:15}
.category-products .colorswatch-list li.active-switch img.active{z-index:16}


.category-products .colorswatch-list li.disabled span.disabled{z-index:20}
.category-products .colorswatch-list li:hover span.hover{z-index:15}
.category-products .colorswatch-list li.active-switch span.active{z-index:16}

.category-products .colorswatch-list li .normal{z-index:10}

/** ZOOM **/
#colorswatch-media-block {position:relative}
.colorswatch-images-zoom .ajax-loader{position:absolute; z-index: 100;display:none; left:10px; top:10px;}
.colorswatch-images-zoom{position:relative}
.colorswatch-images-zoom .thumbnails-container{position:relative;}
.colorswatch-images-zoom .thumbnails-container:before,{}
.colorswatch-images-zoom .thumbnails-container:after{content: " ";display: table;}
.colorswatch-images-zoom .thumbnails-container:after{clear:both}
.colorswatch-images-zoom .thumbnails-container{}
.colorswatch-images-zoom .thumbnails-container.top{margin-bottom:10px;}
.colorswatch-images-zoom .thumbnails-container.bottom{margin-top:10px;}
.colorswatch-images-zoom .item{float:left;border: 1px solid #DADDDD;margin-bottom:5px;margin-right: 6px;margin-left:6px}
.colorswatch-images-zoom .thumbnails-container.right ul{}
.colorswatch-images-zoom .thumbnails-container.right ul li{float:none;margin-left:0; margin-right:0}
.colorswatch-images-zoom .thumbnails-container.left ul{}
.colorswatch-images-zoom .thumbnails-container.left ul li{float:none;margin-left:0; margin-right:0}

.colorswatch-images-zoom .zoom-container{border: 1px solid #DADDDD;position:relative;}
.colorswatch-images-zoom .zoom-select{border:1px solid red; position:absolute;border: 1px solid red;left: 1px;position: absolute;top: 1px; display:none; background-color: #FFFFFF;opacity: 0.4;}
.colorswatch-images-zoom .colorswatch-zoom-box{display:none;position:absolute;overflow:hidden;background-color:#fff;z-index:200;border:1px solid #C4C1BC }
.colorswatch-images-zoom .colorswatch-zoom-box img{position:relative;width:auto !important;max-width: none !important}
.colorswatch-images-zoom .slider{position: relative;overflow: hidden;}
.colorswatch-images-zoom .slider ul {    width: 20000em;    position: relative;    /* Optional, required in this case since it's a <ul> element */    list-style: none;    margin: 0;    padding: 0;}

.colorswatch-slider-control.control-bottom{}
.colorswatch-slider-control.control-bottom .prev{left: -15px;position: absolute;top: 50px;cursor:pointer}
.colorswatch-slider-control.control-bottom .next{right: -15px;position: absolute;top: 50px;cursor:pointer}

.thumbnails-container.bottom .prev{left: -15px;position: absolute;top: 30px;cursor:pointer}
.thumbnails-container.bottom .next{right: -15px;position: absolute;top: 30px;cursor:pointer}

.thumbnails-container.right .prev{left: 24px;position: absolute;top: -20px;cursor:pointer;-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.thumbnails-container.right .next{left: 24px;position: absolute;bottom: -20px;cursor:pointer;-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}

.thumbnails-container.left .prev{left: 24px;position: absolute;top: -20px;cursor:pointer;-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.thumbnails-container.left .next{left: 24px;position: absolute;bottom: -20px;cursor:pointer;-moz-transform: rotate(90deg);-webkit-transform: rotate(90deg);-o-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}

/** internal */
.grid12-4 .colorswatch-images-zoom{width: 100%;}
.grid12-4 .zoom-container {width: 100% !important; overflow:hidden;}
.grid12-4 .zoom-container img{}
.category-products-grid.hover-effect .item:hover{z-index:30}