<?php
$numColumns = $this->getColumnCount();
?>
<?php if($this->getCollection()): ?>
<?php if($this->getCollection()->getSize() > 0): ?>
<?php if($this->getPagerVisibility() || $this->getExportTypes() || $this->getFilterVisibility()): ?>
    <table cellspacing="0" class="actions" width="100%">
        <tr>
        <?php if($this->getPagerVisibility()): ?>
            <?php $_curPage  = $this->getCollection()->getCurPage() ?>
            <?php $_lastPage = $this->getCollection()->getLastPageNumber() ?>
            <?php $_startRow = $this->getCollection()->getPageSize() * ($_curPage - 1) + 1 ?>
            <?php $_endRow = $this->getCollection()->getPageSize() * $_curPage ?>
            <?php if ($_endRow > $this->getCollection()->getSize()): ?>
                <?php $_endRow = $this->getCollection()->getSize() ?>
            <?php endif ?>
            
            <td class="a-right">
                <span style="margin-right: 5px; vertical-align: middle;">
                    <strong>
                        <?php echo $_startRow ?>-<?php echo $_endRow ?>
                    </strong>
                    of
                    <strong><?php echo $this->getCollection()->getSize() ?></strong>
                </span>
                
            <?php if($_curPage>1): ?>
                <a href="#" title="<?php echo $this->__('Previous page') ?>" onclick="<?php echo $this->getJsObjectName() ?>.setPage('<?php echo ($_curPage-1) ?>');return false;"><img style="margin: 0 3px; vertical-align: middle;" src="<?php echo $this->getSkinUrl('images/rewards/pager/pager_arrow_left.gif') ?>" alt="Go to Previous page" class="arrow"/></a>
            <?php else: ?>
                <img style="margin: 0 3px; vertical-align: middle;" src="<?php echo $this->getSkinUrl('images/rewards/pager/pager_arrow_left_off.gif') ?>" alt="Go to Previous page" class="arrow"/>
            <?php endif; ?>
            
            <?php if($_curPage < $_lastPage): ?>
                <a href="#" title="<?php echo $this->__('Next page') ?>" onclick="<?php echo $this->getJsObjectName() ?>.setPage('<?php echo ($_curPage+1) ?>');return false;"><img style="margin: 0 3px; vertical-align: middle;" src="<?php echo $this->getSkinUrl('images/rewards/pager/pager_arrow_right.gif') ?>" alt="Go to Next page" class="arrow"/></a>
            <?php else: ?>
                <img style="margin: 0 3px; vertical-align: middle;" src="<?php echo $this->getSkinUrl('images/rewards/pager/pager_arrow_right_off.gif') ?>" alt="Go to Previous page" class="arrow"/>
            <?php endif; ?>
            </td>

            <?php /*
            <input style="width: 2em !important;" type="text" name="<?php echo $this->getVarNamePage() ?>" value="<?php echo $_curPage ?>" class="input-text page" onkeypress="<?php echo $this->getJsObjectName() ?>.inputPage(event, '<?php echo $_lastPage ?>')"/>
            */?>

            <?php //echo $this->__('of %s pages', $this->getCollection()->getLastPageNumber()) ?>
            <?php /* ?>
            <span class="separator">|</span>
            <?php echo $this->__('View') ?>
            <select name="<?php echo $this->getVarNameLimit() ?>" onchange="<?php echo $this->getJsObjectName() ?>.loadByElement(this)">
                <option value="20"<?php if($this->getCollection()->getPageSize()==20): ?> selected="selected"<?php endif; ?>>20</option>
                <option value="30"<?php if($this->getCollection()->getPageSize()==30): ?> selected="selected"<?php endif; ?>>30</option>
                <option value="50"<?php if($this->getCollection()->getPageSize()==50): ?> selected="selected"<?php endif; ?>>50</option>
                <option value="100"<?php if($this->getCollection()->getPageSize()==100): ?> selected="selected"<?php endif; ?>>100</option>
                <option value="200"<?php if($this->getCollection()->getPageSize()==200): ?> selected="selected"<?php endif; ?>>200</option>
            </select>
            <?php echo $this->__('per page') ?><span class="separator">|</span>*/?>
            <?php //echo $this->__('Total %d records found', $this->getCollection()->getSize()) ?>
            <span id="<?php echo $this->getHtmlId() ?>-total-count" class="no-display"><?php echo $this->getCollection()->getSize() ?></span>
            <?php if($this->getRssLists()): ?>
                <?php foreach ($this->getRssLists() as $_rss): ?>
                <span class="separator">|</span><a href="<?php echo $_rss->getUrl() ?>" class="link-feed"><?php echo $_rss->getLabel() ?></a>
                <?php endforeach ?>
            <?php endif; ?>
        </td>
    <?php endif ?>
    <?php if($this->getExportTypes()): ?>
        <td class="export a-right">
            <img src="<?php echo $this->getSkinUrl('images/icon_export.gif') ?>" alt="" class="v-middle"/>&nbsp; <?php echo $this->__('Export to:') ?>
            <select name="<?php echo $this->getId() ?>_export" id="<?php echo $this->getId() ?>_export" style="width:8em;">
            <?php foreach ($this->getExportTypes() as $_type): ?>
                <option value="<?php echo $_type->getUrl() ?>"><?php echo $_type->getLabel() ?></option>
            <?php endforeach; ?>
            </select>
            <?php echo $this->getExportButtonHtml() ?>
        </td>
    <?php endif; ?>
        <td class="filter-actions a-right">
            <?php echo $this->getMainButtonsHtml() ?>
        </td>
        </tr>
    </table>
<?php endif; ?>
<?php endif; ?>
<!-- <div class="grid"> -->
    <!-- <div class="hor-scroll"> -->
    <div class="tableau-lignee">
        <div class="table-colonnes">
            <?php if ($this->getHeadersVisibility() || $this->getFilterVisibility()): ?>
                <?php if ($this->getHeadersVisibility()): ?>
                    <?php foreach ($this->getColumns() as $_column): ?>
                        <div class="colonne"><div><?php echo $_column->getHeaderHtml() ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php /* if ($this->getFilterVisibility()): ?>
                    <div class="filter">
                        <?php $i=0;foreach ($this->getColumns() as $_column): ?>
                            <div class="colonne"><div><?php echo $_column->getFilterHtml() ?></div></div>
                        <?php endforeach; ?>
                    </div>
                <?php endif */ ?>
            <?php endif; ?>
        </div>
        <?php if (($this->getCollection()->getSize()>0) && (!$this->getIsCollapsed())): ?>
            <?php foreach ($this->getCollection() as $_index=>$_item): ?>
                <div class="table-main <?php if ($_class = $this->getRowClass($_item)) { echo $_class; } ?>">
                    <?php $i=0;foreach ($this->getColumns() as $_column): ?>

                        <?php if ($this->shouldRenderCell($_item, $_column)):?>
                            <div class="colonne <?php echo $_column->getCssProperty() ?> <?php echo ++$i==$numColumns?'last':'' ?>">
                                <div class="mobile"><?php if($_column->getHeaderHtml() != '&#160;') : ?><strong><?php echo $_column->getHeaderHtml() ?>:</strong> <?php endif;?><?php echo (($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;') ?></div>
                                <div class="normal"><?php echo (($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;') ?></div>
                            </div>
                        <?php endif;?>

                    <?php endforeach; ?>
                </div>
                <?php if ($_multipleRows = $this->getMultipleRows($_item)):?>
                    <?php foreach ($_multipleRows as $_i):?>
                        <tr>
                            <?php $i=0;foreach ($this->getMultipleRowColumns($_i) as $_column): ?>
                                <td class="">
                                    <?php echo (($_html = $_column->getRowField($_i)) != '' ? $_html : '&nbsp;') ?>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                        <div class="table-main">
                            <?php $i=0;foreach ($this->getColumns() as $_column): ?>

                                <?php if ($this->shouldRenderCell($_item, $_column)):?>
                                    <div class="colonne <?php echo $_column->getCssProperty() ?> <?php echo ++$i==$numColumns-1?'last':'' ?>">
                                        <div class="mobile"><strong><?php echo $_column->getHeaderHtml() ?>:</strong> <?php echo (($_html = $_column->getRowField($_i)) != '' ? $_html : '&nbsp;') ?></div>
                                        <div class="normal"><?php echo (($_html = $_column->getRowField($_i)) != '' ? $_html : '&nbsp;') ?></div>
                                    </div>
                                <?php endif;?>

                            <?php endforeach; ?>
                        </div>
                    <?php endforeach;?>
                <?php endif;?>
            <?php endforeach; ?>
        <?php elseif ($this->getEmptyText()): ?>
            <div class="table-main">
                <div class="colonne empty-text <?php echo $this->getEmptyTextClass() ?>">
                    <div class="mobile"><?php echo $this->getEmptyText() ?></div>
                    <div class="normal"><?php echo $this->getEmptyText() ?></div>
                </div>
            </div>
        <?php endif; ?>
    </div>
    <!-- </div> -->
<!-- </div> -->
<?php /*
<script type="text/javascript">
//<![CDATA[
    if (typeof(FORM_KEY) == 'undefined') {
        var FORM_KEY = 'unneeded';
    }
    <?php echo $this->getJsObjectName() ?> = new varienGrid('<?php echo $this->getId() ?>', '<?php echo $this->getGridUrl() ?>', 'page', 'sort', 'dir', 'filter');
    <?php echo $this->getJsObjectName() ?>.useAjax = '<?php echo $this->getUseAjax() ?>';
    <?php if($this->getRowClickCallback()): ?>
        <?php echo $this->getJsObjectName() ?>.rowClickCallback = <?php echo $this->getRowClickCallback() ?>;
    <?php endif; ?>
    <?php if($this->getCheckboxCheckCallback()): ?>
        <?php echo $this->getJsObjectName() ?>.checkboxCheckCallback = <?php echo $this->getCheckboxCheckCallback() ?>;
    <?php endif; ?>
    <?php if($this->getRowInitCallback()): ?>
        <?php echo $this->getJsObjectName() ?>.initRowCallback = <?php echo $this->getRowInitCallback() ?>;
        <?php echo $this->getJsObjectName() ?>.initGridRows();
    <?php endif; ?>
    <?php echo $this->getAdditionalJavaScript(); ?>
//]]>
</script>
 */ ?>
<?php endif ?>
