<?php
$websites = Mage::app()->getWebsites();

$websiteCode= Mage::app()->getWebsite()->getCode();


if (count($websites) > 1): ?>
<div class="website-switcher">
    <select id="select-website" title="<?php echo $this->__('Select Store') ?>" onchange="location.href=this.value" style="background-image:url(<?php echo  Mage::getBaseUrl('media').'flag/'.$websiteCode ?>.png);">
        <?php foreach ($websites as $website): // print out each website name and code as a dropdown box item ?>
        <?php $_selected = $website->getCode() == Mage::app()->getWebsite()->getCode() ? ' selected="selected"' : '' ?>
        <option style="background-image:url(<?php echo  Mage::getBaseUrl('media').'flag/'.$website->getCode() ?>.png);" value="<?php echo $website->getDefaultStore()->getBaseUrl()?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($website->getName()) ?></option>
    <?php endforeach; ?>
    </select>
</div>
<?php endif; ?>