<?php
$websites = Mage::app()->getWebsites();

$websiteCode= Mage::app()->getWebsite()->getCode();


if (count($websites) > 1): ?>
<div class="website-switcher">

    <select id="select-website" title="<?php echo $this->__('Select Store') ?>" onchange="location.href=this.value" style="background-image:url(<?php echo  Mage::getBaseUrl('media').'flag/'.$websiteCode ?>.png);">
        <?php foreach ($websites as $website): // print out each website name and code as a dropdown box item ?>
        <?php $_selected = $website->getCode() == Mage::app()->getWebsite()->getCode() ? ' selected="selected"' : '' ?>
        <option style="background-image:url(<?php echo  Mage::getBaseUrl('media').'flag/'.$website->getCode() ?>.png);" value="<?php echo $website->getDefaultStore()->getBaseUrl()?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($website->getName()) ?></option>
    <?php endforeach; ?>
    </select>
</div>
<?php endif; ?>
<div class="website_switch_area">
  <div class="current_website">
    <img class="cw_flag" src="<?php echo  Mage::getBaseUrl('media').'flag/'.Mage::app()->getWebsite()->getCode();?>.png">
    <span class="cw_name"><?php echo $this->htmlEscape(Mage::app()->getWebsite()->getName());?></span>
    <img class="cw_arrow" src="<?php echo  Mage::getBaseUrl('media').'flag/'?>arrow.png">
  </div>
  <ul class="website-switch" style="display:none">
    <?php foreach ($websites as $website): ?>
      <?php $_selected = $website->getCode() == Mage::app()->getWebsite()->getCode() ? ' selected="selected"' : '' ?>
      <li class="switchlocation" style="background-image:url(<?php echo  Mage::getBaseUrl('media').'flag/'.$website->getCode() ?>.png);" data-img="<?php echo  Mage::getBaseUrl('media').'flag/'.$website->getCode() ?>.png" data-url="<?php echo $website->getDefaultStore()->getBaseUrl()?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($website->getName()) ?></li>
    <?php endforeach; ?>
  </ul>
</div>
<div class="mobile_website_switch_area">
  <div class="current_website">
    <img class="cw_flag" src="<?php echo  Mage::getBaseUrl('media').'flag/'.Mage::app()->getWebsite()->getCode();?>.png">
    <span class="cw_name"><?php echo $this->htmlEscape(Mage::app()->getWebsite()->getName());?></span>
    <img class="cw_arrow" src="<?php echo  Mage::getBaseUrl('media').'flag/'?>arrow.png">
  </div>
  <ul class="website-switch" style="display:none">
    <?php foreach ($websites as $website): ?>
      <?php $_selected = $website->getCode() == Mage::app()->getWebsite()->getCode() ? ' selected="selected"' : '' ?>
      <li class="switchlocation" style="background-image:url(<?php echo  Mage::getBaseUrl('media').'flag/'.$website->getCode() ?>.png);" data-img="<?php echo  Mage::getBaseUrl('media').'flag/'.$website->getCode() ?>.png" data-url="<?php echo $website->getDefaultStore()->getBaseUrl()?>"<?php echo $_selected ?>><?php echo $this->htmlEscape($website->getName()) ?></li>
    <?php endforeach; ?>
  </ul>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("#mm-ct-menu-sj_top_menu").after(jQuery(".mobile_website_switch_area"));
    jQuery(".mobile_website_switch_area").after(jQuery(".store-language-container").html());
  });
  jQuery(".website_switch_area .current_website").on("click",function(){
    jQuery(".website_switch_area .website-switch").toggle();
  });
  jQuery(".mobile_website_switch_area .current_website").on("click",function(){
    jQuery(".mobile_website_switch_area .website-switch").toggle();
  });
  jQuery(".website_switch_area .website-switch .switchlocation").on("click",function(){
      jQuery(".website_switch_area .current_website .cw_flag").attr("src",jQuery(this).attr("data-img"));
      jQuery(".website_switch_area .current_website .cw_name").text(jQuery(this).text());
      if(!jQuery(this).attr("selected")){
        window.location.href = jQuery(this).attr("data-url");
      }
  });
  jQuery(".mobile_website_switch_area .website-switch .switchlocation").on("click",function(){
      jQuery(".website_switch_area .current_website .cw_flag").attr("src",jQuery(this).attr("data-img"));
      jQuery(".website_switch_area .current_website .cw_name").text(jQuery(this).text());
      if(!jQuery(this).attr("selected")){
        window.location.href = jQuery(this).attr("data-url");
      }
  });
</script>