<?php    $slide_status=$this->getResponsivebannersliderEnabled();   ?>
<?php    $slide_speed=$this->getResponsivebannersliderSpeed();   ?>
<?php    $slide_type=$this->getResponsivebannerSlideType(); ?>
<?php    $slide_BannerLoop=$this->getResponsivebannerBannerLoop(); ?>
<?php    $slide_PauseOnhover=$this->getResponsivebannerPauseOnhover(); ?>

<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: visible;">
  <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    <div style="position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
  </div>
  <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
<?php
if($slide_status==1){ 
  if($slide_type=='2' || $slide_type=='1'){ 
    $collection = Mage::getModel("responsivebannerslider/responsivebannerslider")->getCollection()->addFieldToFilter("status","0")->addStoreFilter(Mage::app()->getStore());
    $collection->getSelect()->order('imageorder','ASC');
    if(count($collection)>0)
    { 
      foreach ($collection as $key => $slide) {
        $title = $slide->getTitle();
        $description = $slide->getDescription(); 
        $urlx = $slide->getImage(); 
        $media_url =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
        $imgurl=$media_url.$urlx;
        $url = $slide->getUrl(); 
        if(strlen($url)>0){$anc = '<a href="'.$url.'">';}else{$anc = '<a>';}
        echo '<div data-p="225.00" data-po="80% 55%" style="display: none;">'.$anc.'<img alt="" src="'.$imgurl.'" data-u="image" /></a></div>';
      }
    }
  }
}  ?>
  <a data-u="add" href="http://www.jssor.com" style="display: none;">Jssor Slider</a>
  </div>
  <div data-u="navigator" class="jssorb05" style="bottom: 12px; right: 16px;" data-autocenter="1">
    <div data-u="prototype" style="width: 13px; height: 13px;"></div>
  </div>
  <span data-u="arrowleft" class="jssora22l" style="top: 0px; left: 12px; width: 30px; height: 28px;" data-autocenter="2"></span>
  <span data-u="arrowright" class="jssora22r" style="top: 0px; right: 12px; width: 30px; height: 28px;" data-autocenter="2"></span>
</div>

<script>
  jQuery(document).ready(function ($) {
        var jssor_1_SlideoTransitions = [
          [{b:5500,d:3000,o:-1,r:240,e:{r:2}}],
          [{b:-1,d:1,o:-1,c:{x:51.0,t:-51.0}},{b:0,d:1000,o:1,c:{x:-51.0,t:51.0},e:{o:7,c:{x:7,t:7}}}],
          [{b:-1,d:1,o:-1,sX:9,sY:9},{b:1000,d:1000,o:1,sX:-9,sY:-9,e:{sX:2,sY:2}}],
          [{b:-1,d:1,o:-1,r:-180,sX:9,sY:9},{b:2000,d:1000,o:1,r:180,sX:-9,sY:-9,e:{r:2,sX:2,sY:2}}],
          [{b:-1,d:1,o:-1},{b:3000,d:2000,y:180,o:1,e:{y:16}}],
          [{b:-1,d:1,o:-1,r:-150},{b:7500,d:1600,o:1,r:150,e:{r:3}}],
          [{b:10000,d:2000,x:-379,e:{x:7}}],
          [{b:10000,d:2000,x:-379,e:{x:7}}],
          [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:9100,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:10000,d:1600,x:-200,o:-1,e:{x:16}}]
        ];
        var jssor_1_options = {
          $AutoPlay: true,
          $SlideDuration: 800,
           $SlideEasing: $Jease$.$OutQuint,
          $CaptionSliderOptions: {
            $Class: $JssorCaptionSlideo$,
            $Transitions: jssor_1_SlideoTransitions
          },
          $ArrowNavigatorOptions: {
            $Class: $JssorArrowNavigator$
          },
          $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$
          }
        };
        
        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
        
        function ScaleSlider() {
            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 1920);
                jssor_1_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
    });
</script>