<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output'); 
    $_imageszoom = $this->helper('colorswatch/zoom');
    $_tinkHelper = $this->helper('tinkcatalog/data');
?>
<?php $config = $_imageszoom->getTemplateConfig();?>
<div class="colorswatch-images-zoom">	
	<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
	
		<?php $class = $_imageszoom->checkPositionMainImage($config);?>
		
		<?php if (count($this->getGalleryImages()) > 0 && $_imageszoom->checkPositionThumbnails($config)=='top'): ?>			
			<?php echo $this->getChildHtml('colorswatch.view.thumbnails');?>
		<?php endif;?>
		
		<div class="zoom-container <?php echo $class;?>">
			 <?php
                 $classEpuise = "";

                 if(!$_tinkHelper->isInStock($_product)) {
                     $classEpuise = "epuise";
                 }

		        $_img = '<img id="image" class="'.$classEpuise.'" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(400)->setQuality(100).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
		        echo $_helper->productAttribute($_product, $_img, 'image');
		     ?>

            <?php if(!$_tinkHelper->isInStock($_product)): ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Épuisé') ?></span></p>
            <?php endif; ?>

            <div class="etiquettes">
            <?php $inventory = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product); ?>
                <?php if ($_tinkHelper->isPromotion($_product)): ?>
                    <div class="promotion"><?php echo $this->__('Promotion') ?></div>
                <?php elseif ($inventory->getBackorders() ==0 && $qty = $_tinkHelper->getQtyLimitReached($_product)): ?>
                    <div class="remaining-items"><?php echo $this->__('Only %s left', "{$qty}") ?></div>
                <?php elseif ($_tinkHelper->isNewProduct($_product)): ?>
                    <div class="nouveau-produit"><?php echo $this->__('New') ?></div>
                <?php elseif ($_tinkHelper->isBestSeller($_product)): ?>
                    <div class="bestseller"><?php echo $this->__('Bestseller') ?></div>
                <?php endif; ?>
            </div>
		</div>
		
	
		<div class="colorswatch-zoom-box" style=";width:<?php echo $config->getZoomBoxWidth()?>px; height:<?php echo $config->getZoomBoxHeight()?>px; display:none">
			<?php
		        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($config->getImageWidth()*$config->getZoomRatio(), $config->getImageHeight()*$config->getZoomRatio())->setQuality(100).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
		        echo $_helper->productAttribute($_product, $_img, 'image');
		     ?>
		</div>
		
		
		<?php if (count($this->getGalleryImages()) > 0 && ($_imageszoom->checkPositionThumbnails($config)=='bottom' || $_imageszoom->checkPositionThumbnails($config)=='right' || $_imageszoom->checkPositionThumbnails($config)=='left')): ?>
			<?php echo $this->getChildHtml('colorswatch.view.thumbnails');?>
		<?php endif;?>
		
	<?php else:?>
		
		
		<?php $class = $_imageszoom->checkPositionMainImage($config);?>
		
		<div class="zoom-container <?php echo $class;?>">
			 <?php
		        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(400)->setQuality(100).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
		        echo $_helper->productAttribute($_product, $_img, 'image');
		     ?>
		</div>
		
		
	<?php endif;?>	

	<script>
		var colorSwatchZoomSettings = '<?php echo $_imageszoom->getJsonConfig();?>';
		$j(document).ready(function(){
			//INIT PLUGIN
			IWD.Zoom.init('.zoom-container', '.thumbnails-container');
		});
	</script>

</div>	
