<?php
/**
 * WDCA - Sweet Tooth
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the WDCA SWEET TOOTH POINTS AND REWARDS 
 * License, which extends the Open Software License (OSL 3.0).
 * The Sweet Tooth License is available at this URL: 
 *     https://www.sweettoothrewards.com/terms-of-service
 * The Open Software License is available at this URL: 
 *      http://opensource.org/licenses/osl-3.0.php
 * 
 * DISCLAIMER
 * 
 * By adding to, editing, or in any way modifying this code, WDCA is 
 * not held liable for any inconsistencies or abnormalities in the 
 * behaviour of this code. 
 * By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by WDCA, outlined in the 
 * provided Sweet Tooth License. 
 * Upon discovery of modified code in the process of support, the Licensee 
 * is still held accountable for any and all billable time WDCA spent 
 * during the support process.
 * WDCA does not guarantee compatibility with any other framework extension. 
 * WDCA is not responsbile for any inconsistencies or abnormalities in the
 * behaviour of this code if caused by other framework extension.
 * If you did not receive a copy of the license, please send an email to 
 * support@sweettoothrewards.com or call 1.855.699.9322, so we can send you a copy 
 * immediately.
 * 
 * @category   [TBT]
 * @package    [TBT_Rewards]
 * @copyright  Copyright (c) 2014 Sweet Tooth Inc. (http://www.sweettoothrewards.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

/**
 * Customer Summary
 *
 * @category   TBT
 * @package    TBT_Rewards
 * * @author     Sweet Tooth Inc. <support@sweettoothrewards.com>
 */
?>
<div class="box-account box-info mypoints-summary">
    <div class="box-head">
        <h2><?php echo $this->__('Points Summary'); ?></h2>
    </div>
    <div class="box-content">
        <div class="usable-points">
            <?php echo $this->__('You have %s in your account.', $this->getCustomerPointsSummary()); ?>
            <?php if($this->getDaysUntilExpiry()): ?>
               <!--<div class="expiry-points"><?php echo $this->__('Your points balance will expire in %s days.', $this->getDaysUntilExpiry()); ?></div>-->
            <?php endif; ?>
        </div>
        <div class="pending-points">
            <?php if($this->hasPendingPoints()): ?>
                <div class="pendingevent-points">
                    <?php echo $this->__('%s are pending approval.', $this->getCustomerPendingPointsSummary()); ?>
                </div>
            <?php endif; ?>
            <?php if($this->hasPendingTimePoints()): ?>
                <div class="pendingtime-points">
                    <?php echo $this->__('%s are pending time.', $this->getCustomerPendingTimePointsSummary()); ?>
                </div>
            <?php endif; ?>
            <?php if($this->hasOnHoldPoints()): ?>
                <div class="pendingapproval-points">
                    <?php echo $this->__('%s are on hold.', $this->getCustomerOnHoldPointsSummary()); ?>
                </div>
            <?php endif; ?>
        </div>
        
        <div class="msg">
            <?php echo $this->getSummaryMsg() /* this can be customized completely by modifying the display config option or by just removing this line and adding your own content.*/ ?>
        </div>
        
        <?php if ($this->doShowRewardsLink()): ?>
            <a href="<?php echo $this->getUrl('rewards/customer'); ?>">
                <?php echo $this->__('Visit My Points & Rewards Section') ?>
            </a>
        <?php endif; ?>
    </div>
</div>
