<?php if ($this->showSendReferralForm()): ?>
<div class="rewardsref_myreferrals_multireferral_section">
    <a name="refer_form"></a>
    <form action="<?php echo $this->getUrl('rewardsref/customer/invites/') ?>" method="post" id="form-validates" class="scaffold-form">
        <div class="fieldset">
            <div class="box-account">
                <div class="box-head">
                    <h2><?php echo $this->__('Get friends to join !') ?></h2>
                    <p><?php echo $this->__('Earn 500 S&J Points when each friend you have invited makes their first purchase using your personal invite link.') ?></p>
                </div>
                <ul class="form-list">
                    <li class="fields" >
                        <label for="to"><?php echo $this->__('To') ?></label>
                        <div class="input-box">
                            <textarea name="contacts" id="recipient_list" class="rewardsref_recipient_list" rows="7" placeholder="<?php echo $this->__('Send invitations - Enter one email address per line\nfriend1@gmail.com\nfriend2@gmail.com\nfriend3@gmail.com') ?>"></textarea>
                        </div>
                    </li>
                    <li class="fields" style="display:none;">
                        <label for="subject"><?php echo $this->__('Subject (Optional)') ?></label>
                        <div class="input-box">
                            <textarea name="subject" id="subject" class="required-entry textarea" style="width:100%;" rows="1" cols="80" title="<?php echo $this->__('Subject') ?>"  ></textarea>
                        </div>
                    </li>
                    <li class="fields">
                        <label for="message"><?php echo $this->__('Message (Optional)') ?> </label>
                        <div class="input-box">
                            <textarea name="message" id="message" class="required-entry textarea" style="width:100%;" rows="4" cols="80" title="<?php echo $this->__('Short Message') ?>"  ></textarea>
                        </div>
                    </li>
                </ul>

<!--
                <div class="referral_share_limit">
                    <?php if ($this->showRefShareLimitReached()) : ?>
                        <p><?php echo $this->__('You\'ve reached referral link sharing rewards limit for today (%s). You can still send invitations, though.', $this->_getMaxReferralSharesPerDay()); ?></p>
                    <?php endif; ?>
                </div>
-->
                <div class="button-set" style="margin-top:0px">
                    <!--<a href="<?php echo $this->getBackUrl() ?>" class="left">&laquo; <?php echo $this->__('Back') ?></a>-->
                    <button type="submit" title="<?php echo $this->__('Send Invitation(s)') ?>" class="button btn-cart"><span><span><?php echo $this->__('Send Invitation(s)') ?></span></span></button>
                </div>

            </div>
        </div>
    </form>

    <script type="text/javascript">
        var dataForm = new VarienForm('form-validate', true);
    </script>

</div>
<?php endif; ?>
