<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Easycategories
 * @version    1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
?>
<?php $__subCategories = $this->getSubcategoriesForCategory(); ?>
<?php if ($__subCategories->count()): ?>

    <?php if ($this->scanSubSubCategories($__subCategories)): ?>
    
        <div class="columns">
        <?php if (!$this->isInRootCategory()): ?>
        <h2>
            <?php echo Mage::registry('current_category')->getName() ?>
        </h2>
        <?php endif; ?>

        <table>
        <?php foreach ($__subCategories as $category):?>
            <tr>
                <td>
                    <div>
                        <?php if ($this->getThumbnailImg($category)): ?>
                            <a href = "<?php echo Mage::helper('catalog/category')->getCategoryUrl($category) ?>">
                                <img src=<?php echo Mage::app()->getStore(0)->getBaseUrl('media').'catalog/category/'.$this->getThumbnailImg($category); ?> width="<?php echo $this->getThumbnailSize(); ?>px" />
                            </a>
                        <?php endif; ?>
                    </div>
                </td>
                <td>
                    <div>
                    <?php if ($this->getThumbnailInsteadofText($category)): ?>
                        <div class="cat_name">
                            <a href = "<?php echo Mage::helper('catalog/category')->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a>
                        </div>
                    <?php endif; ?>
                    <?php if (($__activeSubCategories = $this->getActiveSubcategories($category))): ?>
                        <div class="sub_cats">
                            <?php foreach($__activeSubCategories as $key => $subCategory):?>
                                <div class="sub_catname"><a href = "<?php echo Mage::helper('catalog/category')->getCategoryUrl($subCategory) ?>"><?php echo $subCategory->getName() ?></a></div>
                            <?php endforeach ?>
                        </div>
                    <?php endif ?>
                    </div>
                </td>
            </tr>
        <?php endforeach ?>
        </table>
        </div>

    <?php else: ?>

        <div class="columns">
            <?php if (!$this->isInRootCategory()): ?>
            <h2>
                <?php echo Mage::registry('current_category')->getName() ?>
            </h2>
            <?php endif ?>
            <?php foreach ($__subCategories as $category):?>
                <div class="sub">
                    <div class="sub_catname">
                        <a href = "<?php echo Mage::helper('catalog/category')->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
        <div style="clear:both"></div>
        
    <?php endif; ?>

<?php endif; ?>
