<style>
.entry-edit fieldset li, .entry-edit .fieldset li{margin:0}
</style>
<script>
	var urlFlashObject = '<?echo $this->getFlashObject();?>';
	var urlUpload = '<?php echo $this->getUploadUrl();?>';
	var colorPickerMode = <?php echo Mage::helper('colorswatch')->isColorPickerMode();?>;
</script>

<?php 
foreach($this->getCollection() as $attribute){
    echo '<input type="hidden" name="attribute_list[]" value="'.$attribute->getAttributeId().'" />';
}
?>

<?php echo $this->getPagerHtml();

foreach ($this->getCollection() as $attribute):?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><a href="" class="close"><?php echo $attribute->getFrontendLabel();?> (<?php echo $attribute->getAttributecode();?>)</a></h4>
    </div>
    <div id="base_fieldset" class="fieldset close-tab">
    <div class="hor-scroll">
        <div class="attribute-enable-colorswatch">
            <label><input <?php if ($this->checkIsAllow($attribute->getAttributeId())):?>checked="checked"<?php endif;?> type="checkbox" name="allow_attribute[<?php echo $attribute->getAttributeId()?>][status]" value="1"/> Allow Color Swatch for <strong><?php echo $attribute->getFrontendLabel();?></strong> attribute</label>
            <label><input <?php if ($this->checkIsAllowAdditional($attribute->getAttributeId())):?>checked="checked"<?php endif;?> type="checkbox" name="allow_attribute[<?php echo $attribute->getAttributeId()?>][additional]" value="1"/> Use Additional Options</label>
        </div>
    		
    <?php $options = $attribute->getSource()->getAllOptions(false);?>
    <?php if (Mage::helper('colorswatch')->isColorPickerMode()):?>
    <div class="grid">
        <table cellspacing="0" class="data">
            <colgroup>
                <col width="100">
                <col width="65">
                <col />
            </colgroup>
            <thead>
                <tr class="headings">
                    <th class=" no-link"><span class="nobr">Name</span></th>
                    <th class=" no-link a-center"><span class="nobr">Color</span></th>
                    <th class=" no-link"><span class="nobr">Additional</span></th>    							
                </tr>
            </thead>
        <?php foreach($options as $option):?>
            <tr id="attribute_<?php echo $attribute->getAttributecode()?>_<?php echo $option['value']?>_row">
                <td><?php echo $option['label']?></td>
                <td>
                    <?php $color = $this->getBackground($attribute->getAttributeId(), $option['value'], 'image');?>
                    <div data-color="<?php echo $color;?>" class="colorpicker-colorswatch" id="attribute1_<?php echo $attribute->getAttributecode()?>_<?php echo $option['value']?>" <?php if (!empty($color)):?>style="background-color:#<?php echo $color?>"<?php endif;?>>
                        <input type="hidden" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo $option['value']?>][image]" value="<?php echo $this->getValueImage('image', $attribute->getAttributeId(), $option['value'], true)?>" /> 
                        <input type="hidden" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo $option['value']?>][id]" value="<?php echo $this->getEntryId($attribute->getAttributeId(), $option['value'])?>" />
                    </div>
                </td>				    										    						
                <td>
                    <ul id="category_info_tabs" class="tabs-horiz">
                        <li><a class="tab-item-link active" title="General Information" id="tabs_active_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>" href="#"><span>Active Image</span></a></li>
                        <li><a class="tab-item-link" title="General Information" id="tabs_hover_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>" href="#"><span>Hover Image</span></a></li>
                        <li><a class="tab-item-link" title="General Information" id="tabs_disabled_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>" href="#"><span>Disabled Image</span></a></li>
                    </ul>
                    <div class="category_tab_content">
                        <div id="tabs_active_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>_tab" class="tab-user">
                            <?php $color = $this->getBackground($attribute->getAttributeId(), $option['value'], 'active');?>
                            <div data-color="<?php echo $color;?>" class="colorpicker-colorswatch" id="active_attribute_<?php echo $attribute->getAttributecode()?>_<?php echo  $option['value']?>" <?php if (!empty($color)):?>style="background-color:#<?php echo $color?>"<?php endif;?>>
                                <input type="hidden" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][active]" value="<?php echo $this->getValueImage('active', $attribute->getAttributeId(), $option['value'], true)?>" /> 					    								
                            </div>
                        </div>

                        <div id="tabs_hover_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>_tab" style="display:none"  class="tab-user">
                            <?php $color = $this->getBackground($attribute->getAttributeId(), $option['value'], 'hover');?>
                            <div data-color="<?php echo $color;?>" class="colorpicker-colorswatch" id="hover_attribute_<?php echo $attribute->getAttributecode()?>_<?php echo  $option['value']?>" <?php if (!empty($color)):?>style="background-color:#<?php echo $color?>"<?php endif;?>>
                                <input type="hidden" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][hover]" value="<?php echo $this->getValueImage('hover', $attribute->getAttributeId(), $option['value'], true)?>" /> 					    								
                            </div>
                        </div>

                        <div id="tabs_disabled_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>_tab" style="display:none"  class="tab-user">
                            <?php $color = $this->getBackground($attribute->getAttributeId(), $option['value'], 'disabled');?>
                            <div data-color="<?php echo $color;?>" class="colorpicker-colorswatch" id="disabled_attribute_<?php echo $attribute->getAttributecode()?>_<?php echo  $option['value']?>" <?php if (!empty($color)):?>style="background-color:#<?php echo $color?>"<?php endif;?>>
                                <input type="hidden" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][disabled]" value="<?php echo $this->getValueImage('disabled', $attribute->getAttributeId(), $option['value'], true)?>" /> 					    								
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        <?php endforeach;?> 
        </table>
    </div>
        
    <?php else:?>

    <div class="grid">
    <table cellspacing="0" class="data ">
        <colgroup>
            <col width="100">
            <col width="95">
            <col width="35">
            <col width="35">
            <col />
        </colgroup>
        <thead>
            <tr class="headings">
                <th class=" no-link"><span class="nobr">Name</span></th>
                <th class=" no-link"><span class="nobr">Upload Image</span></th>
                <th class=" no-link"><span class="nobr">Preview</span></th>
                <th class=" no-link"><span class="nobr">Remove</span></th>
                <th class=" no-link"><span class="nobr">Additional</span></th>    							
            </tr>
        </thead>
    <?php foreach($options as $option):?>
        <tr>
            <td><?php echo $option['label']?></td>
            <?php $_code = $attribute->getAttributecode() . '_' . $option['value'];?>
            <td><input type="file" name="attribute_<?php echo $_code?>" id="attribute_<?php echo $_code?>_image" class="upload-input" style="display:none;"/></td>
            <td>    						
                <div class="image-option">
                    <img src="<?php echo $this->getUrlImage('image', $attribute->getAttributeId(), $option['value'])?>" id="attribute_<?php echo $_code?>_image_image"/>
                    <input type="hidden" id="attribute_<?php echo $_code?>_image_value" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][image]" value="<?php echo $this->getValueImage('image', $attribute->getAttributeId(), $option['value'])?>" class="file-load" />
                    <input type="hidden" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][id]" value="<?php echo $this->getEntryId($attribute->getAttributeId(), $option['value'])?>" class="file-load" />
                </div>    							
            </td>
            <td class="a-center">
                <input type="checkbox"  name="remove[<?php echo $this->getEntryId($attribute->getAttributeId(), $option['value'])?>][image]" value="1"/>    							
            </td>
            <td>
                <ul id="category_info_tabs" class="tabs-horiz">
                    <li><a class="tab-item-link active" id="tabs_active_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>" href=""><span>Active Image</span></a></li>
                    <li><a class="tab-item-link" title="General Information" id="tabs_hover_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>" href=""><span>Hover Image</span></a></li>
                    <li><a class="tab-item-link" id="tabs_disabled_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>" href=""><span>Disabled Image</span></a></li>
                </ul>
                <div class="category_tab_content">
                    <div id="tabs_active_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>_tab" class="tab-user">
                        <div class="addditional-preview">
                            <img src="<?php echo $this->getUrlImage('active', $attribute->getAttributeId(), $option['value'])?>" id="attribute_<?php echo $_code?>_active_image" />
                        </div>
                        <input type="file" name="attribute_<?php echo $attribute->getAttributecode()?>_<?php echo  $option['value']?>" id="attribute_<?php echo $_code?>_active" class="upload-input" style="display:none;" />
                        <input type="hidden" id="attribute_<?php echo $_code?>_active_value" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][active]" value="<?php echo $this->getValueImage('active', $attribute->getAttributeId(), $option['value'])?>"  />
                    </div>

                    <div id="tabs_hover_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>_tab" style="display:none"  class="tab-user">
                        <div class="addditional-preview">
                            <img src="<?php echo $this->getUrlImage('hover', $attribute->getAttributeId(), $option['value'])?>" id="attribute_<?php echo $_code?>_hover_image" />
                        </div>

                        <input type="file" name="attribute_<?php echo $attribute->getAttributecode()?>_<?php echo  $option['value']?>" id="attribute_<?php echo $_code?>_hover" class="upload-input" style="display:none;" />
                        <input type="hidden" id="attribute_<?php echo $_code?>_hover_value" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][hover]" value="<?php echo $this->getValueImage('hover', $attribute->getAttributeId(), $option['value'])?>"  />
                    </div>

                    <div id="tabs_disabled_<?php echo $attribute->getAttributeId()?>_<?php echo $option['value']?>_tab" style="display:none"  class="tab-user">
                        <div class="addditional-preview">
                            <img src="<?php echo $this->getUrlImage('disabled', $attribute->getAttributeId(), $option['value'])?>" id="attribute_<?php echo $_code?>_disabled_image" />
                        </div>
                        <input type="file" name="attribute_<?php echo $attribute->getAttributecode()?>_<?php echo  $option['value']?>" id="attribute_<?php echo $_code?>_disabled" class="upload-input" style="display:none;" />
                        <input type="hidden" id="attribute_<?php echo $_code?>_disabled_value" name="image[<?php echo $attribute->getAttributeId()?>][<?php echo  $option['value']?>][disabled]" value="<?php echo $this->getValueImage('disabled', $attribute->getAttributeId(), $option['value'])?>"  />
                    </div>
                </div>
            </td>
        </tr>

<?php endforeach;?> 
    </table>
    </div>
    <?php endif;?>
        </div>
    </div>
</div>
<?php endforeach;?>
