<?php
$_product = $this->getProduct();
$_columnCount = $this->getData('columnCount');
$_compareUrl = $this->getData('compareUrl');
$i = $this->getData('index');

$_helper = $this->helper('catalog/output');
$_tinkHelper = $this->helper('tinkcatalog/data');
?>
<li
  class="item <?php if (($i) % $_columnCount == 0): ?>first<?php elseif ($i + 1 % $_columnCount == 0): ?> last<?php endif; ?> ">

  <a href="<?php echo $_product->getProductUrl() ?>"
     title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), NULL, TRUE) ?>"
     class="product-image">
    <img id="product-collection-image-<?php echo $_product->getId(); ?>"
         class="<?php echo !$_tinkHelper->isInStock($_product)?'epuise':''; ?>"
         src="<?php echo $this->helper('catalog/image')
           ->init($_product, 'small_image')
           ->resize(360)
           ->setQuality(100); ?>"
         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), NULL, TRUE) ?>"/>

    <?php if (!$_tinkHelper->isInStock($_product)): ?>
      <p class="availability out-of-stock">
        <span><?php echo $this->__('Épuisé') ?></span></p>
    <?php endif; ?>
  </a>

  <div class="actions">
    <?php $inventory = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product); ?>
      <?php if ($_tinkHelper->isPromotion($_product)): ?>
        <div class="promotion"><?php echo $this->__('Promotion') ?></div>
      <?php elseif ($inventory->getBackorders() ==0 && $qty = $_tinkHelper->getQtyLimitReached($_product)): ?>
        <div class="remaining-items"><?php echo $this->__('Only %s left', "{$qty}") ?></div>
      <?php elseif ($_tinkHelper->isNewProduct($_product)): ?>
        <div class="nouveau-produit"><?php echo $this->__('New') ?></div>
      <?php elseif ($_tinkHelper->isBestSeller($_product)): ?>
        <div class="bestseller"><?php echo $this->__('Bestseller') ?></div>
      <?php endif; ?>

  </div>


  <div class="product-desc">
    <div class="product-info">
      <h2 class="brand-name"><?php echo $_product->getAttributeText('manufacturer'); ?></h2>

      <h3 class="product-name"><a
          href="<?php echo $_product->getProductUrl() ?>"
          title="<?php echo $this->stripTags($_product->getName(), NULL, TRUE) ?>"><?php echo $this->helper('catalog/output')
            ->productAttribute($_product, $_product->getName(), 'name') ?></a>
      </h3>

      <?php echo $this->getPriceHtml($_product, TRUE, '-widget-new-grid') ?>
      <?php //echo $this->getLayout()->createBlock('colorswatch/catalog_product_list_switch')->setProduct($_product)->setTemplate('colorswatch/catalog/product/list/colorswatch.phtml')->toHtml(); ?>
      <?php
      $_c_nb_shades = $_product->getData('c_nb_shades');
      if (!empty($_c_nb_shades)): ?>
        <div class="shades"><?php echo $_helper->productAttribute($_product, $_c_nb_shades, 'c_nb_shades'); ?></div>
      <?php endif; ?>

      <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
    </div>

    <?php /* if($_compareUrl): ?>
            <div class="lien-comparateur">
                <div class="compare_wrapper">
                    <span class="icon-comparer"></span>
                    <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a>
                </div>
            </div>
        <?php endif; */ ?>
  </div>
</li>
