<?php
$content = $this->getContent();
$content_type = Mage::getModel('contentmanager/contenttype')
    ->load($content->getCtId());
?>

<?php if($content->getData('brand_background')): ?>
    <style>
        .main-container { background:url(<?php echo $content->getImage('brand_background', null, null, true); ?>) no-repeat scroll center top; }
    </style>
<?php endif; ?>
<div class="ct-view ct-view-<?php echo $content_type->getIdentifier(); ?> std" id="ct-view-<?php echo $content->getId(); ?>">

    <h1>
        <?php if($content->getData('brand_logo')): ?>
            <img src="<?php echo $content->getImage('brand_logo', null, null, true); ?>" alt="<?php echo htmlspecialchars($content->getData('title'), ENT_QUOTES, 'UTF-8'); ?>">
        <?php endif; ?>
        <span><?php echo $content->getData('title'); ?></span>
    </h1>

    <?php if($content->getData('brand_content')): ?>
        <div class="left">
            <?php echo $content->render('brand_content'); ?>
        </div>
    <?php endif; ?>

    <?php if($content->getData('brand_right_content')): ?>
        <div class="right">
            <?php echo $content->render('brand_right_content'); ?>
        </div>
    <?php endif; ?>
</div>