<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category    Banana
 * @package     Banana_ContentManager
 * @copyright   Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author      Banana Team
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version     1.1.1
 * 
 * 
 * 
 * 
 * This template loops on all the content fields and render them directly with the method ->render();
 * We recommand to override this template file in your design package folder
 * Documentation: http://www.advancedcontentmanager.com/documentation/content/template-description-and-override
 * 
 * 
 * AVAILABLE METHODS
 * 
 * Get all raw values as an array
 * $content->getData();
 * 
 * Get a specific value by his field identifier
 * $content->getData('field_identifier');
 * $content->getFieldIdentifier();
 * $content->getAttributeText('field_identifier');
 * 
 * Get content type model
 * $content->getContentType();
 * 
 * Get image URL for an image field type.
 * $content->getImage($attributeName, $width = NULL, $height = NULL, $original = false);
 * 
 * Get file absolute URL, for a file field typ
 * $content->getFile($field_identifier);
 * 
 * Get content url
 * $content->getUrl();
 * 
 * Render a field in HTML
 * $content->render($element, $params);
 * 
 * See complete documentation and more examples:
 * http://www.advancedcontentmanager.com/documentation/content/php-helper-methods-render-methods
 * 
 */
?>
<?php
    $content = $this->getContent();
    $content_type = Mage::getModel('contentmanager/contenttype')
                        ->load($content->getCtId());
            
    //$options = $content_type->getContentTypeOptionsCollection();
?>
<div class="ct-view ct-view-<?php echo $content_type->getIdentifier(); ?> std" id="ct-view-<?php echo $content->getId(); ?>">
    <h1><?php echo $content->render('title'); ?></h1>
    <div class="banniere-texte-promotion">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sj_banniere_texte_promotion')->toHtml(); ?>
    </div>
    <div class="head-content">
            <?php
                $imgDesktop = $content->getData('home_header_imgdesktop');
                $imgMobile = $content->getData('home_header_imgmobile');
                $link = $content->getData('home_header_link');
                $alt = $content->getData('home_header_alt')?htmlspecialchars($content->getData('home_header_alt'), ENT_QUOTES, 'UTF-8'):'';
            ?>
            <div class="home-slider">
                <?php
                     if($content->getData("bannerslider")) {
                        echo $content->render("bannerslider");
                }
            ?>
            </div>
            <?php if($imgDesktop && $link): ?>
                <a href="<?php echo $link; ?>" title="<?php echo $alt;?>">
                    <img class="img-desktop" src="<?php echo $content->getImage('home_header_imgdesktop', null, null, true); ?>" alt="<?php echo $alt;?>">
                    <img class="img-mobile" src="<?php echo $content->getImage('home_header_imgmobile', null, null, true); ?>" alt="<?php echo $alt;?>"/>
                </a>
            <?php elseif($imgDesktop): ?>
                <img class="img-desktop" src="<?php echo $content->getImage('home_header_imgdesktop', null, null, true); ?>" alt="<?php echo $alt;?>"/>
                <img class="img-mobile" src="<?php echo $content->getImage('home_header_imgmobile', null, null, true); ?>" alt="<?php echo $alt;?>"/>
            <?php endif; ?>
            <?php
                if($content->getData("home_header_carousel")) {
                    echo $content->render("home_header_carousel");
                }
            ?>
        </div>
    <div class="left">
        

        <div class="focus-content">
            <?php if($content->getData('home_focus_title')): ?>
                <h2><?php echo $content->getData('home_focus_title'); ?></h2>
            <?php endif; ?>
            <?php
                // Loop on home_focus_a, b, c, d .. can't set number in field identifier
                for($char = 97; $char <= 100; $char++) {
                    $oddOrEven = ($char%2) ? 'odd' : 'even';
                    $prefix = 'home_focus_' . chr($char) . '_';

                    if ($content->getData($prefix . 'title')) {
                        $title = $content->getData($prefix . 'title');
                        $link = $content->getData($prefix . 'link');
                        $label = $content->getData($prefix . 'linklabel');
                        ?>
                        <div class="focus <?php echo $oddOrEven; ?>">
                            <div class="image"><img src="<?php echo $content->getImage($prefix . 'img', null, null, true); ?>" alt="<?php echo $content->getData($prefix . 'title');?>"/></div>
                            <div class="title-and-desc">
                                <h3><?php echo $content->getData($prefix . 'title') ?></h3>
                                <div class="description"><?php echo $content->render($prefix . 'desc') ?></div>
                                <div class="lien">
                                    <?php if($link): ?>
                                        <a href="<?php echo $link; ?>"><?php echo $label?$label:$this->__('Discover');?></a>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="image"><img src="<?php echo $content->getImage($prefix . 'img', null, null, true); ?>" alt="<?php echo $content->getData($prefix . 'title');?>"/></div>
                        </div>
                        <?php
                    }
                }
            ?>
        </div>
    </div>

    <div class="right">
    <?php
        // Loop on home_right_block_a, b, c, d .. can't set number in field identifier
        for($char = 97; $char <= 100; $char++) {
            $value = $content->getData('home_right_block_' . chr($char));

            if (!$value) {
                continue;
            }

            if (strpos($value, 'block-') === 0){
                $block = $this->getLayout()->createBlock('cms/block')->setBlockId(substr($value,6));
                echo isset($block)?$block->toHtml():'';
            } elseif (strpos($value, 'category-') === 0) {
                $category = Mage::getModel('catalog/category')->load(substr($value,9));
                if($category) {
                    echo '<div class="carrousel-produit p-container">';
                    $block = $this->getLayout()->createBlock('catalog/product_list')->setTemplate("catalog/product/list-carousel.phtml")->setCategoryId($category->getId());
                    echo $block?"<h2>{$category->getName()}</h2> {$block->toHtml()}":'';
                    echo '</div>';
                }
            }
        }
    ?>
    </div> 

    <div class="bottom-content p-container">
        <?php
            if($content->getData('home_footer_category')) {
                $category = Mage::getModel('catalog/category')->load($content->getData('home_footer_category'));
                if($category) {
                    $block = $this->getLayout()->createBlock('catalog/product_list')->setTemplate("catalog/product/list-carousel.phtml")->setCategoryId($category->getId());
                    echo $block?"<h2>{$category->getName()}</h2> {$block->toHtml()}":'';
                }
            }
        ?>
    </div>
    
</div>