<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.5.1
 */
?>
<?php
    $_identifier = $this->getIdentifier();
    $_content = $this->getContent();
    
    $_contentCollection = $this->getContentCollection(array('title', 'url_key'));
?>
<?php if($_contentCollection->getSize()): ?>
<ul class="ct-content-list" id="ct-content-list-<?php echo $this->getIdentifier(); ?>">
    <?php foreach($_contentCollection as $_content): ?>
        <li class="item">
            <?php $_contentNameStripped = $this->stripTags($_content->getTitle(), null, true); ?>
            <p class="content-title"><a href="<?php echo $_content->getUrl() ?>" title="<?php echo $_contentNameStripped; ?>"><?php echo $_contentNameStripped; ?></a></p>
        </li>
    <?php endforeach; ?>
</ul>
<script type="text/javascript">
    decorateList($('ct-content-list-<?php echo $this->getIdentifier(); ?>'));
</script>
<?php endif; ?>
