.aw-reports-unit-sbpa-container{
    text-align: left;
    padding: 0 0 10px 0;
}
.aw-reports-unit-sbpa-container-list{
    padding: 0 0 5px 0;
}
.aw-reports-unit-sbpa-container-list>div{
    padding: 0 0 5px 0;
}
.aw-reports-unit-sbpa-container select {
    height: 30px;
    border: 1px solid #d7d7d7;
    color: #282828;
}
.aw-reports-unit-sbpa-add_btn {
}

.aw-reports-unit-sbpa-add_btn button {
    width: 150px;
    height: 30px;
    background: #cccccc url('../../images/add_icon.png') no-repeat 13px 7px;
    border: 0;
    color: #282828;
    font-weight: bold;
    font-size: 13px;
    padding-left: 15px;
    border-radius: 2px;
}

.aw-reports-unit-sbpa-add_btn button:hover {
    box-shadow: 0px 1px 5px #999;
}

.aw-reports-unit-sbpa-add_btn button:active {
    background: #b3b3b3 url('../../images/add_icon.png') no-repeat 13px 7px;
    box-shadow: 0px 1px 5px #999;
}

.aw-reports-unit-sbpa-operand{
    display: inline-block;
    padding: 0 5px 0 0;
}
.aw-reports-unit-sbpa-container-list div:first-child .aw-reports-unit-sbpa-operand{
    visibility: hidden;
}
.aw-reports-unit-sbpa-attribute{
    display: inline-block;
    padding: 0 5px 0 0;
}
.aw-reports-unit-sbpa-condition{
    display: inline-block;
    padding: 0 5px 0 0;
}
.aw-reports-unit-sbpa-condition select{
    width: 150px;
}
.aw-reports-unit-sbpa-value{
    display: inline-block;
    padding: 0 5px 0 0;
}
.aw-reports-unit-sbpa-value input{
    width: 300px;
    height: 28px;
    border: 1px solid #d7d7d7;
}
.aw-reports-unit-sbpa-value select{
    width: 304px;
}
.aw-reports-unit-sbpa-remove_btn{
    display: inline-block;
}
.aw-reports-unit-sbpa-remove_btn button {
    width: 100px;
    background: #ff5a40;
    height: 30px;
    border: 0;
    border-radius: 2px;
}

.aw-reports-unit-sbpa-remove_btn button:hover {
    box-shadow: 0px 1px 5px #999;
    background: #e65039;
}

.aw-reports-unit-sbpa-remove_btn button:active {
    box-shadow: 0px 1px 5px #999;
    background: #b33e2d;
}

.arep-button-set.attribute-grid {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: bottom;
}

.arep-button-set.attribute-grid button {
    width: 130px !important;
    color: #fff;
    font-weight: bold;
    margin: 0 !important;
}