//	------------------------------------------------------------
//	FONTS
//	-----------------------------------------------------------*/
@include font-face(AdobeBlank, '#{$fontsPath}AdobeBlank');
@include font-face(lato, '#{$fontsPath}lato-regular-webfont');
@include font-face(lato-bold, '#{$fontsPath}lato-bold-webfont');
@include font-face(lato-semibold, '#{$fontsPath}lato-semibold-webfont');
@include font-face(lato-light, '#{$fontsPath}lato-light-webfont');
@include font-face(lato-thin, '#{$fontsPath}lato-thin-webfont');
@include font-face(lato-black, '#{$fontsPath}lato-black-webfont');
@include font-face(lora, '#{$fontsPath}lora-regular-webfont');
@include font-face(lora-italic, '#{$fontsPath}lora-italic-webfont');
@include font-face(lora-bold, '#{$fontsPath}lora-bold-webfont');
@include font-face(lora-bold-italic, '#{$fontsPath}lora-bolditalic-webfont');
@include font-face(bodoni-recut-regular, '#{$fontsPath}BodoniRecut-Regular-webfont');
@include font-face(bodoni-recut-demibold, '#{$fontsPath}BodoniRecut-Demi-webfont');
@include font-face(bodoni-recut-light, '#{$fontsPath}BodoniRecut-Light-webfont');
@include font-face(bodoni-recut-italic, '#{$fontsPath}BodoniRecut-Italic-webfont');
@include font-face(bodoni-recut-lightitalic, '#{$fontsPath}BodoniRecut-LightItalic-webfont');
@include font-face(scarletjulia, '#{$fontsPath}scarletjulia');


.icon-sj:before, [class^="icon-sj-"], [class*=" icon-sj-"] {
	font-family: 'scarletjulia';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sj-nav:before {
	content: "\e600";
}
.icon-sj-compte:before {
	content: "\e601";
}
.icon-sj-sac:before {
	content: "\e602";
}
.icon-sj-loupe:before {
	content: "\e603";
}
.icon-sj-crayon:before {
	content: "\e604";
}
.icon-sj-cadenas:before {
	content: "\e605";
}
.icon-sj-fleche-bas:before {
	content: "\e606";
}
.icon-sj-fleche-haut:before {
	content: "\e607";
}
.icon-sj-fleche-droite:before {
	content: "\e608";
}
.icon-sj-fleche-gauche:before {
	content: "\e609";
}
.icon-sj-fermer:before {
	content: "\e60a";
}
.icon-sj-facebook:before {
	content: "\e60b";
}
.icon-sj-pinterest:before {
	content: "\e60c";
}
.icon-sj-google-plus:before {
	content: "\e60d";
}
.icon-sj-instagram:before {
	content: "\e60e";
}
.icon-sj-twitter:before {
	content: "\e60f";
}
.icon-sj-youtube:before {
	content: "\e900";
}
.icon-sj-carrousel-fleche-gauche:before {
	content: "\e610";
}
.icon-sj-carrousel-fleche-droite:before {
	content: "\e611";
}
.icon-sj-facebook-normal:before {
	content: "\e612";
}
.icon-sj-twitter-normal:before {
	content: "\e613";
}
.icon-sj-plus:before {
	content: "\e614";
}
.icon-sj-moins:before {
	content: "\e615";
}
.icon-sj-filtre-fleche-haut:before {
	content: "\e616";
}
.icon-sj-filtre-fleche-bas:before {
	content: "\e617";
}
.icon-sj-fleche-haut-gras:before {
	content: "\e618";
}
.icon-sj-fleche-bas-gras:before {
	content: "\e619";
}
.icon-sj-fleche-droite-gras:before {
	content: "\e61a";
}
.icon-sj-fleche-gauche-gras:before {
	content: "\e61b";
}
.icon-sj-rafraichir:before {
	content: "\e61c";
}
.icon-sj-modifier:before {
	content: "\e61d";
}