//	--------------------------------------------------------------
//	GRID
//	--------------------------------------------------------------
//	Position / Width
//
//	Mobile______________Tablet______________________________Desktop
//	portrait        	breakpoint="700px"         			breakpoint="1200px"
//	[1]                 [1][_02_]                           [1][_02_][3]
//	[2]                 [3][4][5]                           [4][5][6][7]
//	[3]                 [_06_][7]                           [____08____]
//	[4]                 [___8___]                           [____09____]
//	[5]                 [___9___]
//	[6]
//	[7]
//	[8]
//	[9]



//	Breakpoint
$breakpoint-tablet: 720px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-normal: 1200px;