//	------------------------------------------------------------
//	MIXINS
//	------------------------------------------------------------



//	Remove text
	@mixin no-text                      { border: 0;clip: rect(0 0 0 0);height: 0px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 0px; }



//	Black transparent background to debug interpolated blocks
	@mixin background-opacity($color, $opacity: 0.1) { background: $color; background: rgba($color, $opacity); }



//	Center the content
	@mixin element_centered_mobile      { max-width:100%; min-width:auto; padding-left:$side_padding_mobile; padding-right:$side_padding_mobile; }
	@mixin element_centered_tablet      { max-width:$width_max_tablet; min-width:$width_min_tablet; margin:$margin_centered; padding-left:$side_padding_tablet; padding-right:$side_padding_tablet; }
	@mixin element_centered_desktop     { max-width:$width_max_desktop; min-width:$width_min_desktop; margin:$margin_centered; padding-left:0; padding-right:0; }



//	Cancels
	@mixin cancel_element_centered      { margin:0; min-width:0; max-width:100%; padding-left:0; padding-right:0;  }
	@mixin element_cancel_min_width     { min-width:auto; }



//	Background size
	@mixin background-size($widthHeightValue) {
		-webkit-background-size: $widthHeightValue;
		-moz-background-size: $widthHeightValue;
		background-size: $widthHeightValue;
	}



//	Border Radius
	@mixin border-radius($radiusValue) {
		@include border-top-radius($radiusValue);
		@include border-bottom-radius($radiusValue);
		@include border-right-radius($radiusValue);
		@include border-left-radius($radiusValue);
	}



//	Vertical align
	@mixin vertical-align {
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}

// This mixin gets applied to elements that are only buttons on smartphones (or sometimes tablets), such as layered
// nav links or checkbox labels.
// Building this as a mixin (rather than an extendable class) since it will be included within mq breakpoints, and
// extending doesn't work within media queries: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#_in_directives
	@mixin touch-button {
		color: $black;
		background-color: #f4f4f4;
		@include rem(p, 0.5, 1);
	}



//	Fallback
	@function strip-unit($num) {
	  @return $num / ($num * 0 + 1);
	}
	@mixin rem($property, $values...) {
		@if $property == "m" {
		  $property: "margin";
		}
		@if $property == "m-t" {
		  $property: "margin-top";
		}
		@if $property == "m-r" {
		  $property: "margin-right";
		}
		@if $property == "m-b" {
		  $property: "margin-bottom";
		}
		@if $property == "m-l" {
		  $property: "margin-left";
		}
		@if $property == "p" {
		  $property: "padding";
		}
		@if $property == "p-t" {
		  $property: "padding-top";
		}
		@if $property == "p-r" {
		  $property: "padding-right";
		}
		@if $property == "p-b" {
		  $property: "padding-bottom";
		}
		@if $property == "p-l" {
		  $property: "padding-left";
		}
		@if $property == "f-s" {
		  $property: "font-size";
		}
		@if $property == "l-h" {
		  $property: "line-height"; // WARINING - if line-height for pseudo-element in ie, add manually a fallback in PX.
		}
		@if $property == "l-s" {
			$property: "letter-spacing";
		}
		@if $property == "w" {
		  $property: "width";
		}
		@if $property == "max-w" {
		  $property: "max-width";
		}
		@if $property == "min-w" {
		  $property: "min-width";
		}
		@if $property == "b-r" {
		  $property: "border-radius";
		}
		@if $property == "h" {
		  $property: "height";
		}
		@if $property == "max-h" {
		  $property: "max-height";
		}
		@if $property == "min-h" {
		  $property: "min-height";
		}
		@if $property == "t" {
		  $property: "top";
		}
		@if $property == "r" {
		  $property: "right";
		}
		@if $property == "b" {
		  $property: "bottom";
		}
		@if $property == "l" {
		  $property: "left";
		}

		$max: length($values);
		$pxValues: '';
		$remValues: '';
		$pxValuesLetterSpacing: '';
		$remValuesLetterSpacing: '';
		$pxValuesLineHeight: '';
		$remValuesLineHeight: '';

		@for $i from 1 through $max {
			$value: strip-unit(nth($values, $i));
			$pxValues: #{$pxValues + $value*10}px;
			$pxValuesLetterSpacing: #{( $letter-spacing * ($value * 10) ) / 1000}px;
			$pxValuesLineHeight: #{( ($value * 10) ) * $line-height}px;

			@if $i < $max {
				$pxValues: #{$pxValues + " "};
			}
		}

		@for $i from 1 through $max {
			$value: strip-unit(nth($values, $i));
			$remValues: #{$remValues + $value}rem;
			// suivant un letter spacing standard de "20"
			$remValuesLetterSpacing: #{( $letter-spacing * $value ) / 1000}rem;
			// suivant une line-height ratio de 1.618
			$remValuesLineHeight: #{( $value  ) * $line-height}rem;

			@if $i < $max {
				$remValues: #{$remValues + " "};
			}
		}

		@if $property == "font-size" {
			line-height: $pxValuesLineHeight;
			line-height: $remValuesLineHeight;
			letter-spacing: $pxValuesLetterSpacing;
			letter-spacing: $remValuesLetterSpacing;
        }
		#{$property}: $pxValues;
		#{$property}: $remValues;
	}

