//	------------------------------------------------------------
//	TYPOGRAPHY
//	------------------------------------------------------------



//	Title
	h1, h2, h3, h4, h5, h6 {
		font-family: $Lora;
		color:$black;
		font-weight:normal;
		margin-top: 0;
		@include rem(m-b, 1);
	}
	h1 {
		font-family: $LoraItalic;
		@include rem(f-s, 2.8);
	}
	h2 {
		font-family: $LoraItalic;
		@include rem(f-s, 2.2);

		@include breakpoint($breakpoint-desktop) {
			@include rem(f-s, 2.4);
		}
	}
	h3 {
		@include rem(f-s, 2);

		@include breakpoint($breakpoint-desktop) {
			@include rem(f-s, 2.2);
		}
	}
	h4 {
		@include rem(f-s, 1.8);

		@include breakpoint($breakpoint-desktop) {
			@include rem(f-s, 2);
		}
	}



//	Text
	p        	                    { color:$black; }
	strong                          { font-weight:800; }



//	List
	ol.default 						{ @extend %default-ol; }
	ul.default 						{ @extend %default-ul; }



//	Link
	a                               {
										color:$red;
										text-decoration: none;
										@include transition(color 0.3s ease-in-out);
									}
	a:hover,
	a:focus                         {
										color: $black;
									}



//	Accessibility
	.invisible-text  {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		&.focusable:active &.focusable:focus{
			clip: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			position: static;
			width: auto;
		}
	}


