//	------------------------------------------------------------
//	VARIABLES
//	------------------------------------------------------------



//	Build version
$version:             			1;



//	Colors
$gray: 							#AAAAAA;
$silver: 						#DDDDDD;
$purple: 						#B10DC9;
$fushia: 						#F012BE;
$maroon: 						#85144B;
$pink: 							#C6538C;
$orange: 						#FF851B;
$yellow: 						#FFDC00;
$lime: 							#01FF70;
$olive: 						#3D9970;
$teal: 							#39CCCC;
$aqua: 							#7FDBFF;
$blue: 							#0074D9;
$navy: 							#001F3F;

$red: 							#ab1a12;
$green:							#19ab12;
$white:							#fff;
$black:							#000;
$beige:							#f1f0ee;



//	Path
$imgPath:						"../images";
$fontsPath:						"../fonts/";



//	Text
$letter-spacing:    			20;		// Photoshop unit
$line-height:					1.618;	// Golden ratio



//	Fonts
$AdobeBlank:					"AdobeBlank";
$Lato:							"lato", "Arial", "Helvetica";
$LatoBold:						"lato-bold", "Arial", "Helvetica";
$LatoSemibold:					"lato-semibold", "Arial", "Helvetica";
$LatoLight:						"lato-light", "Arial", "Helvetica";
$LatoThin:						"lato-thin", "Arial", "Helvetica";
$LatoBlack:						"lato-black", "Arial", "Helvetica";
$Lora:							"lora", "Arial", "Helvetica";
$LoraItalic:					"lora-italic", "Arial", "Helvetica";
$LoraBold:						"lora-bold", "Arial", "Helvetica";
$LoraBoldItalic:				"lora-bold-italic", "Arial", "Helvetica";
$BodoniRecutRegular:			"bodoni-recut-regular", "Arial", "Helvetica";
$BodoniRecutDemiBold:			"bodoni-recut-demibold", "Arial", "Helvetica";
$BodoniRecutLight:				"bodoni-recut-light", "Arial", "Helvetica";
$BodoniRecutItalic:				"bodoni-recut-italic", "Arial", "Helvetica";
$BodoniRecutLightItalic:		"bodoni-recut-lightitalic", "Arial", "Helvetica";
$ScarletAndJulia:				"scarletjulia";



// Svg
$all-type-svg: 					"path, polygon, line, circle, polyline, text, ellipse, rect";
