//	--------------------------------------------------------------
//	Librairy
//	---------------------------------------------------------------

// Reset CSS
@import "lib/normalize";					//	github.com/kristerkari/normalize.scss

// Mixin library
@import "lib/bourbon/bourbon";				//	bourbon.io/docs/

// Slight CSS
@import "lib/bitters/base";				    //	bitters.bourbon.io/example.html

// Grid - API - breakpoint
@import "lib/breakpoint";					//	github.com/Team-Sass/breakpoint/wiki

// Grid
@import "lib/singularitygs";				//	github.com/Team-Sass/Singularity/wiki

// Grid - API - Layout
@import "lib/singularity-extras/outputs";	//	github.com/Team-Sass/Singularity


//	--------------------------------------------------------------
//	Custom - Here come magics!
//	---------------------------------------------------------------
@import "variables";

@import "grid";

@import "fonts";

@import "mixins";

@import "typography";



//	--------------------------------------------------------------
//	Custom - Design
//	--------------------------------------------------------------
*{
	@include box-sizing(border-box);

}
html{
	// 10px = 1rem
	font-size: 62.5%;
}
body{
	color: $black;
	font-family: $Lato;
	@include rem(f-s, 1.5);	//	This mixin will generate:
							//	font-size      : 1.2rem;
							//	line-height    : 1.9416rem;
							//	letter-spacing : 0.024rem;
							//	with fallbacks in pixel.

	@include breakpoint($breakpoint-desktop) {
		@include rem(f-s, 1.6);
	}

	.main-container .main,
	.desktop-wrapper {
		@include breakpoint($breakpoint-desktop) {
			@include rem(max-w, 120);
			@include rem(p, 0, 1);
			margin: 0 auto;
		}
	}
}

a img {
	opacity: 1;
	@include transition(opacity 0.3s ease-in-out);
}

a:hover img,
a:focus img {
	opacity: 0.6;
	@include transition(opacity 0.3s ease-in-out);
}

table {
	margin: 0;
	table-layout: auto;

	td {
		padding: 0;
		border: none;
	}
}





//	------------------------------------------------------------
//	Modules
//	------------------------------------------------------------
@import "mod/tools/tools";
@import "mod/tools/debug";
@import "mod/plugins/jquery-mmenu/jquery.mmenu.all";
@import "mod/plugins/jquery-slick/slick";
@import "mod/plugins/newssubscribers/style-newssubscribers";
@import "mod/mixin/not-selectable";
@import "mod/mixin/toggle-content";
@import "mod/configurableswatches";
@import "mod/iwd_colorswatch";
@import "mod/popuplogin";
@import "mod/common";
@import "mod/table";
@import "mod/header";
@import "mod/mainmenu";
@import "mod/menu_left_col";
@import "mod/footer";
@import "mod/home";
@import "mod/catalogue_general";
@import "mod/catalogue_produit";
@import "mod/catalogue_liste";
@import "mod/customer";
@import "mod/checkout";
@import "mod/promotions";
@import "mod/template_brands";
@import "mod/template_private_sales";
@import "mod/popup_newssuscribers";
@import "mod/print";