/* ============================================ *
 * Détails d'un produit
 * ============================================ */
.product-view {
	@include rem(p, 1.7, 1.7, 5);

	@include breakpoint($breakpoint-tablet) {
		@include clearfix;
		@include rem(p, 0, 2, 5);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(p, 0, 1, 5);
	}

}

.product-essential {
	@include clearfix;

	.product-img-box,
	.product-shop,
	.product-shop + .add-to-cart-wrapper {

		@include breakpoint($breakpoint-tablet) {
			float: left;
		}
	}

	.manufacturer-name {
		font-family: $Lato;
		@include rem(f-s, 1.8);
		@include rem(l-h, 2.4);
		color: $black;
	}

	// Colonne de l'image du produit
	.product-img-box {
		position: relative;

		@include breakpoint($breakpoint-tablet) {
			@include rem(w, 30);
			@include rem(m-r, 4);

			&.sticky { @include rem(m-t, 2); }
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(w, 40);
			@include rem(m-r, 6);
		}

		.manufacturer-name,
		.product-name {
			@include breakpoint($breakpoint-tablet) {
				@include no-text;
			}
		}

		.colorswatch-images-zoom .thumbnails-container {
			@include rem(m-t, 1);

			ul {
				text-align: center;
			}

			li.item {
				display: inline-block;
				float: none;
				@include calc(width, '33% - (22px / 3)');
				max-width: none;
				margin-top: 0;
				@include rem(m-l, 1.1);
				text-align: center;

				&:first-child { margin-left: 0; }
			}

			a {
				display: block;

				img {
					opacity: 1;
					@include transition(opacity 0.3s ease-in-out);
				}

				&:hover img,
				&focus img {
					opacity: 0.6;
				}
			}
		}

		.zoom-container {
			position: relative;
			display: block;
			text-align: center;

			img {
				display: block;
				margin: 0 auto;
				@include transition(opacity 0.3s ease-in-out);

				&.epuise {
					opacity: 0.2;
				}
			}

			.out-of-stock {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				@include rem(h, 2.5);
				margin: auto 0;
				font-family: $Lato;
				@include rem(f-s, 1.2);
				@include rem(l-h, 2.5);
				text-transform: uppercase;
				text-align: center;
				background-color: #fff;
				@include rem(p, 0, 0.5);
			}
		}

		.etiquettes {
			display: block;
			@include rem(h, 2);
			@include rem(m-t, -1.1);
			text-align: center;
			font-size: 0;

			.nouveau-produit,
			.bestseller,
			.remaining-items,
			.promotion {
				position: relative;
				display: inline-block;
				width: auto;
				@include rem(h, 2);
				border: 1px solid #000;
				background-color:#fff;
				@include rem(f-s, 1.1);
				@include rem(l-h, 1.8);
				text-align: center;
				text-transform: uppercase;
				@include rem(p, 0, 1.2);
			}

			.promotion {
				color: #fff;
				background-color: $red;
				border-color: $red;
			}
		}
	}

	// Colonne de détails du produit
	.product-shop,
	.product-shop + .add-to-cart-wrapper {

		@include breakpoint($breakpoint-tablet) {
			@include calc(width, '100% - 34rem');
		}

		@include breakpoint($breakpoint-desktop) {
			@include calc(width, '100% - 46rem');
		}
	}



	.product-shop + .add-to-cart-wrapper > .add-to-box-wrapper {
		@include rem(m, 0);
		@include rem(p-t, 0);
		border-top: 1px solid #d0d0d0;

		@include breakpoint($breakpoint-tablet) {
			@include rem(p-t, 3);
		}

		.add-to-box {
			@include clearfix;
		}
	}

	.add-to-cart-wrapper .availability-only { display: none; }

	.product-shop {

		.manufacturer-name,
		.product-name {
			display: none;

			@include breakpoint($breakpoint-tablet) {
				display: block;
			}
		}

		.product-name {
			@extend h1;
		}

		.short-description {
			@include rem(m, 1, 0);
			@include rem(f-s, 1.6);
			@include rem(l-h, 2.2);
			color: $black;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m, 1.5, 0);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 2, 0);
				@include rem(f-s, 1.8);
				@include rem(l-h, 2.5);
			}
		}

		.price-info {
			@include rem(m, 1, 0);
			@include clearfix;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m, 1.5, 0);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 2, 0);
			}

			.price-box {
				text-align: left;
				@include rem(m-b, 1);

				@include breakpoint($breakpoint-tablet) {
					float: left;
					text-align: left;
					margin-bottom: 0;
					@include rem(m-r, 3);
				}

				.special-price,
				.old-price,
				.regular-price {

					.price {

						@include breakpoint($breakpoint-tablet) {
							@include rem(f-s, 1.8);
						}
						@include breakpoint($breakpoint-desktop) {
							@include rem(f-s, 2);
						}
					}
				}

				.old-price {

					@include breakpoint($breakpoint-tablet) {
						@include rem(m-l, 2);
					}
					@include breakpoint($breakpoint-desktop) {
						@include rem(m-l, 3);
					}
				}
			}

			.points-sj {
				display: block;
				margin-bottom: 0;
				@include rem(f-s, 1.4);
				@include rem(l-h, 2);
				color: #7f7f7f;

				@include breakpoint($breakpoint-tablet) {
					float: left;
					@include rem(m-t, 0.5);
					@include rem(f-s, 1.6);
					@include rem(l-h, 2.2);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(m-t, 0.6);
				}

				p {
					display: block;
					margin: 0;
				}
			}
		}

		.product-options {
			@include rem(m, 2, 0, 0);
			border-top: 1px solid #d0d0d0;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m, 2, 0, 0);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 2, 0, 0);
				@include rem(p, 2, 0, 0);
			}

			p.required {
				margin: 0;

				@include breakpoint($breakpoint-desktop) {
					@include rem(m-b, 2);
				}
			}

			dl {
				@include rem(m, 1, 0, 0);

				@include breakpoint($breakpoint-tablet) {
					@include rem(m, 2, 0, 0);
				}

				@include breakpoint($breakpoint-desktop) {
					@include clearfix;
				}

				dt {
					margin: 0;

					@include breakpoint($breakpoint-desktop) {
						float: left;
						@include rem(w, 12);
					}
				}

				dd {
					@include rem(w, 28.6);
					@include breakpoint($breakpoint-desktop) {
						float: left;
					}
				}

				label {
					@include rem(m, 1, 0);
					text-transform: uppercase;

					@include breakpoint($breakpoint-desktop) {
						margin: 0;
						@include rem(p, 0.7, 0);
					}
				}

				label + span { display: none; }
			}

			.super-attribute-select {
				margin: 0;
			}
		}

		// Carrousel des choix de couleurs
		.sj-colorswatch-container {
			position: relative;
			@include rem(h, 4);
			@include rem(m-b, 1);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-b, 1.5);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-b, 2);
			}

			// Boutons précédent et suivant
			.prev,
			.next {
				@include rem(w, 4);
				@include rem(h, 4);
				position: absolute;
				top: 0;

				button {
					display: inline-block;
					margin: 0;
					padding: 0;
					border: none;
					background-color: transparent;
					@include rem(f-s, 4);
					@include rem(l-h, 4);
					color: #000;

					span { display: none; }

					&:hover { color: $red; }
				}
			}
			.prev { left: 0; }
			.next {
				right: 0;
				text-align: right;
			}

			// Carrousel de choix de couleurs / nuances
			.sj-colorswatch-carrousel {
				position: absolute;
				top: 0;
				@include rem(l, 4);
				@include calc(width, '100% - 8rem');
				@include rem(h, 4);
				@include rem(m-b, 1);
				overflow: hidden;

				.colorswatch-list {
					width: 100%;

					&:not(.slick-slider) {
						width: 1000%;
					}

					&.position-right { right: 0; }

					.colorswatch-item {
						margin-bottom: 0;
						margin-left: 10px;
						@include rem(w, 4);
						@include rem(h, 4);
						@include border-radius(50%);

						img {
							position: relative;
							top: auto;
							left: auto;
							display: block;
							@include rem(w, 4);
							@include rem(h, 4);
							@include border-radius(50%);
							opacity: 1;
							@include transition(opacity 0.3s ease-in-out);
						}

						&:hover img,
						&:focus img {
							opacity: 0.6;
						}

						&:first-child { margin-left: 0; }

						&.active {
							border: 1px solid #979797;

							img {
								border: 4px solid #fff;
								@include rem(w, 3.8);
								@include rem(h, 3.8);
							}
						}
					}
				}
			}
		}
	}

	.add-to-cart-wrapper,
	.product-options-bottom {
		@include breakpoint($breakpoint-tablet) {
			@include clearfix;
		}
	}

	.add-to-cart {
		margin: 0;

		.qty-wrapper {
			@include rem(m, 3, 0);

			@include clearfix;

			@include breakpoint($breakpoint-tablet) {
				@include rem(p, 0, 0, 3);
				border-bottom: 1px solid #d0d0d0;
			}

			label {
				float: left;
				@include rem(w, 5.5);
				margin: 0;
				@include rem(p, 0.7, 0);
				text-transform: uppercase;

				@include breakpoint($breakpoint-desktop) {
					@include rem(w, 12);
				}
			}

			input, select {
				float: left;
				@include rem(w, 3.8);
				text-align: center;

				@include breakpoint($breakpoint-desktop) {
					@include rem(w, 4.2);
				}
			}
		}

		.add-to-cart-buttons button {
			@include rem(w, 22);
		}

		+ .or { display: none; }
	}

	.add-to-cart-wrapper .add-to-cart {

		.qty-wrapper {

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 0);
			}
		}
	}

	.add-to-links { display: none; }

	.sharing-links {
		display: block;
		float: right;
		@include rem(m, -4, 0, 0);
		text-align: right;

		li {
			display: inline-block;

			a {
				display: block;
				@include rem(w, 2.1);
				@include rem(h, 2.1);
				@include rem(m-l, 0.7);
				@include rem(f-s, 2.1);
				@include rem(l-h, 4);
				text-decoration: none;
				opacity: 1;
				@include transition(opacity 0.3s ease-in-out);

				&:hover,
				&:focus {
					opacity: 0.6;
				}
			}

			a > span { @include no-text; }
		}

		.link-facebook {
			color: #3b5998;
		}

		.link-twitter {
			color: #5ea9dd;
		}
	}

	.add-to-box .add-to-links:first-child + .sharing-links {
		margin-top: 0;
	}
}

.product-collateral {
	@include accordion;
	@include accordionCollapse;

	@include breakpoint($breakpoint-tablet) {
		float: right;
		@include calc(width, '100% - 34rem');
	}

	@include breakpoint($breakpoint-desktop) {
		@include tabs;
		@include calc(width, '100% - 46rem');
		@include rem(m-t, 6);
	}

	.tab-content {
		h2 {
			@include rem(m, 2, 0, 0);
		}
	}

	.collateral-tabs {
		@include rem(m, 3, 0, 0);

		h2 {
			@include rem(f-s, 2);

			@include breakpoint($breakpoint-desktop) {
				@include rem(f-s, 2.4);
			}
		}
	}

	> dl {
		> dt {
			margin: 0;
			@include rem(p, 1, 0);
			font-weight: normal;
			text-transform: uppercase;
			border-top: 1px solid #ccc;
			cursor: pointer;

			&:hover {
				color: $red;
			}
			&.last {
				border-bottom: 1px solid #ccc;
			}
		}

		> dd {
			@include rem(p, 1, 0);
			margin: 0;
			border: none;
		}
	}

	&.accordion-open {
		> dl {
			> dt {
				&.current {
					border-bottom: 1px solid #ccc;
				}
			}

			> dd.current {
				display: block;
			}
		}
	}
}

