/* ============================================ *
 * Liste des produits
 * ============================================ */

// Styles généraux des produits
.products-grid {
	@include clearfix;

	.item{
		background-color: #fff;
		display:block;
		width:100%;
		position: relative;
		@include rem(m-t, 1.5);
		@include rem(m-b, 0);

		&:nth-of-type(1) {
			margin-top: 0;
		}

		@include breakpoint($breakpoint-tablet) {
			float:left;
			width:50%;

			&:nth-of-type(2){
				margin-top: 0;
			}
		}

		@include breakpoint($breakpoint-desktop) {
			width:33.33%;

			&:nth-of-type(3){
				margin-top: 0;
			}
		}

		.actions {
			display: block;
			@include rem(h, 2);
			text-align: center;
			font-size: 0;

			.nouveau-produit,
			.bestseller,
			.remaining-items,
			.promotion {
				position: relative;
				display: inline-block;
				width: auto;
				@include rem(h, 2);
				border: 1px solid #000;
				background-color:#fff;
				@include rem(f-s, 1.1);
				@include rem(l-h, 1.8);
				text-align: center;
				text-transform: uppercase;
				@include rem(p, 0, 1.2);
			}

			.promotion {
				color: #fff;
				background-color: $red;
				border-color: $red;
			}
		}

		.product-image{
			position: relative;
			display: block;
			text-align: center;

			img {
				display: block;
				margin: 0 auto;
				opacity: 1;
				@include transition(opacity 0.3s ease-in-out);
				-webkit-backface-visibility: hidden;

				&.epuise {
					opacity: 0.2;
				}
			}

			.out-of-stock {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				@include rem(h, 2.5);
				margin: auto 0;
				font-family: $Lato;
				@include rem(f-s, 1.2);
				@include rem(l-h, 2.5);
				text-transform: uppercase;
				text-align: center;
				background-color: #fff;
				@include rem(p, 0, 0.5);
			}

			&:hover,
			&:focus {

				img {
					opacity: 0.6;
					@include transition(opacity 0.3s ease-in-out);
					-webkit-backface-visibility: hidden;

					&.epuise {
						opacity: 0.2;
					}
				}
			}
		}

		.product-desc{
			background-color:$beige;
			text-align:center;
			@include rem(p, 1.3, 1);
			@include rem(m, 1.5, 0, 0, 0);

			@include breakpoint($breakpoint-tablet) {
				//@include rem(h, 12);
			}

			h2.brand-name {
				font-family: $LatoSemibold;
				@include rem(f-s, 1.1);
				text-transform: uppercase;
				margin-bottom: 0;
			}

			h3.product-name {
				@include rem(l-h, 1.8);
				margin: 0;

				a {
					font-family: $Lato;
					color:$black;
					@include rem(f-s, 1.5);
					text-decoration: none;
					@include transition(color 0.3s ease-in-out);
				}

				a:hover,
				a:focus {
					color:$red;
					@include transition(color 0.3s ease-in-out);
				}
			}

			.shades {
				@include rem(f-s, 1.3);
				color: #6d6e71;
			}
		}
	}
}

body.catalog-category-view,
body.catalogsearch-result-index {
	.page-title h1 {
		@include rem(f-s, 2.8);
	}

	.category-products{

		.toolbar{
			background-color:$beige;
			border-bottom:1px solid #d0d0d0;
			@include rem(p, 1, 2);
			@include rem(m, 1, 0, 0);
			@include clearfix;

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(p, 1, 3);
			}

			label{
				display:block;
				float: left;
				@include rem(w, 7);
				@include rem(m, 0.3, 1, 0, 0);
				color:#5f5e5e;

				@include breakpoint($breakpoint-tablet) {
					width: auto;
				}
			}

			select{
				@include background-opacity(#fff, 0.5);
				height: 3rem;
				width:auto;
				margin:0;
				float: left;
			}

			.sort-by select {
				@include breakpoint($breakpoint-desktop) {
					@include rem(w, 13);
				}
			}
		}
	}

	.block-layered-nav {
		@include rem(m, 1.5, 0);
		@include rem(p, 0.3, 0);
		background-color: #f1f0ee;

		@include breakpoint($breakpoint-desktop) {
			margin: 0;
			padding: 0;
			background-color: transparent;
		}

		.block-title, .block-subtitle {
			font-family: $LoraItalic;
			@include rem(f-s, 2.4);
			@include rem(m-b, 0);

			@include breakpoint($breakpoint-desktop) {
				@include rem(f-s, 2.8);
			}
		}

		.block-content {
			@include rem(p, 1, 1.7, 1);

			@include breakpoint($breakpoint-tablet) {
				@include rem(p, 1, 2);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(p, 0);
				border-bottom: none;
			}
		}

		.block-subtitle {
			@include transition(color 0.3s ease-in-out);

			&:hover,
			&:focus {
				color: $red;
				@include transition(color 0.3s ease-in-out);
			}
		}

		.currently {
			li {
				position: relative;
				@include rem(p, 1, 0);

				&:not(:last-child) {
					border-bottom: 1px solid #ccc;
				}
			}

			a.btn-remove {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto 0;
				@include rem(w, 1.2);
				@include rem(h, 1.2);
				text-decoration: none;

				&::before {
					display: block;
					@include rem(w, 1.2);
					@include rem(h, 1.2);
					@include rem(f-s, 1.2);
					line-height: 12px;
					color: $black;
					@include transition(color 0.3s ease-in-out);
				}

				&:hover::before,
				&:focus::before {
					color: $red;
					@include transition(color 0.3s ease-in-out);
				}

				span { @include no-text; }
			}

			span.label,
			span.value {
				display: block;
			}

			span.value {
				@include rem(f-s, 1.4);
			}
		}

		.actions {
			@include rem(m-b, 1);
			@include rem(p-b, 2);
			text-align: right;
			border-bottom: 1px solid #ccc;

			.button {
				display: inline-block;
				@include rem(max-w, 32);
				margin-top: 0;
			}
		}

		dl dt {
			@include rem(f-s, 1.6);
			font-family: $Lato;
			font-weight: normal;
			cursor: pointer;
			@include transition(color 0.3s ease-in-out);

			@include breakpoint($breakpoint-desktop) {
				@include rem(f-s, 1.8);

				&::before { display: none; }
			}

			&:hover {
				color: $red;
				@include transition(color 0.3s ease-in-out);
			}
		}

		dd {
			@include rem(m-l, 3.8);
			@include rem(f-s, 1.4);

			@include breakpoint($breakpoint-desktop) {
				@include rem(f-s, 1.6);
			}

			ol li {
				@include rem(m, 0.3, 0);

				a {
					color: $black;
					@include transition(color 0.3s ease-in-out);
				}

				a:hover,
				a:focus {
					text-decoration: none;
					color: $red;
					@include transition(color 0.3s ease-in-out);
				}
			}
		}
	}

	.category-title {
		border-bottom: 1px solid #D0D0D0;

		@include breakpoint($breakpoint-desktop) {
			border-bottom: none;
		}
	}
}