/* ============================================ *
 * Styles généraux que l'on retrouve dans tous les éléments du catalogues (Liste des produits, détails d'un produit, etc.)
 * ============================================ */

// Boite d'information du prix
.price-box {
	text-align: center;

	.special-price,
	.old-price,
	.regular-price {
		display: inline-block;
		margin: 0;
		font-weight: normal;
		color: $black;
		text-decoration: none;

		.price-label { display: none; }

		.price {
			@include rem(f-s, 1.4);
			color: $black;
		}
	}

	.old-price {
		@include rem(m-l, 1.5);

		.price {
			position: relative;
			color: #808285;

			&::after {
				position: absolute;
				top: 47%;
				left: -5%;
				display: block;
				content: " ";
				width: 110%;
				height: 1px;
				background-color: $red;
			}
		}
	}

	.regular-price {
		float: none;
	}
}