/* Désolé pour le charabia de CSS, j'ai dû ramemer les styles d'Oberson pour cette section */
/* Les breakpoints sont mêlé et la lecture du code ne sera pas optimale */

body.checkout-cart-index,
body.checkout-onepage-index {
	header.main-header .main-menu { display: none; }
}


// --------------------------------------------------------------
//	Bouton "Suppression" et bouton "Modifier"
// --------------------------------------------------------------
.btn-remove,
.btn-modify {
	display: inline-block;
	width: auto;
	height: 27px;
	margin: 0;
	padding: 5px;
	font-family: $Lato;
	font-size: 0;
	letter-spacing: normal;
	@include transition(color 0.3s ease-in-out);

	@include breakpoint($breakpoint-tablet) {
		padding-top: 0;
	}

	@extend .icon-sj;

	&::before {
		@include rem(f-s, 1.6);
		line-height: 16px;
		color: $red;
		@include transition(color 0.3s ease-in-out);
	}

	&:hover,
	&:focus {
		&::before {
			color: darken($red, 10);
			@include transition(color 0.3s ease-in-out);
		}
	}
}

.btn-remove {
	@extend .icon-sj-fermer;
}

.btn-modify {
	height: 31px;
	@extend .icon-sj-modifier;

	&::before {
		@include rem(f-s, 1.8);
		line-height: 18px;
	}
}


// --------------------------------------------------------------
//	Argent sauvé avec un achat
// --------------------------------------------------------------
.money_saved {
	margin-top: 4px;

	h2 {
		font-family: $LoraItalic;
		@include rem(f-s, 1.8);
		text-transform: uppercase;
		margin: 0;

		@include breakpoint($breakpoint-tablet) {
			@include rem(f-s, 2.4);
		}
	}

	.price {
		margin: 10px 0 0;
		padding-left: 10px;
		@include rem(f-s, 1.8);
		border-left: 2px solid #ccc;

		@include breakpoint($breakpoint-tablet) {
			@include rem(f-s, 2.4);
			border-width: 4px;
		}

		strong {
			@include rem(f-s, 2.2);
			line-height: 1;
			color: #9c0800;

			@include breakpoint($breakpoint-tablet) {
				@include rem(f-s, 3);
			}
		}
	}
}


/* ============================================ *
 * Panier - Layout
 * ============================================ */
.cart-table {
	float: left;
	@include calc(width, '100% - 320px');
}

.cart-forms,
.cart-totals-wrapper,
.crosssell {
	float: right;
	clear: right;
	width: 300px;
	padding-left: 20px;
}

.cart-forms {
	@include breakpoint($breakpoint-desktop) {
		@include rem(m-t, 5.5);
	}
}

.cart-totals-wrapper,
.cart-forms {
	@include rem(p, 1, 2, 2);
	background-color: $beige;
}

.cart-forms,
.cart-forms .discount-codes,
.cart-forms .giftcard,
.cart-forms .shipping,
.cart-forms .promo-recompense {
	margin-bottom: 20px;
}

.cart-forms,
.cart-totals-wrapper {
	margin-left: 20px;
}

@mixin oneColumnCartItems {
	.cart-table {
		float: none;
		width: 100%;
	}

	.cart-forms {
		float: left;
	}

	.cart-forms { margin-left: 0; }

	.cart-totals-wrapper { margin-left: 20px; }

	.cart-forms,
	.cart-totals-wrapper,
	.crosssell {
		@include calc(width, '50% - 10px');
	}

	.crosssell {
		clear: right;
		float: right;
	}
}

.display-both-prices {
	@include oneColumnCartItems;
}

@include breakpoint(max-width $breakpoint-desktop - 1) {
	.display-single-price {
		@include oneColumnCartItems;
	}
}

@include breakpoint(max-width $breakpoint-tablet - 1) {
	.product-cart-sku {
		display: none;
	}

	.display-both-prices,
	.display-single-price {
		.cart-forms,
		.cart-totals-wrapper,
		.crosssell {
			float: none;
			width: 100%;
		}

		.cart-forms,
		.cart-totals-wrapper {
			margin-left: 0;
		}
	}
}


/* ============================================ *
 * Panier - Cart
 * ============================================ */

.cart .page-title {
	@include clearfix;

	h1 {
		float: left;
		border-bottom: none;
		margin-bottom: 0;
		margin-right: 10px;
	}
}

.checkout-types {
	float: right;
	text-align: right;
	max-width: 100%;

	li {
		@include clearfix;
		vertical-align: top;
		margin: 0 0 0 5px;

		img {
			display: inline;
			vertical-align: top;
		}
	}
	li:first-child {
		margin-left: 0;
	}
	/* We always want this shipping method to display on its own line */
	.method-checkout-cart-methods-multishipping {
		display: block;
	}

	&.top {
		li {
			display: inline-block;
		}

		.bml_button {
			display: inline-block;
			vertical-align: top;

			img {
				display: block;
			}
		}
	}

	&.bottom,
	&.minicart {
		.paypal-logo {
			a {
				display: block;
			}
		}
		.paypal-or {
			margin: 0px;
			width: 150px;
			display: block;
			text-align: center;
			float: right;
		}
	}

	.btn-checkout {
		margin-top: 0;
		@include rem(p, 0, 5);
	}
}

.cart-table {

	colgroup { display: none; }

	tbody {
		border-top: 4px solid #000;
		border-bottom: 4px solid #000;
	}

	th,
	td,
	tbody td {
		// Adding tbody for extra selector weight
		border-bottom: none;
		vertical-align: top;
	}

	th {
		vertical-align: middle;
	}

	h2 {
		color: $black;
		margin-bottom: 0;
	}

	tbody tr.odd td,
	tbody tr.even td { background-color: transparent; }

	tbody td:last-child,
	thead th:last-child {
		@include rem(w, 4.6);
	}

	.product-cart-info,
	.product-cart-actions {
		padding-left: 10px;
	}

	tr {
		border-bottom: 1px solid #ccc;
	}

	tfoot {
		tr.last {
			background: none;
			border-bottom: none;
		}

		tr > td {
			@include clearfix;
		}
	}

	.product-cart-image .cart-links,
	.product-cart-info .btns-action,
	.product-cart-actions .button {
		display: none;
	}

	.product-cart-image {
		padding-left: 0;
		padding-right: 0;

		.product-image img {
			max-width: 100%;
			width: 100%;
		}

		a.cart-edit {
			display: none;
		}
	}

	.product-cart-info {
		@include rem(min-w, 25);
		@include rem(p-b, 1);

		.product-name {
			font-family: $Lato;
			@include rem(f-s, 1.8);
			@include rem(l-h, 2.2);

			a {
				color: $black;

				&:hover,
				&:focus {
					color: $red;
				}
			}
		}

		.item-options {
			margin: 0;

			dt { font-weight: normal; }
		}

		.error {
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}

	.cart-qty-head,
	.product-cart-actions {
		text-align: center;
	}

	.cart-price-head,
	.product-cart-price,
	.cart-total-head,
	.product-cart-total {
		text-align: right;
	}

	.product-cart-sku {
		display: none;
	}

	.cart-tax-total {
		position: relative;
		cursor: pointer;

		&:after {
			@include triangle(left, 6px, $black);
			position: absolute;
			top: 3px;
			right: -11px;
		}

		&.cart-tax-total-expanded {
			&:after {
				@include triangle(down, 6px, $black);
				right: -15px;
				top: 6px;
			}
		}
	}

	.cart-links > li {
		margin-bottom: 5px;
		min-width: 65px;
		font-size: 1.3rem;
		line-height: 1.6rem;

		> a {
			display: block;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.product-cart-actions {
		min-width: 60px;

		.qty {
			display: inline-block;
			height: 30px;
			border-radius: 0;
			margin-bottom: 10px;
			text-align: center;
			line-height: inherit;
			@include rem(w, 4.5);
		}

		.btn-update {
			@include rem(w, 4);
			@include rem(h, 2);
			@include rem(l-h, 2);
			padding: 0;
			@include rem(m, 0, 0, 0, 0.4);
			font-size: 0;
			background-color: transparent;

			@include breakpoint($breakpoint-tablet) {
				padding-top: 0;
			}

			@extend .icon-sj;
			@extend .icon-sj-rafraichir;

			&::before {
				@include rem(f-s, 2);
				line-height: 20px;
				color: $red;
				@include transition(color 0.3s ease-in-out);
			}

			&:hover,
			&:focus {
				&::before {
					color: darken($red, 10);
					@include transition(color 0.3s ease-in-out);
				}
			}
		}
	}

	.cart-footer-actions {
		font-size: 0;
		text-align: right;

		.btn-empty,
		.btn-update,
		span.comma,
		span.or,
		.btn-continue {
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}

		.btn-empty,
		.btn-update,
		.btn-continue {
			margin: 0;
			padding: 0;
			color: $red;
			font-weight: normal;
			@include rem(f-s, 1.6);
			background-color: $white;
			border: none;

			&:hover,
			&:focus {
				color: $black;
			}
		}

		span.or,
		span.comma {
			@include rem(f-s, 1.6);
			@include rem(p, 0, 1);
		}

		span.comma {
			padding-left: 0;
		}
	}

	/* Ajustement de la taille des colonnes */
	.cart-product-head {
		width: 50%;
	}

	.product-cart-image {
		width: 20%;
	}

	.product-cart-info {
		width: 30%;
	}

	.cart-price-head,
	.product-cart-price {
		width: 15%;
	}

	.cart-qty-head,
	.product-cart-actions {
		width: 10%;
	}

	.cart-total-head,
	.product-cart-total {
		width: 15%;
	}

	.cart-buttons-head,
	.product-cart-remove {
		width: 10%;
	}

}

@include breakpoint(max-width $breakpoint-tablet - 1) {

	.cart .page-title {
		h1 {
			float: none;
			margin-bottom: 6px;
		}
	}

	.checkout-types {
		float: none;
		text-align: center;

		&.bottom,
		&.minicart {
			.paypal-or {
				width: auto;
				float: none;
			}
		}

		.btn-checkout {
			width: 100%;
			padding: 0;
		}
	}

	.checkout-types li {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.cart-table {
		colgroup, thead {
			display: none;
		}

		tbody {
			border-width: 2px;
		}

		tbody tr.last { border-bottom: none; }

		tr {
			display: block;
			margin-bottom: 10px;
			padding-bottom: 10px;
			overflow: hidden;
			position: relative;
			width: 100%;
			@include clearfix;

			&:last-child {
				margin-bottom: 0;
			}
		}

		tfoot tr {
			padding-bottom: 0;
		}

		td {
			@include rem(f-s, 1.4);
			border: none;
			display: block;

			&[data-rwd-label] {
				margin-bottom: 6px;

				.price {
					font-size: inherit;
					font-weight: normal;
				}

				&:before {
					content: attr(data-rwd-label) ":";
					padding-right: 5px;
				}
			}

			&.product-cart-price {
				text-align: left;
			}
		}

		h2 {
			//@include rem(f-s, 1.2);
		}

		.cart-links {
			padding-top: 5px;
			padding-right: 5px;

			> li {
				white-space: normal;
				text-align: center;

				> a {
					padding: 2px 0px;
				}
			}
		}

		.cart-tax-info {
			font-style: italic;
			padding-left: 10px;
			//@include rem(f-s, 1.2);

			.price {
				//@include rem(f-s, 1.2);
			}
		}

		.product-cart-image {
			width: percentage(1/4);
			float: left;
			padding-bottom: 0;

			a.cart-edit {
				display: block;
				//@include rem(f-s, 1.2);
				text-align: center;
				text-transform: uppercase;
			}
		}

		.product-cart-info,
		td[data-rwd-label] {
			float: right;
			width: percentage(3/4);
		}

		.product-cart-actions,
		.product-cart-price {
			padding-bottom: 0;
			padding-top: 0;
			float: right;
		}

		.product-cart-remove,
		.product-cart-total,
		.product-cart-actions .cart-links {
			display: none;
		}

		.product-cart-image .cart-links,
		.product-cart-info .btns-action {
			display: block;
		}

		// This element will be displayed via JS once the related input is focused
		.product-cart-actions .button {
			display: none;
		}

		.product-cart-info,
		.product-cart-price,
		.product-cart-actions {
			padding-left: 10px;
			@include rem(p-r, 3.5);
		}

		.product-cart-info {
			position: relative;
			min-width: 0;

			.btns-action {
				position: absolute;
				right: 0;
				@include rem(t, 1.5);
				@include rem(m, 0.2, 0, 0);

				a {
					display: block;
					@include rem(m-t, 1);

					&:first-child { margin-top: 0; }
				}
			}

			.product-cart-sku {
				margin-bottom: 5px;
			}
		}

		.product-cart-actions {
			text-align: left;

			> li {
				white-space: inherit;
			}

			.qty {
				display: inline-block;
				margin-right: 7px;
				margin-bottom: 7px;
			}

			.btn-update {
				width: auto;
				margin-left: 0;
				margin-top: -1px;
			}
		}

		.price,
		.product-cart-price:before {
			font-weight: normal;
			//@include rem(f-s, 1.6);
		}

		.cart-footer-actions {
			text-align: right;
			width: 100%;

			.btn-update,
			span.comma,
			span.or {
				display: none;
			}

			.btn-empty {
				float: left;
			}

			.btn-continue {
				float: right;
			}

		}
	}

	.display-both-prices {
		.cart-table {
			thead th.cart-total-head,
			td.product-cart-total {
				display: none;
			}

			td {
				&[data-rwd-tax-label] {
					&:before {
						content: attr(data-rwd-tax-label) ":";
					}
				}
			}
		}
	}
}


/* ============================================ *
 * Panier - Estimate Shipping and Tax
 * ============================================ */

.shipping {
	display: none;

	/*
	h2 {
		//@include rem(f-s, 1.2);
		margin: 0 0 5px;
	}

	select {
		max-width: 309px;
		height: 30px;
		display: block;
		border: 1px solid #ccc;
	}

	select.validation-failed {
		border-color: $red;
	}

	.shipping-desc {
		display: none;
	}

	.buttons-set {
		border: none;
		margin: 0;
		padding: 0;
	}

	.form-list {
		@include clearfix;

		li {
			float: left;
			margin: 5px 2% 10px 0;
		}

		.shipping-country {
			width: 37%;
		}

		.shipping-region {
			width: 41%;
		}

		.shipping-postcode {
			margin-right: 0;
			width: 18%;

			input {
				margin-top: 4px;
			}
		}

		.input-box {
			padding-top: 0;
		}

		input {
			height: 30px;
			margin-top: 4px;
			max-width: 309px;
		}

		label {
			//@include rem(f-s, 1.2);
			font-weight: normal;
			text-transform: uppercase;
		}
	}

	.sp-methods {
		padding: 10px 0 0;
		text-align: left;

		dd {
			margin-bottom: 10px;
		}
	}

	#co-shipping-method-form .buttons-set .button {
		float: left;
		margin-left: 0;
	}
	#co-shipping-method-form .sp-methods dd label {
		background-color: shade($beige, 5%);
		min-width: 220px;

		&:hover {
			background-color: shade($beige, 10%)
		}
	}
	*/
}

@include breakpoint(max-width $breakpoint-tablet - 1) {
	/*

	.shipping .shipping-form .form-list > li {
		width: 100%;
		float: none;

		label {
			display: block;
		}

		input,
		select {
			width: 100%;
		}
	}
	*/
}


// =============================================
// Panier - Promos récompense
// =============================================
.promo-recompense {
	
}


// =============================================
// Panier - Totals
// =============================================

.cart .cart-totals {
	text-align: right;
	@include clearfix;

	table {
		//@include rem(f-s, 1.2);
		margin-bottom: 20px;
		width: 100%;

		colgroup {
			col { width: auto !important; }
		}

		td {
			padding: 3px 0px;
		}
		td:first-child {
			padding-right: 10px;
			min-width: 120px;
		}

		tbody tr:last-child td,
		tbody tr:last-child th {
			padding-bottom: 10px;
		}

		tfoot {
			border-top: 1px solid #E6E6E6;
			border-bottom: 1px solid #E6E6E6;

			td {
				//@include rem(f-s, 1.2);
				vertical-align: middle;
			}

			td:first-child {
				//@include rem(f-s, 1.2);
				color: $black;
			}

			strong {
				font-weight: normal;
				font-family: $LatoBold;
			}
		}

		tfoot tr:first-child td {
			@include rem(p-t, 1);
		}

		tbody tr:last-child td,
		tfoot tr:last-child td {
			@include rem(p-b, 1);
		}

		tr.summary-total {

			td {
				.summary-collapse {
					position: relative;
					cursor: pointer;

					.icon-sj {
						position: relative;
						top: 0;
						left: -10px;
						@extend .icon-sj-plus;
						@include rem(f-s, 1.1);
						color: $red;
					}
				}
			}

			&.show-details {
				td {
					.summary-collapse {
						.icon-sj {
							top: 1px;
							@extend .icon-sj-moins;
						}
					}
				}
			}
		}
	}

	.checkout-types {
		float: none;

		.btn-checkout {
			padding: 0;
		}
	}
}

@include breakpoint(max-width $breakpoint-tablet - 1) {

	.cart-totals {
		text-align: right;

		table tfoot td {
			//@include rem(f-s, 1.2);
		}
	}
}


// =============================================
// Panier - Discount codes and gift cards
// =============================================

.discount-codes h2 { display: none; }

.discount-form,
#giftcard-form {
	@include clearfix;
}

#discount-coupon-form,
.cart .giftcard {
	width: 100%;

	h2 {
		display: none;
	}

	label {
		margin-top: 0;
	}

	.field-wrapper {
		position: relative;
		display: block;
		@include clearfix;
	}

	.validation-advice {
		position: absolute;
		@include rem(b, 4.5);
		left: 0;
		display: inline;
	}

	.button-wrapper {
		display: block;
		vertical-align: bottom;
		@include rem(m-t, 1);
		@include clearfix;

		> button {
			float: left;
			width: auto;
			@include rem(m, 0, 0, 0, 1);
			@include rem(p, 0, 2);

			&:first-child { margin-left: 0; }
		}
	}

	.input-text {
		border-radius: 0;
		margin: 0 10px 0 0;
		width: 190px;

		&.validation-failed {
			margin-bottom: 30px;
		}
	}
}

.cart .giftcard p {
	margin-bottom: 10px;
}

.cart .giftcard .check-gc-status {
	float: left;
	padding: 0px;

	> span > span {
		//@include rem(f-s, 1.2);
		text-transform: none;
	}
}

.rewards-box-spend-minicart .slider {
	table,
	.cartSlider_caption {
		width: 260px;
		margin: 0;
	}

	.sliderRail {
		width: 205px;
	}
}

@include breakpoint(max-width $breakpoint-desktop - 1) {

	#discount-coupon-form,
	.cart .giftcard {

		.button-wrapper {
			clear: both;
			@include rem(m-t, 1);
		}
	}
}



/* ============================================ *
 * Panier - Cart Cross sell
 * ============================================ */
.crosssell {
	h2 {
		color: $black;
	}

	#crosssell-products-list .button,
	#crosssell-products-list .add-to-links {
		display: none;
	}
}

/* Change the layout to 2 columns at a breakpoint that is higher than a 3 columns layout would normally break */
@include breakpoint(max-width $breakpoint-desktop - 1) {
	.crosssell {
		.products-grid > li:nth-child(even),
		.products-grid > li:nth-child(3n),
		.products-grid > li {
			width: percentage(210 / 440);
			margin-right: percentage(20 / 440);
		}

		.products-grid > li:nth-child(odd) {
			clear: left;
		}

		.products-grid > li:nth-child(even) {
			margin-right: 0;
		}

		/* Undo three-column config */
		.products-grid > li:nth-child(3n+1) {
			clear: none;
		}
	}
}


/* ============================================ *
 * Checkout - Colonnes
 * ============================================ */
body.checkout-onepage-index {
	.col-left,
	.col-right {
		@include breakpoint($breakpoint-tablet) {
			float: left;
			@include rem(w, 30);
			@include rem(p-r, 2);
			clear: left;

			img {
				max-width: 100%;
			}
		}
	}

	.col-right {
		@include breakpoint($breakpoint-tablet) {
			float: right;
			padding-right: 0;
			@include rem(p-l, 2);
			@include rem(m-t, 7.2);
			clear: right;
		}
	}

	.col-main {
		@include breakpoint($breakpoint-tablet) {
			float: left;
			width: calc(100% - 30rem);
		}
	}
}

// --------------------------------------------------------------
//	Checkout - Colonne de gauche (zone des formulaires)
// --------------------------------------------------------------
ol#checkoutSteps {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;

	// --------------------------------------------------------------
	//	Toutes les étapes
	// --------------------------------------------------------------
	li.section {
		margin: 0 0 10px;
		padding: 0;
		overflow: auto;

		ul.form-list > li > label.no-margin-top { margin-top: 0; }

		fieldset,
		form {
			margin: 0;
			padding: 0;
			border: none;

			ul {
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 0;
				}
			}
		}

		select#paypal_direct_expiration_yr { @include rem(m-t, 1); }

		> .a-item {
			@include breakpoint($breakpoint-tablet) {
				@include rem(m-l, 4.6);
			}
		}

		// --------------------------------------------------------------
		//	Titre des étapes
		// --------------------------------------------------------------
		.step-title {
			position: relative;
			@include clearfix;

			span.number {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				@include rem(w, 3.3);
				@include rem(h, 3.3);
				padding: 0;
				font-family: $Lato;
				@include rem(f-s, 2);
				@include rem(l-h, 3.2);
				text-align: center;
				color: #7f7f7f;
				background-color: $white;
				border: 1px solid #7f7f7f;
				@include border-radius(50%);
				@include transition(color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out);
			}

			h2 {
				display: block;
				@include rem(m, 1.1, 0, 0.9, 4.3);
				font-family: $LatoLight;
				@include rem(f-s, 2);
				@include rem(l-s, 0.03);
				@include rem(l-h, 3.3);

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 2.4);
					@include rem(l-s, 0.04);
					@include rem(l-h, 3.3);
					@include rem(m, 1.4, 0, 1.2, 4.3);
				}
			}

			.lien-modifier { display: none; }
		}

		&.allow {
			&:hover,
			&:focus {
				.step-title {
					cursor: pointer;

					span.number {
						color: $red;
						border-color: $red;
						@include transition(color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out);
					}
				}
			}
		}

		&.active.allow {

			@include breakpoint($breakpoint-tablet) {
				margin-bottom: 20px;
			}

			&:hover .step-title,
			&:focus .step-title,
			.step-title {
				cursor: auto;

				@include breakpoint($breakpoint-tablet) {
					padding-bottom: 0;
				}

				span.number {
					color: $white;
					background-color: #7f7f7f;
					border-color: #7f7f7f;
				}
			}
		}

		// --------------------------------------------------------------
		//	Boutons
		// --------------------------------------------------------------
		// Buttons Set
		.buttons-set {

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 2);
				@include clearfix;
			}

			// Back link
			.back-link {
				margin: 0;

				@include breakpoint($breakpoint-tablet) {
					float: left;
					margin: 0;
					@include calc(width, '50% - 1.7rem');

					a {
						margin: 0;
						@include rem(p-r, 1.7);
						@include rem(p-l, 1.7);
					}
				}

				@include breakpoint($breakpoint-desktop) {
					width: auto;
				}
			}

			// Button Cart
			.button {
				@include breakpoint($breakpoint-tablet) {
					float: left;
					display: inline-block;
					@include calc(width, '50% - 1.7rem');
					margin: 0;
					@include rem(p-r, 1.7);
					@include rem(p-l, 1.7);

					& + .back-link {
						@include rem(m, 0, 0, 0, 3.4);
					}
				}

				@include breakpoint($breakpoint-desktop) {
					width: auto;

					& + .back-link {
						@include rem(m, 0, 0, 0, 4);
					}
				}
			}
		}
		#review-buttons-container.buttons-set .button {
			@include breakpoint($breakpoint-tablet) {
				float: none;
				width: auto;
			}
		}
		#review-buttons-container.buttons-set p.f-left {
			@include rem(m-t, 1);
		}

		// --------------------------------------------------------------
		//	Étape 1 - Boutons radio
		// --------------------------------------------------------------
		li.control {
			margin-top: 10px;

			@include breakpoint($breakpoint-tablet) {
				&.first { margin-top: 34px; }
			}

			label {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		// --------------------------------------------------------------
		//	Étape 1 et 2 - 2e champ texte pour l'adresse
		// --------------------------------------------------------------
		li.wide + li.wide input[type="text"] {
			@include breakpoint($breakpoint-tablet) {
				margin-top: 10px;
			}
		}
		li#billing-new-address-form,
		li#shipping-new-address-form {

			> .fieldset {
				@include rem(m-t, 2);

				@include breakpoint($breakpoint-tablet) {
					@include rem(m-t, 3);
				}
			}

			.name-firstname label {
				margin-top: 0;
			}
		}
	}

	// --------------------------------------------------------------
	//	Étape 3 - Shipping
	// --------------------------------------------------------------
	#checkout-step-shipping_method {
		margin-top: 10px;

		@include breakpoint($breakpoint-tablet) {
			margin-top: 34px;
		}

		dl {

			dt {
				@include rem(f-s, 1.5);
				text-transform: uppercase;

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 1.6);
				}
			}

			dd {
				margin: 0;

				li {
					margin-top: 10px;

					label {
						margin-top: 0px;
						text-transform: none;
					}
				}
			}
		}
	}

	// --------------------------------------------------------------
	//	Étape 4 - Paiement
	// --------------------------------------------------------------
	#checkout-step-payment {
		.cvv-what-is-this {
			display: block;
			margin-top: 5px;
		}
		#payment-tool-tip {
			position: fixed;
			top: 0 !important;
			left: 0 !important;
			z-index: 1000;
			width: 100%;
			height: 100%;
			@include background-opacity(#000, 0.85);

			.tool-tip-main {
				position: relative;
				top: 35%;
				left: 0%;
				display: block;
				max-width: 477px;
				text-align: center;
				margin: 0 10px;

				@include breakpoint($breakpoint-tablet) {
					max-width: 501px;
					margin: 0 auto;
				}

				.btn-close {
					position: absolute;
					top: -25px;
					right: 0;

					@include breakpoint($breakpoint-tablet) {
						top: -35px;
					}

					a {
						color: #ab1a12;
						text-decoration: none;
						@include transition(color 0.3s ease-in-out);

						&:hover,
						&:focus {
							color: $white;
							@include transition(color 0.3s ease-in-out);
						}

						span {
							font-size: 0;

							&::before {
								@include rem(f-s, 1.6);
								line-height: #{(1.6 * 10) * $line-height}px;

								@include breakpoint($breakpoint-tablet) {
									@include rem(f-s, 2);
									line-height: #{(2 * 10) * $line-height}px;
								}
							}
						}
					}
				}

				img {
					padding: 10px;
					background-color: $white;
					border: 2px solid $red;

					@include breakpoint($breakpoint-tablet) {
						padding: 20px;
						border-width: 4px;
					}
				}
			}
		}
	}

	// --------------------------------------------------------------
	//	Étape 5 - Résumé de la commande
	// --------------------------------------------------------------
	#checkout-step-review {
		margin-top: 10px;

		@include breakpoint(max-width 749px) {
			margin-left: 0;
		}

		.money_saved {
			margin-top: 10px;

			@include breakpoint($breakpoint-tablet) {
				margin-top: 34px;
			}

			@include breakpoint($breakpoint-desktop) {
				margin-top: 30px;
			}
		}

		.oublie-article { margin-bottom: 0; }

		.data-table {
			@include rem(m-t, 3);

			.item-options {
				margin-top: 0;

				@include breakpoint($breakpoint-tablet) {
					margin-left: 0;
				}

				dt { font-weight: normal; }
			}

			@include breakpoint($breakpoint-tablet) {
				margin-top: 0;
			}
		}

		/* On small screens, the progress review content will be moved to the review step via JS. Styled via this CSS: */
		.opc-block-progress {
			border-left: none;
			padding-left: 0;

			.title {
				display: none;
			}
			.content {
				// Override the no-display
				display: block !important;
				padding: 0;

				& > dl > div {
					float: none;
					width: auto;
				}

				dt {
					font-family: $Lato;
					@include rem(f-s, 1.8);
					font-weight: normal;
				}

				dd {
					@include rem(m-l, 1);
				}

				address { font-style: normal; }

				.changelink {
					display: none;
				}
			}
		}
	}
}


// --------------------------------------------------------------
//	Colonne de droite (progression du checkout)
// --------------------------------------------------------------
.col-right #checkout-progress-wrapper {
	margin-bottom: 34px;

	// --------------------------------------------------------------
	//	Titre de la progression
	// --------------------------------------------------------------
	.title {
		position: relative;
		@include rem(f-s, 2.4);
		@include rem(l-s, 0.03);
		line-height: 1.1;

		strong {
			font-weight: normal;
			font-family: $LoraItalic;
		}
	}

	// --------------------------------------------------------------
	//	Blocs d'information sur la progression
	// --------------------------------------------------------------
	.content {
		dl {
			margin: 15px 0 0;

			.block-info {
				padding: 20px;
				margin-bottom: 20px;
				background-color: #f0f0f0;

				&:last-child {
					margin-bottom: 0;
				}

				dt {
					position: relative;
					margin-top: 0;
					font-family: $Lato;
					@include rem(f-s, 1.6);
					font-weight: normal;
					line-height: 1;

					span.label {
						@include rem(f-s, 1.8);
					}

					span.changelink {
						position: absolute;
						top: 3px;
						right: 0;
						display: block;

						.btn-edit {
							display: block;
							@include rem(w, 2);
							@include rem(h, 2);
							font-size: 0;
							color: $red;
							text-indent: 0;
							background-color: transparent;
							@include transition(color 0.3s ease-in-out);

							span.icon-sj {
								display: block;
								@include rem(w, 2);
								@include rem(h, 2);
								@include rem(f-s, 2);
								@include rem(l-h, 2);
							}

							&:hover,
							&:focus {
								color: darken($red, 10);
								@include transition(color 0.3s ease-in-out);
							}
						}
					}

					&.complete {
						&::after {
							display:block;
							content: "";
							width: 34px;
							height: 2px;
							margin: 3px 0 17px;
							background-color: #ccc;
						}
					}
				}

				dd {
					margin: 0;

					address {
						font-style: normal;
					}

					table {
						tr {
							th { text-align: left; }
						}
					}
				}
			}
		}
	}
}


// --------------------------------------------------------------
//	Guest checkout
// --------------------------------------------------------------
ol#checkoutSteps #opc-login {

	> .a-item {
		@include rem(p, 2);
		background-color: #f0f0f0;
	}

	.col2-set { margin-bottom: 0; }

	.col-1,
	.col-2 {
		width: 100%;

		@include breakpoint($breakpoint-desktop) {
			width: 50%;
			@include rem(p, 0, 2);
		}

		.button {
			width: 100%;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 1);
			}
		}
	}


	.col-1 {
		float: none;
		padding: 0;
		@include rem(m-b, 2);

		@include breakpoint($breakpoint-desktop) {
			float: left;
			@include rem(p-r, 2);
			margin-bottom: 0;
			border-right: 1px solid #ccc;
		}

		.forgot-password { @include rem(m-t, 1); }
	}

	.col-2 {
		float: none;
		@include rem(p, 1, 0, 0);
		border-top: 1px solid #ccc;

		@include breakpoint($breakpoint-desktop) {
			float: right;
			@include rem(p, 0, 0, 0, 2);
			border-top: none;
		}

		.avantages {
			list-style-type: disc;
			@include rem(m-l, 3);
		}

		.or {
			width: 100%;
			text-align: center;
		}

		#onepage-guest-button { @include rem(m-t, 1); }

		#onepage-guest-button + .note {
			@include rem(m, 0.5, 0, 0);
			@include rem(f-s, 1.2);
			text-align: center;

			@include breakpoint($breakpoint-tablet) {
				@include rem(f-s, 1.3);
			}
		}
	}

	.narrow {
		width: 100%;

		@include breakpoint($breakpoint-desktop) {
			width: 33%;
		}
	}

	.wide {
		width: 100%;

		@include breakpoint($breakpoint-desktop) {
			width: 65%;
		}
	}
}

// --------------------------------------------------------------
//	Paypal Review
// --------------------------------------------------------------
body.paypal-express-review {

	// Différentes boites grise dans la section "Mon compte"
	.box {
		background-color: $beige;
		@include rem(p, 1);
		@include rem(m-b, 1);

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 1.7);
			margin-bottom: 0;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p, 2);
		}

		.box-title {
			@include rem(m-b, 1);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-b, 1.7);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-b, 2);
			}

			h3 { @include rem(m-b, 1); }
		}

		.box-content {
			.col-1,
			.col-2 {
				@include rem(m-b, 1);

				@include breakpoint($breakpoint-tablet) {
					margin-bottom: 0;
				}
			}

			> *:last-child { margin-bottom: 0; }
		}
	}
}

// --------------------------------------------------------------
//	Buttons-set dans Paypal Review & Checkout success
// --------------------------------------------------------------
body.paypal-express-review,
body.checkout-onepage-success {
	// Buttons Set
	.buttons-set {

		@include breakpoint($breakpoint-tablet) {
			@include rem(m-t, 2);
			@include clearfix;
		}

		// Button Cart
		.button {
			@include breakpoint($breakpoint-tablet) {
				float: right;
				display: inline-block;
				width: auto;
				margin: 0;
				@include rem(p-r, 1.7);
				@include rem(p-l, 1.7);
			}
		}
	}
}