/* ============================================ *
 * Common styles
 * ============================================ */
.rewardssocial-widgets { display: none; }
.no-display { display: none !important; }
.left {
	float: none;

	@include breakpoint($breakpoint-tablet) { float: left; }
}
.right {
	float: none;

	@include breakpoint($breakpoint-tablet) { float: right; }
}

.std {
	ul,
	ol {
		@include rem(m-b, 1);
	}

	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }

	li {
		@include rem(p-l, 1.5);
		@include rem(m, 0, 0, 1, 1.5);
	}
}

// --------------------------------------------------------------
//	Espacements par défaut pour ces pages spécifiques
// --------------------------------------------------------------

// Sans Breadcrumb
body.customer-account-login,
body.customer-account-create,
body.customer-account-forgotpassword,
body.customer-account-resetpassword,
body.customer-account-logoutsuccess,
body.customer-account,
body.privatesales-homepage-index,
body.checkout-cart-index,
body.checkout-onepage-success,
body.checkout-onepage-index,
body.contacts-index-index,
body.cms-index-noroute,
body.customer-account-confirmation,
body.review-product-list,
body.paypal-express-review,
body.contentmanager-contenttype-edito-content {
	.main-container .main {
		@include rem(p, 1.7, 1, 5);

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 4, 2, 5); // 6rem de padding-top pour simuler la hauteur du Breadcrumb
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p, 6, 1, 5); // 8rem de padding-top pour simuler la hauteur du Breadcrumb
		}
	}
}

// Avec Breadcrumb
body.catalog-category-view,
body.contentmanager-index-view,
body.catalogsearch-result-index,
body.cms-page-view {
	.main-container .main {
		@include rem(p, 1.7, 1, 5);

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 0, 2, 5);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p, 0, 1, 5);
		}
	}
}

// --------------------------------------------------------------
//	Colonnes de layout
// --------------------------------------------------------------
.col-left,
.col-right {
	@include breakpoint($breakpoint-desktop) {
		float: left;
		@include rem(w, 30);
		@include rem(p-r, 2);
		clear: left;

		img {
			max-width: 100%;
		}
	}
}

.col-right {
	@include breakpoint($breakpoint-desktop) {
		float: right;
		padding-right: 0;
		@include rem(p-l, 2);
		clear: right;
	}
}

.col-main {
	@include breakpoint($breakpoint-desktop) {
		float: left;
		width: calc(100% - 30rem);
	}
}

.col1-layout,
.col2-left-layout,
.col2-right-layout,
.col3-layout {
	.main {
		@include clearfix;
	}
}

.col1-layout {
	.col-main {
		@include breakpoint($breakpoint-desktop) {
			float: none;
			width: auto;
			padding: 0;
		}
	}
}

.col2-left-layout {
	.col-main {
		@include breakpoint($breakpoint-desktop) {
			float: left;
			padding-right: 0;
		}
	}
}

.col2-right-layout {
	.col-main {
		@include breakpoint($breakpoint-desktop) {
			padding-left: 0;
		}
	}
}

.col3-layout {
	.col-right {
		@include breakpoint($breakpoint-desktop) {
			width: percentage(200px/960px);
		}
	}

	.col-wrapper {
		@include breakpoint($breakpoint-desktop) {
			float: left;
			width: percentage(760px/960px);
		}

		.col-main {
			@include breakpoint($breakpoint-desktop) {
				float: right;
				width: percentage(560px/760px);
			}
		}

		.col-left {
			@include breakpoint($breakpoint-desktop) {
				width: percentage(200px/760px);
			}
		}
	}
}

// --------------------------------------------------------------
//	Colonnes de contenu
// --------------------------------------------------------------
.col2-set {
	width: 100%;
	@include clearfix;

	@include breakpoint($breakpoint-tablet) {
		@include rem(m-b, 2);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(m-b, 4);
	}

	.col-1,
	.col-2 {

		@include breakpoint($breakpoint-tablet) {
			width: 50%;
			@include rem(p, 0, 1);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p, 0, 2);
		}
	}

	.col-1 {
		@include breakpoint($breakpoint-tablet) {
			float: left;
			padding-left: 0;
		}
	}

	.col-2 {
		@include breakpoint($breakpoint-tablet) {
			float: right;
			padding-right: 0;
		}
	}

	.narrow {
		@include breakpoint($breakpoint-tablet) {
			width: 33%;
		}
	}

	.wide {
		@include breakpoint($breakpoint-tablet) {
			width: 65%;
		}
	}
}

// --------------------------------------------------------------
//	Message de succès et d'erreur
// --------------------------------------------------------------
ul.messages {
	margin: 1rem 0 !important;
	padding: 0;

	@include breakpoint($breakpoint-tablet) {
		margin: 1.7rem 0 !important;
	}

	@include breakpoint($breakpoint-desktop) {
		margin: 2rem 0 !important;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}
	}

	li.success-msg,
	li.error-msg,
	li.note-msg,
	li.notice-msg {
		@include rem(p, 1);
		border: 1px solid $white;
	}

	li.success-msg {
		border-color: $green;
		background-color: lighten($green, 60);
	}

	li.error-msg {
		border-color: $red;
		background-color: lighten($red, 60);
	}

	li.note-msg,
	li.notice-msg {
		border-color: #7f7f7f;
		background-color: #f0f0f0;
	}
}

// --------------------------------------------------------------
//	Labels
// --------------------------------------------------------------
input,
label,
select {
	font-family: $Lato;
}

label {
	display: inline-block;
	@include rem(m-t, 1);
	@include rem(f-s, 1.5);
	font-weight: normal;
	color: $black;

	&.required:after {
		content: "";
	}

	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 1.6);
		@include rem(m-t, 2.8);
	}

	em {
		float: right;
		margin-left: 5px;
		font-style: normal;
		color: $red;
	}
}

// --------------------------------------------------------------
//	Champs texte, liste déroulante, etc.
// --------------------------------------------------------------
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
	width: 100%;
	@include rem(p, 0, 1);
	margin: 0;
	font-family: $Lato;
	@include rem(f-s, 1.3);
	color: $black;
	border-radius: 0;
	border: 1px solid #ccc;
	box-shadow: none;
	background-color: $white;

	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 1.4);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(f-s, 1.6);
	}

	&:hover,
	&:focus {
		border-color: darken(#ccc, 20);
		box-shadow: none;
	}

	&.validation-failed {
		border-color: $red;
		background-color: lighten($red, 60);
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
	@include rem(h, 4);
	@include rem(l-h, 4);
}

textarea { max-width: 100%; }

input[type="radio"],
input[type="checkbox"] {
	+ label {
		@include rem(m-l, 1);
		text-transform: none;

		@include breakpoint($breakpoint-tablet) {
			@include rem(m-l, 1);
			@include rem(m-t, 1);
		}
	}
}

input.placeholder,
textarea.placeholder { color: #888 !important; }

select {
	display: inline-block;
	cursor: default;
	width: 100%;
	@include rem(h, 4);
	margin: 0;
	@include rem(p, 0, 0, 0, 1);
	border: 1px solid #ccc;
	background-color: $white;
	font-family: $Lato;
	@include rem(f-s, 1.3);
	color: $black;
	text-decoration: none;
	@include transition(border-color 0.3s ease-in-out);

	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 1.4);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(f-s, 1.6);
	}

	option {
		width: 100%;
		@include rem(m, 0.5, 0);
		@include rem(p-l, 1.2);
	}

	&:hover,
	&:focus {
		border-color: darken(#ccc, 20);
		@include transition(border-color 0.3s ease-in-out);
	}

	&.validation-failed {
		border-color: $red;
		background-color: lighten($red, 60);
	}
}

button:disabled {
	cursor: pointer;
}

p.required,
.validation-advice {
	@include rem(m, 1, 0);
	@include rem(f-s, 1.3);
	color: $red;

	em {
		@include rem(m-l, 0.5);
		font-style: normal;
		color: $red;
	}
}

.validation-advice { margin-bottom: 0; }

// --------------------------------------------------------------
//	Style des boutons rouge
// --------------------------------------------------------------
.button {
	display: block;
	width: 100%;
	@include rem(h, 4);
	padding: 0;
	@include rem(m-t, 1.5);
	font-family: $Lato;
	@include rem(f-s, 1.6);
	@include rem(l-h, 4);
	font-weight: normal;
	color: $white;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $red;
	border: none;
	border-radius: 0;
	@include transition(background-color 0.3s ease-in-out);

	@include breakpoint($breakpoint-tablet) {
		@include rem(m-t, 3);
		@include rem(p-b, 0.1);
	}

	&:hover,
	&:focus {
		outline: none;
		color: $white;
		text-decoration: none;
		background-color: darken($red, 10);
		@include transition(background-color 0.3s ease-in-out);
	}
}

// --------------------------------------------------------------
//	Style du bouton / lien Retour
// --------------------------------------------------------------
.back-link a {
	display: block;
	width: 100%;
	@include rem(h, 4);
	padding: 0;
	@include rem(m-t, 1.5);
	font-family: $Lato;
	@include rem(f-s, 1.6);
	@include rem(l-h, 3.8);
	letter-spacing: 0;
	color: $black;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@include transition(color 0.3s ease-in-out);

	&::before {
		position: relative;
		@include rem(t, 0.3);
		@include rem(m-r, 1);
		@include rem(f-s, 2);
		line-height: #{(2 * 10) * $line-height}px;
		color: $red;
		@include transition(color 0.3s ease-in-out);
	}

	&:hover,
	&:focus {
		color: darken($red, 10);

		&::before {
			color: darken($red, 10);
		}
	}
}

// --------------------------------------------------------------
//	Liens "Modifier"
// --------------------------------------------------------------
a.lien-modifier {
	text-decoration: none;

	> span.icon-sj-crayon {
		@include rem(m-r, 1);

		&::before {
			@include rem(f-s, 2);
			line-height: #{(2 * 10) * $line-height}px;
		}
	}

	&:hover,
	&:focus {
		color: darken($red, 10);
	}
}

// --------------------------------------------------------------
//	Différents formulaires
// --------------------------------------------------------------
.scaffold-form {
	.checkbox,
	.radio {
		position: relative;
		display: inline-block;
	}

	.checkbox + label,
	.radio + label {
		width: auto;
		max-width: 85%;
		font-weight: normal;
		vertical-align: top;
	}

	.button {
		@include breakpoint($breakpoint-tablet) {
			display: inline-block;
			width: auto;
			@include rem(p, 0, 5);
		}
	}

	.input-box {
		@include breakpoint($breakpoint-tablet) {
			@include rem(max-w, 55);
		}
	}

	.form-list {

		.control {
			@include rem(m, 1, 0);
			@include clearfix;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 2.8);
			}

			.input-box,
			label {
				display: block;
				float: left;
				margin: 0;
			}

			.input-box {
				@include rem(w, 2.5);
				margin-top: 1px;
			}

			label {
				display: inline-block;
				float: none;
			}

			.radio,
			.checkbox {
				display: inline-block;
				@include rem(m-r, 1);
			}

			.input-box {
				clear: none;
				display: inline-block;
				width: auto;
				padding: 0;
			}
		}
	}

	.product-options ul.options-list label,
	.col2-set .form-list .control label {
		min-width: inherit;
		@include rem(w, 25);
		max-width: 100%;
	}

	.form-list .control.remember-me-box {
		label {
			width: auto;
			max-width: none;
			min-width: inherit;
		}
	}
}

// --------------------------------------------------------------
//	Layered Navigation
// --------------------------------------------------------------
.block-layered-nav {

	// We don't want "Shop By" to show when there are no filters applied, as the "Filter" link will suffice
	.block-title {
		display: none;

		@include breakpoint($breakpoint-desktop) { display: block; }
	}

	.block-subtitle--filter {
		// Will be shown at smaller viewports
		display: block;
		@include accordionDtBase;
		cursor: pointer;

		&.active {
			@include accordionDtBaseActive;
		}

		@include breakpoint($breakpoint-desktop) { display: none; }
	}

	.block-content {
		@include accordion;
		@include accordionCollapse;
	}
}

// --------------------------------------------------------------
//	Breadcrumbs
// --------------------------------------------------------------
.breadcrumbs {
	display: none;

	@include breakpoint($breakpoint-tablet) {
		display: block;
	}

	ul {
		// Par défaut, les styles sont pour la version tablette comme on ne l'affiche pas mobile
		@include rem(min-h, 4);
		@include rem(p, 2);
		font-size: 0;

		@include breakpoint($breakpoint-desktop) {
			@extend .desktop-wrapper;
			@include rem(min-h, 6);
		}

		li {
			display: inline-block;
			@include rem(l-h, 2);

			a, strong {
				display: inline-block;
				font-family: $Lato;
				@include rem(f-s, 1.4);
				@include rem(l-h, 2);
				color: $red;
				vertical-align: top;

				@include breakpoint($breakpoint-desktop) {
					@include rem(l-h, 6);
				}
			}

			a:hover,
			a:focus {
				text-decoration: underline;
			}

			strong {
				color: $black;
				font-weight: normal;
			}

			span {
				display: inline-block;
				@include rem(m, 0, 1);
				@include rem(f-s, 0.6);
				@include rem(l-h, 2);
				color: $black;
				vertical-align: top;

				@include breakpoint($breakpoint-desktop) {
					@include rem(l-h, 6);
				}
			}
		}
	}
}

// --------------------------------------------------------------
//	Vidéos responsive
// --------------------------------------------------------------
.video.outer {
	max-width: 600px;
	max-height: 337px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.video .inner {
	position: relative;
	padding-bottom: 56.25%;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

// --------------------------------------------------------------
//	Pager
// --------------------------------------------------------------
.sorter{
	@include rem(p, 1, 0);
	display: block;
	@include clearfix;

	@include breakpoint($breakpoint-tablet) {
		float:left;
		@include rem(m, 0);
		@include rem(p, 0);
	}

	p{
		margin:0;
	}

	a.sort-by-switcher{
		color:transparent;
		display:block;
		float: left;
		overflow: hidden;
		@include rem(m-l, 1.5);
		@include rem(w, 1.2);
		@include rem(h, 2.8);
		@include rem(l-h, 3);

		&.sort-by-switcher--desc{
			@extend .icon-sj;
			@extend .icon-sj-filtre-fleche-haut;
			&::before{
				color:#000;
				@include rem(f-s, 1.5);
				line-height: #{(1.5 * 10) * $line-height}px;
			}
		}

		&.sort-by-switcher--asc{
			@extend .icon-sj;
			@extend .icon-sj-filtre-fleche-bas;
			&:before{
				color:#000;
				@include rem(f-s, 1.5);
				line-height: #{(1.5 * 10) * $line-height}px;
			}
		}
	}
}

.pager:not(.pager-no-toolbar){
	@include rem(p, 1, 0);
	display: block;

	@include breakpoint($breakpoint-tablet) {
		float:right;
		@include rem(m, 0);
		@include rem(p, 0);
	}

	.count-container,
	.pages { display: inline-block; }

	.count-container {

		.amount,
		.limiter{
			display: inline-block;
			vertical-align: middle;
		}

		.amount {
			display: none;

			@include breakpoint($breakpoint-tablet) {
				display: inline-block;
				@include rem(f-s, 1.6);
				color:#5f5e5e;
				@include rem(p-r, 0);
				@include rem(m, 0, 2, 0, 0);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 0, 1, 0, 0);
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(m, 0, 3, 0, 0);
			}
		}
	}

	.count-container + .pages {
		@include rem(m-l, 2);

		@include breakpoint($breakpoint-desktop) {
			@include rem(m-l, 1);
		}

		@include breakpoint($breakpoint-desktop-normal) {
			@include rem(m-l, 3);
		}
	}

	.pages {

		li {
			display: inline-block;
			vertical-align: middle;
			@include rem(m-l, 0.6);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-l, 1.3);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-l, 0.8);
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(m-l, 1.3);
			}

			&:first-child { margin-left: 0; }

			&.current {
				font-family: $LatoBold;
			}

			a {
				color: $black;
				@include transition(color 0.3s ease-in-out);

				&:hover,
				&:focus {
					color: $red;
					@include transition(color 0.3s ease-in-out);
				}

				&.previous,
				&.next {
					@include rem(f-s, 2);

					span {
						display: none;
					}
				}
			}
		}
	}
}

body.customer-account .my-account .pager.pager-no-toolbar,
body.catalogsearch-result-index .pager.pager-no-toolbar {
	@include rem(m, 0.6, 0, 1.4);
	@include clearfix;

	@include breakpoint($breakpoint-tablet) {
		@include rem(m, 3.4, 0, 1);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(m, 4, 0, 1);
	}

	.amount {
		text-align: right;
		@include rem(m, 0.1, 0, 1);

		@include breakpoint($breakpoint-tablet) {
			float: right;
		}
	}

	.limiter {
		text-align: right;
		@include rem(m-b, 1);

		@include breakpoint($breakpoint-tablet) {
			text-align: left;
		}

		label { margin-top: 0; }
		select {
			@include rem(max-w, 6);
			height: inherit;
			padding: 0;
			margin: 0;
		}
	}

	.pages {
		text-align: right;

		ol {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				@include rem(m, 0, 0, 0, 1);

				a {
					text-decoration: none;

					&.icon { @include rem(f-s, 1.2); }

					@include transition (color 0.3s ease-in-out);

					&:hover,
					&:focus {
						color: #7d130d;
						@include transition (color 0.3s ease-in-out);
					}
				}
			}
		}
	}
}

body.catalogsearch-result-index .pager.pager-no-toolbar {
	@include rem(m, 1, 0);

	.amount {
		text-align: left;
		@include rem(m, 0);

		@include breakpoint($breakpoint-tablet) {
			float: none;
		}
	}
}

// --------------------------------------------------------------
//	Recherche
// --------------------------------------------------------------
.contenttype-results-listing {
	@include rem(m-t, 5);

	.search-results li {
		@include rem(p, 1);

		&:nth-of-type(2n+1) {
			background-color: #f1f0ee;
		}

		a {
			color: $black;

			&:hover,
			&:focus {
				color: $red;
			}
		}
	}
}


// --------------------------------------------------------------
//	Bannière promotion
// --------------------------------------------------------------
.banniere-texte-promotion {
	@include rem(p, 2, 0);
	@include rem(f-s, 0.95);
	text-transform: uppercase;
	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 1.1);
	}
	@include breakpoint($breakpoint-desktop) {
		@include rem(f-s, 1.4);
	}

	.texte {
		color: #7f7f7f;
		position: relative;
		@include rem(p-r, 0);
		@include breakpoint($breakpoint-tablet) {
			@include rem(p-r, 1.4);
		}
		&:after {
			@include breakpoint($breakpoint-tablet) {
				position: absolute;
				@include rem(t, -0.2);
				@include rem(r, -0.2);
				content: "-";
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(t, -0.4);
			}
		}
	}
	.lien {
		color: $black;
		@include rem(p-l, 0.5);
		@include breakpoint($breakpoint-desktop) {
			@include rem(p-l, 1.4);
		}
		span {
			color: $red;
			position: relative;
			&:before {
				position: absolute;
				@include rem(f-s, 0.6);
				line-height: #{(0.6 * 10) * $line-height}px;
				bottom: 0;
				@include rem(r, -0.2);

				@include breakpoint($breakpoint-tablet) {
					@include rem(b, -0.1);
					@include rem(r, -0.4);
					@include rem(f-s, 0.8);
					line-height: #{(0.8 * 10) * $line-height}px;
				}
			}
		}

		&:hover,
		&:focus {
			color: $red;
		}
	}
}

// --------------------------------------------------------------
//	Erreurs 404 et 503
// --------------------------------------------------------------
.erreur-404-503 {
	text-align: center;

	.image {
		@include rem(m-b, 1.5);
	}

	h1 {
		@include rem(m-b, 0.2);
		font-family: $BodoniRecutLight;
		@include rem(f-s, 3.8);
		text-transform: uppercase;
	}

	p {
		font-family: $LatoLight;
		@include rem(f-s, 1.8);
	}
}

// --------------------------------------------------------------
//	Ajax loader
// --------------------------------------------------------------
.ajax-loader,
.please-wait {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	@include background-opacity(#fff, 0.85);

	img {
		position: absolute;
		@include calc(top, "50% - 16px");
		@include calc(left, "50% - 16px");
		display: block;
		width: 32px;
		height: 32px;
	}
}