/* ============================================ *
 * Customer
 * ============================================ */

// Menu principal avec le plugin mmenu
#mm-my-account-nav.mm-opened.no-display { display: block !important; }


// Login
.customer-account-login {

	.account-login {
		@include rem(p, 2);
		background-color: #f0f0f0;

		@include breakpoint($breakpoint-desktop) {
			@include rem(p, 3, 4);
		}
	}

	.col2-set { margin-bottom: 0; }

	.new-users {

		p {
			@include rem(f-s, 1.6);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 2.8);
			}
		}

		.avantages {
			list-style-type: disc;
			@include rem(m-l, 3);
			@include rem(m-b, 2);
		}
	}

	.registered-users {

		.form-list li:first-child label {
			margin-top: 0;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 1.8);
			}
		}
	}

	.forgot-password {
		display: inline-block;
		@include rem(m-t, 1);
	}

	.col-1,
	.col-2 {
		width: 100%;

		@include breakpoint($breakpoint-tablet) {
			width: 50%;
			@include rem(p, 0, 2);
		}

		.button {
			width: 100%;
		}
	}


	.col-1 {
		float: none;
		padding: 0;
		@include rem(m-b, 2);

		@include breakpoint($breakpoint-tablet) {
			float: left;
			@include rem(p-r, 2);
			margin-bottom: 0;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p-r, 4);
		}

		.button {
			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 1);
			}
		}

		.forgot-password { @include rem(m-t, 1); }
	}

	.col-2 {
		float: none;
		@include rem(p, 1, 0, 0);
		border-top: 1px solid #ccc;

		@include breakpoint($breakpoint-tablet) {
			float: right;
			@include rem(p, 0, 0, 0, 2);
			border-top: none;
			border-left: 1px solid #ccc;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p-l, 4);
		}

		.avantages {
			list-style-type: disc;
			@include rem(m-l, 3);
		}

		.or {
			width: 100%;
			text-align: center;
		}

		#onepage-guest-button { @include rem(m-t, 1); }
	}

	.narrow {
		width: 100%;

		@include breakpoint($breakpoint-desktop) {
			width: 33%;
		}
	}

	.wide {
		width: 100%;

		@include breakpoint($breakpoint-desktop) {
			width: 65%;
		}
	}
}
.remember-me-box {
	a.hide {
		display: none;
	}
}
.remember-me-popup {
	position: relative;
	display: none;
	border: 1px solid #ccc;
	@include rem(p, 2);

	&.show {
		display: block;
	}

	.remember-me-popup-close {
		position: absolute;
		top: 0;
		right: 0;
		@include rem(p, 2);
	}

	.remember-me-popup-close-button {
		display: none;
	}
}


// My Account (Customer Account)
body.customer-account,
body.customer-account-create,
body.customer-account-forgotpassword {

	// Buttons Set
	.buttons-set {

		@include breakpoint($breakpoint-tablet) {
			@include rem(m-t, 2);
			@include clearfix;
		}

		// Back link
		.back-link {
			margin: 0;

			@include breakpoint($breakpoint-tablet) {
				float: right;
				margin: 0;

				a {
					margin: 0;
					@include rem(p-r, 1.7);
					@include rem(p-l, 1.7);
				}
			}
		}

		// Button Cart
		.button {
			@include breakpoint($breakpoint-tablet) {
				float: right;
				display: inline-block;
				width: auto;
				margin: 0;
				@include rem(p-r, 1.7);
				@include rem(p-l, 1.7);

				& + .back-link {
					@include rem(m, 0, 3.4, 0, 0);
				}
			}

			@include breakpoint($breakpoint-desktop) {
				& + .back-link {
					@include rem(m, 0, 4, 0, 0);
				}
			}
		}
	}
}
body.customer-account header.main-header .main-menu { display: none; }


// Tableaux de données divers dans la section
body.customer-account .data-table {
	th.total .nobr {
		white-space: normal;
	}
}


// Tableau des commandes récentes
body.customer-account #my-orders-table {
	@include breakpoint($breakpoint-tablet) {
		.number {width: percentage(143/860);}
		.date {width: percentage(100/860);}
		.ship {width: percentage(187/860);}
		.total {width: percentage(161/860);}
		.status {width: percentage(111/860);}
		.view {width: percentage(158/860);}
	}
}


// Styles généraux dans la section "Mon compte"
body.customer-account .my-account {

	p.required {
		text-align: right;
		@include rem(m, 1, 0);

		@include breakpoint($breakpoint-desktop) {
			@include rem(m, 3.4, 0);
		}
	}


	// Différentes boites grise dans la section "Mon compte"
	.box {
		background-color: $beige;
		@include rem(p, 1);
		@include rem(m-b, 1);

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 1.7);
			margin-bottom: 0;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p, 2);
		}

		.box-title {
			@include rem(m-b, 1);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-b, 1.7);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-b, 2);
			}

			h3 { @include rem(m-b, 1); }
		}

		.box-content {
			.col-1,
			.col-2 {
				@include rem(m-b, 1);

				@include breakpoint($breakpoint-tablet) {
					margin-bottom: 0;
				}
			}

			> *:last-child { margin-bottom: 0; }
		}
	}


	// Formulaires
	form {
		@include rem(m-t, 1);
	}

	form .fieldset,
	.fieldset {
		@include rem(m-t, 1);

		@include breakpoint($breakpoint-tablet) {
			@include rem(m-t, 3.4);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(m-t, 4);
		}

		h2 { margin-bottom: 0; }

		.default-billing {
			@include rem(m-t, 1);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 1.7);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-t, 2);
			}
		}
	}

	.tableau-lignee + .pager {
		@include breakpoint($breakpoint-tablet) {
			@include rem(m-b, 3.4);
		}
	}

	.commandes-recentes + .pager {
		@include breakpoint($breakpoint-desktop) {
			@include rem(m-b, 4);
		}
	}
}


// Dashboard
body.customer-account .dashboard {
	.box-recent,
	.box-info {
		@include rem(m-t, 3);

		.box-head {
			@include rem(m-b, 1);
			@include clearfix;

			h2 {
				float: left;
				@include rem(m, 0, 1, 0, 0);
			}

			h2 + a {
				display: block;
				float: left;
				@include rem(m-t, 0.5);
				@include rem(f-s, 1.3);
				@include rem(l-h, 2.7);
				text-decoration: none;

				@include breakpoint($breakpoint-desktop) {
					@include rem(m-t, 0.7);
				}

				&::before { content: "("; }
				&::after { content: ")"; }
			}
		}
	}
}


// Informations des commandes et différents tableaux
.order-info {
	@include rem(p-b, 1);
	@include rem(m-b, 1);
	border-bottom: 1px solid $beige;
	width: 100%;

	dt,
	dd {
		@include breakpoint($breakpoint-desktop-normal) {
			display: inline;
		}
	}

	ul,
	li {
		@include breakpoint($breakpoint-tablet) {
			display: inline;
		}
	}

	dt {
		@include rem(m-r, 2);
	}

	ul {
		list-style-position: inside;
		list-style-type: disc;
		@include rem(p-l, 2);

		@include breakpoint($breakpoint-tablet) {
			list-style-type: none;
			padding-left: 0;
		}
	}

	li {
		@include breakpoint($breakpoint-tablet) {
			@include rem(m-l, 2);
		}

		&.current {
			font-family: $LatoBold;
			font-weight: normal;
		}

		&:first-child {
			margin-left: 0;
		}
	}
}
.order-details {

	.data-table {
		width: 100%;
		@include rem(m-b, 2);

		@include breakpoint($breakpoint-desktop) {
			@include rem(m-b, 4);
		}

		thead th,
		tbody td {

			@include breakpoint($breakpoint-tablet) {
				width: 15%;
				text-align: center;
			}

			&:first-child {
				@include breakpoint($breakpoint-tablet) {
					width: 45%;
					@include rem(p-l, 1);
					text-align: left;
				}
				@include breakpoint($breakpoint-desktop) {
					@include rem(p-l, 2);
				}
			}
			&:last-child {
				@include breakpoint($breakpoint-tablet) {
					width: 25%;
					@include rem(p-r, 1);
					text-align: right;
				}
				@include breakpoint($breakpoint-desktop) {
					@include rem(p-r, 2);
				}
			}

			.nobr {
				span {
					&:not(:last-child)::after {
						content: ", ";
					}

					@include breakpoint($breakpoint-tablet) {
						&:not(:last-child)::after {
							content: "";
						}
					}
				}

				br {
					display: none;

					@include breakpoint($breakpoint-tablet) {
						display: inherit;
					}
				}
			}
		}

		.sku,
		.discount-amount,
		.row-total { display: none; }

		thead {
			border-bottom: 2px solid #000;

			th {
				padding-top: 0;
				@include rem(p-b, 0.5);
				@include rem(f-s, 1.6);
				text-transform: uppercase;
				font-weight: normal;
			}
		}

		tfoot {

			td {
				padding-top: 0;
				@include rem(p-b, 0.5);
				text-align: right;
				color: #000;

				strong {
					font-weight: normal;
					font-family: $LatoBold;
				}

				&:last-child {
					@include rem(p-r, 1);

					@include breakpoint($breakpoint-desktop) {
						@include rem(p-r, 2);
					}
				}
			}

			tr:first-child td {
				@include rem(p-t, 1.6);
			}

			tr.summary-total {

				td {
					.summary-collapse {
						position: relative;
						cursor: pointer;

						.icon-sj {
							position: relative;
							top: 0;
							left: -10px;
							@extend .icon-sj-plus;
							@include rem(f-s, 1.1);
							color: $red;
						}
					}
				}

				&.show-details {
					td {
						.summary-collapse {
							.icon-sj {
								top: 1px;
								@extend .icon-sj-moins;
							}
						}
					}
				}
			}
		}
	}
	table#my-tracking-table + h3 { margin-top: 1em; }
}


//	Sommaire des points de récompenses
.dashboard {

	.mypoints-summary {

		@include breakpoint($breakpoint-tablet) {
			@include rem(m-t, 3.4);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(m-t, 4);
		}

		.box-head {
			h2 {
				width: auto;
				padding-left: 0;
				background: none !important;
			}
		}

		.box-content {
			padding: 0;

			.usable-points {
				margin: 0;
			}

			.pending-points {
				margin: 0;
			}
		}
	}

	// --------------------------------------------------------------
	// Tableau des points
	// --------------------------------------------------------------
	.tableau-lignee {

		@include breakpoint($breakpoint-tablet) {
			display: table;
			width: 100%;
		}

		.table-colonnes {
			display: none;

			@include breakpoint($breakpoint-tablet) {
				display: table-row;
				background-color: $beige;
			}

			.colonne {
				@include breakpoint($breakpoint-tablet) {
					font-family: $LatoBold;
					@include rem(f-s, 1.5);
				}

				div {
					@include breakpoint($breakpoint-tablet) {
						@include rem(m, 1.5, 0);
					}
				}
			}
		}

		.table-colonnes + .table-main {
			@include rem(m-t, 1);
			@include rem(p-t, 1);
			border-top: 1px solid #ccc;

			@include breakpoint($breakpoint-tablet) {
				margin-top: 0;
				padding-top: 0;
				border-top: none;
			}
		}

		.table-main {
			@include rem(m-b, 1);
			@include rem(p-b, 1);
			border-bottom: 1px solid #ccc;

			@include breakpoint($breakpoint-tablet) {
				display: table-row;
				margin-bottom: 0;
				padding-bottom: 0;
			}

			.mobile {

				@include breakpoint($breakpoint-tablet) {
					display: none;
				}

				h3 { @include rem(m-b, 1); }
			}

			.normal {
				display: none;

				@include breakpoint($breakpoint-tablet) {
					display: block;
					@include rem(f-s, 1.5);
					@include rem(m, 1.5, 0);
				}
			}

			.action {

				@include breakpoint($breakpoint-tablet) {
					@include rem(m, 1.5, 0);
				}

				br {
					display: none;

					@include breakpoint($breakpoint-tablet) {
						display: inherit;
					}
				}
				.link-reorder {
					@include rem(m-l, 1);

					@include breakpoint($breakpoint-tablet) {
						margin-left: 0;
					}
				}
			}

			&:nth-child(2n+1) {
				@include breakpoint($breakpoint-tablet) {
					background-color: $beige;
				}
			}
		}

		.colonne {
			@include breakpoint($breakpoint-tablet) {
				display: table-cell;
				@include rem(p, 0, 0.9);
				text-align: center;
				vertical-align: middle;
			}

			.nobr {
				@include breakpoint($breakpoint-tablet) {
					white-space: nowrap;
				}
			}
		}
	}
}


// Recommandations
.rewardsref_myreferrals_multireferral_section .rewardsref_recipient_list {
	width: 100%;
	margin-bottom: 0;
}
