/* ============================================ *
 * Main Footer
 * ============================================ */
footer.main-footer {

	.black-block,
	.white-block {
		@include rem(p, 0, 1.7);

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 0, 2);
		}

		@include breakpoint($breakpoint-desktop) {
			padding: 0;
		}
	}

	.black-block {
		@include rem(p-b, 4);
		background-color: $black;

		@include breakpoint($breakpoint-tablet) {
			@include rem(p-t, 4.5);
			@include clearfix;
		}
	}

	.white-block {
		@include rem(p-t, 1.5);
		@include rem(p-b, 1.7);

		@include breakpoint($breakpoint-tablet) {
			@include clearfix;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(p-t, 2.2);
			@include rem(p-b, 4);
		}
	}

	// Liens principaux
	.main-links {
		position: relative;

		@include breakpoint($breakpoint-tablet) {
			float: left;
			width: 34.3%;

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				content: "";
				display: block;
				width: 1px;
				height: 100%;
				background-color: #2a2a2a;
			}
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(w, 46);

			&::after {
				display: none;
			}
		}

		@include breakpoint($breakpoint-desktop-normal) {
			@include rem(w, 48);
		}

		.ct-menu {
			@include breakpoint($breakpoint-tablet) {
				@include calc(width, '100% - 2rem');
			}
		}

		ol.nav-primary {
			@include breakpoint($breakpoint-desktop) {
				@include columns(2 auto);
			}
		}

		li.menu-item a {
			display: block;
			@include rem(f-s, 1.4);
			color: $white;
			@include rem(p, 0.9, 0, 0.8);
			text-align: center;
			border-bottom: 1px solid #2a2a2a;

			@include breakpoint($breakpoint-tablet) {
				display: inline-block;
				@include rem(p, 0.6, 0, 0.5);
				text-align: left;
				border-bottom: none;
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(f-s, 1.5);
			}

			&:hover,
			&:focus {
				color: $red;
			}
		}
	}

	// Bloc contenant l'inscription à l'infolettre et les liens sociaux
	.news-social {
		@include breakpoint($breakpoint-tablet) {
			float: left;
			@include calc(width, '65.7% - 2rem');
			@include rem(m-l, 2);
		}

		@include breakpoint($breakpoint-desktop) {
			float: right;
			@include rem(w, 54);
			margin-left: 0;
		}
	}

	// Newsletter
	.newsletter {
		@include rem(m-t, 3.3);

		@include breakpoint($breakpoint-tablet) {
			@include rem(m-t, -0.3);
		}

		.titre {
			display: block;
			@include rem(m, 0, 0, 0.6);
			font-family: $LoraItalic;
			@include rem(f-s, 1.9);
			@include rem(l-s, 0.01);
			color: $white;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m, 0, 0, 1.3);
				@include rem(f-s, 2.2);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 0, 0, 1.3);
				@include rem(f-s, 2.8);
			}
		}

		.input-box {
			position: relative;

			input.input-text {
				width: 65%;
				margin: 0;
				border: none;

				@include breakpoint($breakpoint-tablet) {
					width: 63.5%;
				}

				@include breakpoint($breakpoint-desktop) {
					width: 68.5%;
				}
			}

			button.button {
				position: absolute;
				top: 0;
				right: 0;
				width: 35%;
				margin: 0;
				@include rem(f-s, 1.3);
				text-transform: none;

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 1.8);
					width: 36.5%;
				}

				@include breakpoint($breakpoint-desktop) {
					width: 31.5%;
				}
			}
		}

		.texte-c-28 {
			@include rem(m, 1, 0);
			@include rem(f-s, 1.3);
			color: $white;

			@include breakpoint($breakpoint-tablet) {
				@include rem(f-s, 1.4);
			}
		}
	}

	// Liens sociaux
	.social-links {
		@include rem(m-t, 2.7);

		@include breakpoint($breakpoint-tablet) {
			@include clearfix;
		}

		.titre {
			@include rem(m-b, 1);
			@include rem(f-s, 1.4);
			color: $white;
			text-align: center;
			text-transform: uppercase;

			@include breakpoint($breakpoint-tablet) {
				float: left;
				@include rem(l-h, 3.5);
				@include rem(m-r, 2.8);
				margin-bottom: 0;
			}
		}

		ol.nav-primary {
			font-size: 0;
			text-align: center;

			@include breakpoint($breakpoint-tablet) {
				float: left;
			}
		}

		li.menu-item {
			display: inline-block;
			@include rem(w, 3.5);
			@include rem(h, 3.5);
			@include rem(m-l, 1);
			vertical-align: top;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-l, 2);
				margin-bottom: 0;
			}

			&:first-child { margin-left: 0; }

			a {
				display: block;
				@include rem(w, 3.5);
				@include rem(h, 3.5);
				@include rem(f-s, 3.5);
				color: $white;

				@extend .icon-sj;

				&::before {
					vertical-align: top;
				}

				&:hover,
				&:focus {
					color: $red;
				}
			}

			a > span { @include no-text; }

			&.facebook a { @extend .icon-sj-facebook; }
			&.pinterest a { @extend .icon-sj-pinterest; }
			&.google-plus a { @extend .icon-sj-google-plus; }
			&.instagram a { @extend .icon-sj-instagram; }
			&.twitter a { @extend .icon-sj-twitter; }
			&.youtube a { @extend .icon-sj-youtube; }
		}
	}

	// Liens légaux
	.legal-copy .ct-menu {
		@include rem(m-b, 1);

		@include breakpoint($breakpoint-tablet) {
			float: left;
			margin-bottom: 0;
		}

		ol.nav-primary {
			line-height: normal;
			font-size: 0;
			text-align: center;

			@include breakpoint($breakpoint-tablet) {
				text-align: left;
			}
		}

		li.menu-item {
			display: inline-block;

			a {
				display: block;
				@include rem(f-s, 1.1);
				color: $black;

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 1.2);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(f-s, 1.4);
				}

				&::after {
					content: "|";
					@include rem(m, 0, 1.1, 0, 0.9);
					color: #acacac;
				}

				&:hover,
				&:focus {
					color: $red;
				}
			}

			&:last-child a::after { display: none; }
		}
	}

	// Copyrights
	.copyright {
		@include rem(f-s, 1.1);
		font-style: normal;
		color: #7f7f7f;
		text-align: center;

		@include breakpoint($breakpoint-tablet) {
			float: right;
			@include rem(f-s, 1.2);
			text-align: right;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(f-s, 1.4);
		}
	}
}