/* ============================================ *
 * Main Header
 * ============================================ */
.skip-content {
	position: absolute;
	@include rem(t, 4);
	left: 0;
	display: none;
	width: 100%;
	@include rem(p, 0, 1.7);

	@include breakpoint($breakpoint-tablet) {
		@include rem(t, 5);
		@include rem(p, 0, 2);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(t, 6);
	}
}

.skip-content.skip-active {
	display: block;
	clear: both;
	background: #ccc;
}

/* ============================================ *
 * Header
 * ============================================ */
header.main-header {
	position: relative;
	z-index: 50;
	background-color: $white;
	color: $black;
	border-top: 3px solid $red;

	@include breakpoint($breakpoint-tablet) {
		border-top: none;
	}

	.white-bar,
	.black-bar {
		position: relative;
		@include rem(p, 0, 1.7);

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 0, 2);
		}

		@include breakpoint($breakpoint-desktop) {
			padding: 0;
		}
	}

	// -----------------------------------------
	// Barre blanche dans le header (bouton du menu, livraison gratuite, compte et sac)
	// -----------------------------------------
	.white-bar {
		@include clearfix;
		@include rem(h, 4);
		z-index: 49;
		@include rem(p-r, 0.7);

		@include breakpoint($breakpoint-tablet) {
			@include rem(h, 5);
			@include rem(p-r, 2);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(h, 6);
			padding-right: 0;
		}

		// -----------------------------------------
		// Bouton pour ouvrir le menu
		// -----------------------------------------
		.open-nav-button {
			display: block;
			float: left;
			text-decoration: none;

			@include breakpoint($breakpoint-desktop) { display: none; }

			.icon-sj {
				display: block;
				@include rem(w, 4);
				@include rem(h, 4);
				@include rem(p, 1);
				@include rem(m-l, -1);
				@include rem(f-s, 2.3);
				@include rem(l-h, 2.3);
				color: $black;
				@include transition(color 0.3s ease-in-out);

				@include breakpoint($breakpoint-tablet) {
					@include rem(h, 5);
					@include rem(p, 1.5, 1);
				}
			}

			.label { display: none; }

			&:hover .icon-sj,
			&.skip-active .icon-sj {
				color: $red;
			}

			body.customer-account &.nav-princ { display: none; }
			body:not(.customer-account) &.nav-compte { display: none; }
		}

		// -----------------------------------------
		// Bloc de texte concernant la livraison gratuite
		// -----------------------------------------
		.livraison-gratuite {
			display: block;
			float: left;
			@include calc(width, '100% - 13rem');
			padding: 0;

			@include breakpoint($breakpoint-tablet) {
				@include rem(w, 15.5);
				@include rem(m-l, 1);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(w, 30);
				margin-left: 0;
			}

			ul {
				position: relative;
				display: block;
				width: 100%;
				@include rem(h, 4);

				@include breakpoint($breakpoint-tablet) {
					@include rem(h, 5);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(h, 6);
				}
			}

			li {
				position: absolute;
				top: -9999px;
				left: -9999px;
				opacity: 0;
				@include rem(f-s, 1);
				@include rem(l-h, 4);
				color: #7f7f7f;
				text-transform: uppercase;

				a {
					color: #7f7f7f;
					text-decoration: none;

					&:hover,
					&:focus {
						color: $red;
					}
				}

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 1.1);
					@include rem(l-h, 5);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(f-s, 1.5);
					@include rem(l-h, 5.9);
				}
			}
		}

		// -----------------------------------------
		// Compte + panier
		// -----------------------------------------
		.account-cart {
			float: left;
			@include rem(w, 10);
			@include rem(p-l, 0.2);
			text-align: left;
			font-size: 0;

			@include breakpoint($breakpoint-tablet) {
				float: right;
				@include rem(w, 44.5);
				padding: 0;
				text-align: right;
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(w, 60);
			}
		}

		// -----------------------------------------
		// Menu "Mon compte"
		// -----------------------------------------
		.account-menu-container {
			display: inline-block;

			@include breakpoint($breakpoint-tablet) {
				position: relative;
			}

			// -----------------------------------------
			// Bouton "Mon compte"
			// -----------------------------------------
			.account-button {
				display: inline-block;
				vertical-align: top;

				@include breakpoint($breakpoint-tablet) {
					text-align: right;
				}

				> .icon-sj {
					display: block;
					@include rem(w, 4);
					@include rem(h, 4);
					@include rem(p, 1, 1.2);
					@include rem(f-s, 2);
					@include rem(l-h, 2);
					color: $black;
					@include transition(color 0.3s ease-in-out);

					@include breakpoint($breakpoint-tablet) {
						display: inline-block;
						@include rem(h, 5);
						@include rem(p, 1.5, 1.2);
						vertical-align: top;
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(w, 5.8);
						@include rem(h, 6);
						@include rem(p, 1.4, 1.7);
						@include rem(f-s, 2.8);
						@include rem(l-h, 2.8);
					}
				}

				.label, .nb-points {
					display: none;

					@include breakpoint($breakpoint-tablet) {
						display: inline-block;
						@include rem(f-s, 1.4);
						@include rem(l-h, 5);
						color: $black;
						vertical-align: top;
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(f-s, 1.5);
						@include rem(l-h, 5.9);
					}
				}

				.label > .icon-sj {
					@include breakpoint($breakpoint-tablet) {
						position: relative;
						top: -2px;
						margin-left: 8px;
						@include rem(f-s, 0.5);
						@include rem(l-h, 0.5);
						color: $red;
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(f-s, 0.5);
						@include rem(l-h, 0.5);
					}
				}

				.nb-points {
					@include breakpoint($breakpoint-tablet) {
						font-family: $LatoBold;

						&::before {
							content: "|";
							@include rem(m, 0, 1);
							color: #e7e7e7;
						}
					}
				}

				&:hover .icon-sj,
				&.skip-active .icon-sj {
					color: $red;
				}
			}

			// -----------------------------------------
			// Overlay des menus du compte
			// -----------------------------------------
			.menus-compte {
				@include rem(p, 1.7);
				background-color: #333333;

				@include breakpoint($breakpoint-tablet) {
					position: absolute;
					@include rem(l, 3.5);
					@include rem(t, 4);
					@include rem(max-w, 19);
					@include rem(p, 2);
					text-align: left;
					background-color: $white;
					border: 1px solid #d0d0d0;
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(t, 5);
					@include rem(l, 5.5);
				}

				.links a { text-decoration: none; }

				.links a.welcome-text { display: none; }

				.links .icon-sj {
					display: block;
					@include rem(m-b, 1.5);
					font-family: $Lato;
					@include rem(f-s, 1.4);
					@include rem(l-h, 1.8);
					color: $white;

					@include breakpoint($breakpoint-tablet) {
						color: $black;
					}

					&::before {
						position: relative;
						top: -1px;
						@include rem(m-r, 2);
						font-family: $ScarletAndJulia;
						@include rem(f-s, 1.8);
						line-height: 18px;
						color: #777;
						vertical-align: middle;
						@include transition(color 0.3s ease-in-out);

						@include breakpoint($breakpoint-tablet) {
							@include rem(f-s, 2);
							@include rem(l-h, 2);
							color: #d0d0d0;
						}
					}

					&:hover {
						color: $red;

						&::before {
							color: $red;
						}
					}
				}

				.links .icon-sj-sac {
					&::before {
						@include rem(m-r, 2.1);
					}
				}

				.links .icon-sj-cadenas {
					@include rem(m-l, 0.1);

					&::before {
						@include rem(m-r, 2.2);
					}
				}

				.links li:last-child a { margin-bottom: 0; }
			}
		}

		// -----------------------------------------
		// Bouton du panier
		// -----------------------------------------
		.button-minicart {
			display: inline-block;
			vertical-align: top;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-l, 1.7);
				text-align: right;
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-l, 4.3);
			}

			.icon-sj {
				display: inline-block;
				@include rem(w, 4);
				@include rem(h, 4);
				@include rem(p, 1, 1.2);
				@include rem(f-s, 2);
				@include rem(l-h, 2);
				color: $black;
				vertical-align: middle;
				@include transition(color 0.3s ease-in-out);

				@include breakpoint($breakpoint-tablet) {
					display: inline-block;
					@include rem(h, 5);
					@include rem(p, 1.5, 1.2);
					vertical-align: top;
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(w, 5.8);
					@include rem(h, 6);
					@include rem(p, 1.4, 1.7);
					@include rem(f-s, 2.8);
					@include rem(l-h, 2.8);
				}
			}

			.label,
			.count .price {
				display: none;
			}

			.label,
			.count,
			.count .price,
			.count .item  {
				@include breakpoint($breakpoint-tablet) {
					display: inline-block;
					vertical-align: top;
				}
			}

			.count .item {
				display: inline-block;
				@include rem(m-t, 0.4);
				@include rem(f-s, 1.3);
				color: $black;
				vertical-align: middle;

				@include breakpoint($breakpoint-tablet) {
					display: inline-block;
					margin: 0;
					vertical-align: top;
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(f-s, 1.5);
				}

				.tablet-size {
					display: none;

					@include breakpoint($breakpoint-tablet) {
						display: inline;
					}
				}
			}

			.label,
			.count .item,
			.count .price {
				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 1.4);
					@include rem(l-h, 5);
					color: $black;
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(f-s, 1.5);
					@include rem(l-h, 5.9);
				}
			}

			.count .price {
				@include breakpoint($breakpoint-tablet) {
					@include rem(m-l, 1);
					font-family: $LatoBold;
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(m-l, 1.2);
				}
			}

			&:hover .icon-sj,
			&.skip-active .icon-sj {
				color: $red;
			}
		}
	}

	// -----------------------------------------
	// Barre noire dans le header (logo, recherche, langue et bouton pour changer de boutique)
	// -----------------------------------------
	.black-bar {
		@include clearfix;
		@include rem(h, 9);
		@include rem(p-b, 4);
		background-color: $black;
		z-index: 48;

		@include breakpoint($breakpoint-tablet) {
			@include rem(h, 5);
			padding-bottom: 0;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(h, 7.5);
		}

		// -----------------------------------------
		// Overlays
		// -----------------------------------------
		.skip-content {
			@include rem(t, 5);

			@include breakpoint($breakpoint-desktop) {
				@include rem(t, 7.5);
			}
		}

		// -----------------------------------------
		// Logo
		// -----------------------------------------
		.logo {
			display: block;
			float: left;
			@include rem(w, 14.5);
			@include rem(h, 5);
			@include rem(p, 2, 0);

			@include breakpoint($breakpoint-tablet) {
				@include rem(w, 15.5);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(w, 29.7);
				@include rem(h, 7.5);
				@include rem(p, 1.5, 0);
			}

			img {
				opacity: 1;
				@include transition(opacity 0.3s ease-in-out);

				&.mobile-size { display: block; }
				&.desktop-size { display: none; }

				@include breakpoint($breakpoint-desktop) {
					&.mobile-size { display: none; }
					&.desktop-size { display: block; }
				}
			}

			&:hover img,
			&:focus img {
				opacity: 0.6;
				@include transition(opacity 0.3s ease-in-out);
			}
		}

		// -----------------------------------------
		// Liens de changement de boutique
		// -----------------------------------------
		.switch-store-links {
			position: absolute;
			@include rem(t, 5);
			left: 0;
			right: 0;
			@include rem(w, 28.6);
			margin: 0 auto;

			@include breakpoint($breakpoint-tablet) {
				position: relative;
				top: auto;
				left: auto;
				right: auto;
				float: left;
				@include rem(w, 30);
				@include rem(m-t, 1);
				@include rem(m-l, 3);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(w, 40);
				@include rem(m-t, 1.5);
				@include rem(m-l, 5);
			}

			ol {
				@include clearfix;
			}

			li {
				display: block;
				float: left;
				@include rem(w, 14.3);

				@include breakpoint($breakpoint-tablet) {
					@include rem(w, 15);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(w, 20);
				}
			}

			li a {
				display: block;
				text-align: center;
				@include rem(f-s, 1.3);
				@include rem(l-h, 4);
				color: $white;
				text-transform: uppercase;
				text-decoration: none;
				background-color: #333333;
				@include transition(background-color 0.3s ease-in-out);

				@include breakpoint($breakpoint-desktop) {
					@include rem(f-s, 1.8);
					@include rem(l-h, 6);
				}

				&:hover {
					background-color: $red;
				}
			}

			li.menu-item-active a {
				color: $black;
				background-color: $white;

				&:hover {
					color: $black;
				}
			}
		}

		// -----------------------------------------
		// Recherche + langues
		// -----------------------------------------
		.search-lang {
			float: right;
			text-align: right;
			font-size: 0;
		}

		// -----------------------------------------
		// Bouton recherche
		// -----------------------------------------
		.search-button {
			display: inline-block;
			vertical-align: top;

			@include breakpoint($breakpoint-desktop-normal) {
				display: none;
			}

			.icon-sj {
				display: inline-block;
				@include rem(w, 4);
				@include rem(h, 5);
				@include rem(p, 1.5, 1.1);
				@include rem(f-s, 1.7);
				@include rem(l-h, 1.7);
				color: $white;
				vertical-align: middle;
				@include transition(color 0.3s ease-in-out);

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 2);
					@include rem(l-h, 2);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(w, 6);
					@include rem(h, 7.5);
					@include rem(p, 2.5, 1.8);
					@include rem(m-r, 1.2);
					@include rem(f-s, 2.4);
					@include rem(l-h, 2.4);
				}
			}

			.label { display: none; }

			&:hover .icon-sj,
			&.skip-active .icon-sj {
				color: $red;
			}
		}

		// -----------------------------------------
		// Boite de recherche
		// -----------------------------------------
		.boite-recherche {
			@include rem(p, 1.7);
			font-size: 0;
			text-align: left;
			background-color: #333333;

			@include breakpoint($breakpoint-tablet) {
				@include rem(p, 2);
			}

			@include breakpoint($breakpoint-desktop-normal) {
				position: relative;
				top: auto;
				left: auto;
				padding: 0;
				display: inline-block;
				@include rem(w, 20);
				@include rem(h, 7.5);
				@include rem(p, 1.8, 0);
				@include rem(m-r, 1.8);
				background: none;
			}

			.input-box {
				border-bottom: 3px solid #666;

				@include breakpoint($breakpoint-desktop-normal) {
					border-color: #333;
				}
			}

			input.input-text {
				display: inline-block;
				@include calc(width, '100% - 3.8rem');
				@include rem(h, 3.7);
				margin: 0;
				padding: 0;
				font-family: $Lato;
				@include rem(f-s, 1.2);
				color: $white;
				background: none;
				border: none;
				border-radius: 0;
				box-shadow: none;
				vertical-align: top;

				@include breakpoint($breakpoint-tablet) {
					@include calc(width, '100% - 4.1rem');
					@include rem(h, 4);
					@include rem(f-s, 1.3);
				}

				@include breakpoint($breakpoint-desktop) {
					@include calc(width, '100% - 4.9rem');
					@include rem(h, 3.9);
					@include rem(f-s, 1.5);
				}

				&:focus {
					box-shadow: none;
				}
			}

			button {
				display: inline-block;
				float: right;
				width: auto;
				margin: 0;
				padding: 0;
				background: none;
				border: none;
				border-radius: 0;
				vertical-align: top;

				.icon-sj {
					display: block;
					@include rem(w, 3.7);
					@include rem(h, 3.7);
					@include rem(p, 1);
					@include rem(f-s, 1.7);
					@include rem(l-h, 1.7);
					@include transition(color 0.3s ease-in-out);

					@include breakpoint($breakpoint-tablet) {
						@include rem(w, 4);
						@include rem(h, 4);
						@include rem(f-s, 2);
						@include rem(l-h, 2);
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(w, 4.8);
						@include rem(h, 3.9);
						@include rem(p, 0.7, 1, 0.5);
						@include rem(f-s, 2.4);
						@include rem(l-h, 2.4);
					}
				}

				&:hover .icon-sj {
					color: $red;
				}

				.texte { @include no-text; }
			}

			.validation-advice {
				display: none;
			}
		}

		// -----------------------------------------
		// Changeur de langue
		// -----------------------------------------
		.store-language-container {
			display: inline-block;
			vertical-align: top;

			li {
				&.active { display: none; }

				@include breakpoint($breakpoint-tablet) {
					position: relative;
					display: inline-block;

					&.active { display: inline-block; }
				}

				a {
					display: block;
					@include rem(w, 4);
					@include rem(h, 5);
					@include rem(m-r, 0.8);
					text-align: center;
					text-decoration: none;
					@include rem(f-s, 1.3);
					@include rem(l-h, 5);
					color: $white;

					@include breakpoint($breakpoint-tablet) {
						width: auto;
						margin: 0;
						@include rem(m-l, 2);
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(h, 7.5);
						@include rem(f-s, 1.5);
						@include rem(l-h, 7.5);
					}

					&:hover {
						color: $red;
					}
				}

				@include breakpoint($breakpoint-tablet) {
					&:first-child a {
						@include rem(m-l, 1.5);

						&::after {
							position: absolute;
							top: -1px;
							bottom: 0;
							@include rem(r, -1.2);
							display: block;
							margin: auto;
							content: "|";
							color: #333333;
						}
					}
				}

				@include breakpoint($breakpoint-desktop) {
					&:first-child a {
						@include rem(m-l, 1.1);
					}
				}
			}

			li.active a {
				color: #5b5b5b;
			}
		}
	}
}