/* ============================================ *
 * Page d'accueil
 * ============================================ */

.contentmanager-index-view .breadcrumbs {
	display: none;
}

.contentmanager-index-view .ct-view-home {
	@include clearfix;

	@include breakpoint($breakpoint-tablet) {
		@include rem(p, 0, 1, 5);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(p, 0, 0, 5);
	}

	h1 { display: none; }

	a img,
	a:hover img,
	a:focus img {
		opacity: 1;
	}

	// Carrousel
	.products-grid .item {
		margin-top: 0;

		.actions {
			@include rem(m-t, 1.5);
		}
	}

	.p-container {
		width: 100%;
		margin: 0 auto;
		clear: both;

		.p-carousel-pager {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@include rem(h, 24);

			@include breakpoint($breakpoint-tablet) {
				@include rem(h, 19);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(h, 20);
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(h, 24);
			}

			.p-car-pager-left,
			.p-car-pager-right {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto 0;
				color: $red;
				opacity: 1;
				cursor: pointer;
				@include rem(w, 2);
				@include rem(h, 4);
				@include rem(f-s, 4);
				@include rem(l-h, 4);
				@include transition(opacity 0.3s ease-in-out);

				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(l, 0.5);
					}
				}

				&:hover,
				&:focus {
					opacity: 0.6;
					@include transition(opacity 0.3s ease-in-out);
				}

				&.disabled {
					color: #c5c4c4;
					cursor: default;
					opacity: 1;
				}

				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(w, 1.2);
						@include rem(h, 2.4);
						@include rem(f-s, 2.4);
						@include rem(l-h, 2.4);
					}
				}

			}

			.p-car-pager-right {
				left: auto;
				right: 0;
				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(r, 0.5);
					}
				}
			}
		}

		.category-products {
			width: 100%;
			position: relative;
			@include rem(p, 0, 3);
			@include breakpoint($breakpoint-tablet) {
				@include rem(p, 0, 2.5);
			}
			@include breakpoint($breakpoint-desktop) {
				@include rem(p, 0, 5);
			}

			.products-grid {
				@include breakpoint($breakpoint-tablet) {
					@include rem(p, 0, 1);
				}

				.item {
					background-color: transparent;
					@include rem(p, 0);

					.product-image img {
						@include rem(max-w, 24);

						@include breakpoint($breakpoint-tablet) {
							@include rem(max-w, 19);
						}

						@include breakpoint($breakpoint-desktop) {
							@include rem(max-w, 20);
						}

						@include breakpoint($breakpoint-desktop-normal) {
							@include rem(max-w, 24);
						}
					}

					.product-desc {
						background-color: transparent;
						@include rem(m, 0);
						@include breakpoint($breakpoint-tablet) {
							@include breakpoint(max-width $breakpoint-desktop - 1) {
								@include rem(p, 1, 0);
							}
						}

						.price-box {

							.special-price,
							.old-price,
							.regular-price {

								@include breakpoint($breakpoint-tablet) {
									@include breakpoint(max-width $breakpoint-desktop - 1) {
										display: block;
									}
								}

								.price {
									@include breakpoint($breakpoint-tablet) {
										@include breakpoint(max-width $breakpoint-desktop - 1) {
											@include rem(f-s, 1.2);
										}
									}
								}
							}

							.old-price {
								@include breakpoint($breakpoint-tablet) {
									@include breakpoint(max-width $breakpoint-desktop - 1) {
										margin-left: 0;
									}
								}
							}
						}

						h2:after { display: none; }
					}
				}
			}
		}

		&.carrousel-produit {
			background-color: $beige;
			@include rem(m, 0.5, 0);
			@include rem(p-t, 1);
			text-align: center;
			float: left;
			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 1, 0);
			}

			h2 {
				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(f-s, 1.6);
					}
				}
			}

			.product-desc {
				@include rem(p-r, 0);
				@include rem(p-l, 0);

				h3.product-name a {
					@include breakpoint($breakpoint-tablet) {
						@include breakpoint(max-width $breakpoint-desktop - 1) {
							font-size: 1.2rem !important;
						}
					}
				}
			}

		}

		&.bottom-content {
			width: 100%;
			float: left;
			@include rem(m-t, 1);


			.category-products {
				.products-grid {
					.item {
						@include rem(p, 0);

						.product-desc h3.product-name a {
							@include breakpoint($breakpoint-tablet) {
								@include breakpoint(max-width $breakpoint-desktop - 1) {
									@include rem(f-s, 1.2);
									@include rem(l-h, 1.2);
								}
							}
						}

					}
				}
			}

			.p-carousel-pager {
				.p-car-pager-left,
				.p-car-pager-right {
					@include rem(w, 2);
					@include rem(h, 4);
					@include rem(f-s, 4);
					@include rem(l-h, 4);
					@include breakpoint($breakpoint-tablet) {
						@include rem(w, 3);
						@include rem(h, 6);
						@include rem(f-s, 6);
						@include rem(l-h, 6);
					}
					@include breakpoint($breakpoint-desktop) {
						@include rem(w, 4);
						@include rem(h, 8);
						@include rem(f-s, 8);
						@include rem(l-h, 8);
					}
				}
			}

		}

	}

	// Colonne de gauche
	.left {
		@include rem(p-r, 0);
		width: 100%;
		@include breakpoint($breakpoint-tablet) {
			float: left;
			@include calc(width, '100% - (185px)');
			@include rem(p-r, 0.5);
		}
		@include breakpoint($breakpoint-desktop) {
			@include calc(width, '100% - (310px)');
			@include rem(p-r, 1);
		}
		
		.img-desktop { 
			display: none;
			width: 100%;
			@include breakpoint($breakpoint-tablet) {
				display: block;
			}
		}

		.img-mobile { 
			display: block; 
			width: 100%;
			@include breakpoint($breakpoint-tablet) {
				display: none;
			}
		}

		.focus-content {
			text-align: center;
			@include rem(p-t, 2.3);
			@include breakpoint($breakpoint-tablet) {
				text-align: left;
				@include rem(p-t, 3.1);
			}
			@include breakpoint($breakpoint-desktop) {
				@include rem(p-t, 5.5);
			}


			.focus {
				float: left;
				width: 100%;
				position: relative;
				@include rem(m-b, 2);
				@include rem(p-b, 4);
				@include breakpoint($breakpoint-tablet) {
					@include rem(p-b, 0);
				}
				
				.title-and-desc {
					width: 100%;
					float: left;
					@include rem(p, 0);
					@include breakpoint($breakpoint-tablet) {
						display: table-cell;
						vertical-align: middle;
						float: none;
						width: 47.67%;
						@include rem(p, 0, 1, 0, 0);
					}
					@include breakpoint($breakpoint-desktop) {
						@include rem(p, 0, 2, 0, 0);
					}

					h3 {
						font-family: $LoraItalic;
						@include rem(m, 1, 0, 2);
						@include rem(f-s, 2);
						@include rem(l-h, 2.2);
						@include breakpoint($breakpoint-tablet) {
							@include rem(m, 0, 0, 0.6);
							@include rem(l-h, 2.3);
						}
						@include breakpoint($breakpoint-desktop) {
							@include rem(f-s, 2.6);
							@include rem(m-t, 0);
							@include rem(m-b, 1);
							@include rem(l-h, 3.1);
						}
						@include breakpoint($breakpoint-desktop-normal) {
							@include rem(f-s, 2.8);
							@include rem(m-b, 1.3);
							@include rem(l-h, 3.5);
						}
					}

					.description {
						display: none;
						@include breakpoint($breakpoint-tablet) {
							display: block;
						}
						
						p {
							@include rem(f-s, 1.8);
							display: none;

							@include breakpoint($breakpoint-tablet) {
								@include breakpoint(max-width $breakpoint-desktop - 1) {
									display: block;
									@include rem(f-s, 1.2);
									@include rem(l-h, 1.7);
								}
							}

							@include breakpoint($breakpoint-desktop) {
								display: block;
								@include rem(f-s, 1.6);
							}

							@include breakpoint($breakpoint-desktop-normal) {
								display: block;
								@include rem(f-s, 1.8);
								@include rem(l-h, 2.6);
							}
						}
					}
					
					.lien {
						position: absolute;
						bottom: 0; left: 0; right: 0;

						@include rem(m-t, 2.5);
						@include breakpoint($breakpoint-tablet) {
							position: relative;
							@include rem(m-t, 1.3);
						}
						@include breakpoint($breakpoint-desktop) {
							@include rem(m-t, 2.5);
						}
						a {
							position: relative;
							display: inline-block;
							@include rem(p, 0.5, 0);
							@include rem(f-s, 1.3);
							color: $black;
							border-top: 1px solid $black;
							border-bottom: 1px solid $black;
							@include transition(color 0.3s ease-in-out, border-color 0.3s ease-in-out);

							@include breakpoint($breakpoint-desktop) {
								@include rem(f-s, 1.8);
							}

							&:hover,
							&:focus {
								color: $red;
								border-color: $red;
								@include transition(color 0.3s ease-in-out, border-color 0.3s ease-in-out);
							}
						}
					}
				}
				.image {
					width: 100%;
					float: left;
					@include rem(p, 0);
					@include breakpoint($breakpoint-tablet) {
						display: table-cell;
						vertical-align: middle;
						float: none;
						width: 52.33%;
						@include rem(p, 0, 0, 0, 3);
					}
					@include breakpoint($breakpoint-desktop) {
						@include rem(p, 0, 0, 0, 4);
					}

					img {
						display: block;
						width: 100%;
					}
				}

				&.odd .image {
					&:first-child {
						display: none;
						@include breakpoint($breakpoint-tablet) {
							display: none;
						}
					}
				}
			
				&.even .image {
					&:first-child {
						display: none;
						@include breakpoint($breakpoint-tablet) {
							display: table-cell;
							@include rem(p, 0, 3, 0, 0);
						}
						@include breakpoint($breakpoint-desktop) {
							@include rem(p, 0, 4, 0, 0);
						}
					}
					
					&:last-child {
						display: block;
						@include rem(p, 0);
						@include breakpoint($breakpoint-tablet) {
							display: none;
						}
					}

				}
			
			}
		}
	}

	// Colonne de droite
	.right {
		width: 100%;
		@include rem(p-l, 0);
		@include breakpoint($breakpoint-tablet) {
			float: right;
			width: 185px;
			@include rem(p-l, 0.5);
		}
		@include breakpoint($breakpoint-desktop) {
			width: 310px;
			@include rem(p-l, 1);
		}
		
		.promo-vente-privee {
			@include rem(min-h, 46);
			text-align: center;
			background-color: $beige;
			width: 100%;
			float: left;
			@include rem(m-t, 1);
			@include rem(m-b, 0.5);
			@include rem(p, 0, 2);
			@include breakpoint($breakpoint-tablet) {
				@include rem(p, 0, 1.25);
				@include rem(m-t, 0);
				@include rem(min-h, 27.3);
			}
			@include breakpoint($breakpoint-desktop) {
				@include rem(p, 0, 2);
				@include rem(m-b, 1);
				@include rem(min-h, 46);
			}
			
			h2 {
				background-color: $black;
				color: #fff;
				@include rem(m, 0);
				@include rem(p, 1, 0);
				@include rem(f-s, 2.6);
				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(f-s, 1.6);
						@include rem(p, 0.8, 0, 0.4);
					}
				}
			}
			
			.slogan {
				background-color: $black;
				color: #fff;
				position: relative;
				@include rem(m, 0, 0, 3.8);
				@include rem(p-b, 2);
				@include rem(f-s, 1.6);
				@include rem(l-h, 2.2);
				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(f-s, 1);
						@include rem(l-h, 1.4);
						@include rem(p-b, 1.2);
						@include rem(m, 0, 0, 1.6);
					}
				}
				
				&:after {
					content: "";
					position: absolute;
					background-color: $black;
					@include rem(w, 2.4);
					@include rem(h, 2.4);
					@include rem(b, -1.2);
					@include rem(m-l, -1.2);
					left: 50%;
					-webkit-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
						    transform: rotate(45deg);
					@include breakpoint($breakpoint-tablet) {
						@include breakpoint(max-width $breakpoint-desktop - 1) {
							@include rem(w, 1.4);
							@include rem(h, 1.4);
							@include rem(b, -0.7);
							@include rem(m-l, -0.7);
						}
					}
				}
				
				.pourcentage {
					position: relative;
					left: 2px;
					@include rem(f-s, 5);
					@include rem(l-h, 6.4);
					@include breakpoint($breakpoint-tablet) {
						@include breakpoint(max-width $breakpoint-desktop - 1) {
							@include rem(m-l, 0.3);
							@include rem(f-s, 3);
							@include rem(l-h, 4);
						}
					}
				}
				
				.majuscule {
					@include rem(f-s, 2.8);
					@include rem(m, -2, 0, -2, 0.1);
					@include rem(l-h, 4.5);
					@include rem(l-s, 0.37);
					display: inline-block;
					width: 100%;
					text-transform: uppercase;
					@include breakpoint($breakpoint-tablet) {
						@include breakpoint(max-width $breakpoint-desktop - 1) {
							@include rem(f-s, 1.7);
							@include rem(l-s, 0.27);
						}
					}
				}
			}
			
			.button {
				width: auto;
				margin: 2rem 10% 2rem;
				@include rem(f-s, 1.6);
				@include rem(l-h, 4);
				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(f-s, 1.2);
						@include rem(h, 2.5);
						@include rem(l-h, 2.5);
						margin: 1rem 8% 1rem;
					}
				}
			}
		}
		
		.must-meilleur-vendeur {
			background-color: $beige;
			@include rem(m, 1, 0);
			@include rem(p, 1, 2, 2);
			text-align: center;
			float: left;
			width: 100%;
			@include breakpoint($breakpoint-tablet) {
				@include rem(m, 0.5, 0);
				@include rem(p, 1, 1);
			}
			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 1, 0);
				@include rem(p, 1, 2, 2);
			}
			
			h2 {
				@include breakpoint($breakpoint-tablet) {
					@include breakpoint(max-width $breakpoint-desktop - 1) {
						@include rem(f-s, 1.6);
					}
				}
			}

			img { display: block; }
		}

		.image-sans-titre {
			float: left;
			width: 100%;
			@include rem(m, 0, 0, 1, 0);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m, 0, 0, 1, 0);
			}
			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 0, 0, 2, 0);
			}

			img {
				display: block;
				margin: auto;
			}
		}

		.zone-video {
			background-color: $beige;
			@include rem(m, 1, 0);
			text-align: left;
			float: left;
			width: 100%;
			
			.info-video {
				@include rem(p, 2);
				@include rem(f-s, 1.5);
				@include rem(l-h, 2);
				@include rem(m-b, 1);
				@include breakpoint($breakpoint-tablet) {
					@include rem(p, 1);
					@include rem(f-s, 1.2);
					@include rem(l-h, 1.7);
				}
				@include breakpoint($breakpoint-desktop) {
					@include rem(p, 2);
					@include rem(f-s, 1.6);
					@include rem(l-h, 2.1);
				}
				
				.duree {
					color: #7f7f7f;
					@include rem(f-s, 1.5);
					@include rem(m-b, 2);
					@include breakpoint($breakpoint-tablet) {
						@include breakpoint(max-width $breakpoint-desktop - 1) {
							@include rem(f-s, 1.2);
							@include rem(m-b, 1);
						}
					}
				}
			}
		}

		// Carrousel
		.p-container {

			.p-carousel-pager {
				@include rem(h, 21.6);

				@include breakpoint($breakpoint-tablet) {
					@include rem(h, 13);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(h, 20);
				}

				.p-car-pager-left {
					@include rem(l, 1);

					@include breakpoint($breakpoint-tablet) {
						@include rem(l, 0.6);
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(l, 1.4);
					}
				}

				.p-car-pager-right {
					@include rem(r, 1);

					@include breakpoint($breakpoint-tablet) {
						@include rem(r, 0.6);
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(r, 1.4);
					}
				}
			}

			.category-products {

				.products-grid {
					@include rem(p, 0, 1);

					@include breakpoint($breakpoint-tablet) {
						padding: 0;
					}

					.product-image img {
						@include rem(max-w, 21.6);

						@include breakpoint($breakpoint-tablet) {
							@include rem(max-w, 13);
						}

						@include breakpoint($breakpoint-desktop) {
							@include rem(max-w, 20);
						}
					}
				}
			}
		}
	}

	.focus-content > h2, .bottom-content > h2 {
		position: relative;
		@include rem(f-s, 3);
		@include rem(m-b, 1.4);
		text-align: center;
		@include breakpoint($breakpoint-tablet) {
			@include rem(f-s, 2.8);
			@include rem(m-b, 2);
			text-align: left;
		}
		@include breakpoint($breakpoint-desktop) {
			@include rem(f-s, 4);
			@include rem(m-b, 1);
		}
		&:after {
			content: "";
			position: absolute;
			display: none;
			background-color: #c7c7c7;
			@include breakpoint($breakpoint-tablet) {
				@include rem(h, 0.1);
				@include rem(w, 4);
				display: block;
			}
			@include breakpoint($breakpoint-desktop) {
				@include rem(h, 0.2);
				@include rem(w, 8);
			}
		}
	}

	.bottom-content > h2 {
		@include breakpoint($breakpoint-desktop) {
			@include rem(m-b, 3);
		}
	}
}
