/* ============================================ *
 * Menu principal avec le plugin mmenu
 * ============================================ */
.mm-menu > .mm-panel {
	@include rem(p, 0, 2);
}

.mm-menu > .mm-header {
	@include rem(h, 4);
	font-family: $LoraItalic;
	@include rem(f-s, 2);
	@include rem(l-h, 4);
	color: $white;
}

.mm-menu.mm-hasheader > .mm-panel.mm-list {
	@include rem(p-t, 4);
}

.mm-menu .mm-list {
	padding: 0;
}

.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults)::after {
	margin-left: 0;
	border-color: #494949;
}

.mm-menu .mm-list > li > a.mm-subclose {
	@extend .icon-sj;
	@extend .icon-sj-fleche-gauche;

	&::before {
		position: absolute;
		@include rem(b, 3.2);
		left: 0;
		@include rem(w, 0.6);
		@include rem(h, 0.9);
		font-size: 8px;
		border: none;
		transform: none;
	}

	&::after {
		display: none;
	}
}

.mm-menu .mm-list > li > a.mm-subopen {
	@include rem(h, 4);
	@extend .icon-sj;
	@extend .icon-sj-fleche-droite;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		@include calc(width, '100% - 15px');
		@include rem(h, 0.8);
		font-size: 8px;
		color: $white;
		text-align: right;
		border-left: none;
	}

	&::after {
		display: none;
	}
}

.mm-list a.level0,
.mm-list span.level0,
.mm-list a.level1,
.mm-list span.level1,
.mm-list a.level2,
.mm-list span.level2,
.mm-list a.level3,
.mm-list span.level3,
.mm-list a.level4,
.mm-list span.level4 {
	@include rem(f-s, 1.6);
	color: $white;
	@include rem(p, 0.7, 0);
}

.mm-list a.mm-subclose {
	@include rem(f-s, 1.6);
	color: $white;
}

.mm-list a.mm-subopen + a,
.mm-list a.mm-subopen + span {
	border-right: none;
}

.mm-menu .mm-list > li.mm-selected > a,
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span {
	background: none;
	color: $red;
}

// État "active" sur les menus deux 2e niveau et plus
.mm-menu .mm-panel li.menu-item-active > a {
	color: $red;
}

// Blocker
#mm-blocker {
	@extend .icon-sj;
	@extend .icon-sj-fermer;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		@include rem(w, 21);
		@include rem(h, 4);
		@include rem(p, 1.1, 1, 1);
		@include rem(m, 0.3, 0, 0, 1);
		@include rem(f-s, 1.5);
		@include rem(l-h, 1.5);
		line-height: 15px;
		color: $black;
		background-color: $white;
		@include transition(color 0.3s ease-in-out, opacity 0.3s ease-in-out);
		box-sizing: border-box;
		opacity: 0;

		@include breakpoint($breakpoint-tablet) {
			@include rem(w, 23);
		}
	}
}

html.mm-opening #mm-blocker::before { opacity: 1; }

// Enfants
.mm-menu > .mm-panel.children li.menu-item {
	@include rem(m, 0, 2);
}

.mm-menu > .mm-panel.children li.menu-item.publicite p:last-child {
	margin-bottom: 0;
}
.mm-menu > .mm-panel.children li.menu-item.publicite img {
	display: block;
	margin: 0 auto;
	@include rem(p, 2, 0);
}





/* ============================================ *
 * Menu principal (Big Menu)
 * ============================================ */
header.main-header .main-menu {
	display: none;
	border-bottom: 1px solid #d0d0d0;
	background-color: $white;

	@include breakpoint($breakpoint-desktop) {
		position: relative; // Important pour le sous-menu pour le positionnement, il ne faut pas qu'il soit plus bas dans l'arborescence
		display: block;
	}

	ol.nav-primary {
		display: block;
		width: 100%;

		@include clearfix;
	}


	// Menu principal (Premier niveau)
	li.level0 {
		float: left;

		&:last-child { float: right; }

		> a {
			position: relative;
			display: block;
			@include rem(p, 1.4, 0, 1.7);
			@include rem(m, 0, 1.9);
			@include rem(f-s, 1.8);
			color: $black;
			text-decoration: none;

			&:lang(en) { @include rem(m, 0, 2.76); }

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(m, 0, 3);
				&:lang(en) { @include rem(m, 0, 4); }
			}
		}
		&:first-child > a { margin-left: 0 !important; }
		&:last-child > a { margin-right: 0 !important; }

		&:hover > a,
		> a:hover,
		> a:focus {
			color: $red;
		}

		&.menu-item-active > a {
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				content: "";
				display: block;
				width: 100%;
				height: 3px;
				background-color: $red;
			}
		}
	}

	li.level0.parent > a::before {
		position: absolute;
		bottom: -13px;
		left: 0;
		right: 0;
		z-index: 5;
		content: "";
		height: 0px;
		width: 0px;
		padding: 0px;
		margin: 0 auto;
		border-top: 12px solid #d0d0d0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		opacity: 0;
		@include transition(opacity 0.3s ease-in-out 0s);
	}
	li.level0.parent.menu-item-active > a::before {
		bottom: -12px;
		border-top-color: $red;
	}
	&.menu-ready li.level0.parent:hover > a::before {
		opacity: 1;
		@include transition(opacity 0.3s ease-in-out 0.3s);
	}


	// Menu secondaire (Big menu)
	li.level0 > .children { display: none; }
	&.menu-ready li.level0 > .children {
		display: block;
		position: absolute;
		top: -9999px;
		left: -9999px;
		width: 100%;
		background-color: $beige;
		border-bottom: 1px solid #d0d0d0;
		opacity: 0;
		@include transition(opacity 0.3s ease-in-out, top 0s ease-in-out 0.3s, left 0s ease-in-out 0.3s);

		div.level0 {
			@include rem(max-w, 120);
			margin: 0 auto;
			@include rem(p, 3.3, 1);
			@include clearfix;
		}
	}

	//li.level0.brands > .children,
	//li.level0:nth-child(2) > .children,
	li.level0:hover > .children {
		@include rem(t, 6.1);
		left: 0;
		opacity: 1;
		@include transition(opacity 0.3s ease-in-out 0.3s, top 0s ease-in-out 0.3s, left 0s ease-in-out 0.3s);
	}
	li.level0 > .children ul.colonne {
		float: left;
		@include calc(width, '20% - 120px / 5');
		@include rem(m-l, 3);

		&:first-child { margin-left: 0; }
	}

	li.level1 {

		a {
			display: block;
			@include rem(f-s, 1.5);
			@include rem(l-h, 1.8);
			@include rem(m-b, 0.8);
			color: $black;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $red;
			}
		}
	}

	// État "active" sur les menus deux 2e niveau et plus
	li.level0 > .children .menu-item-active > a {
		color: $red;
	}

	// Brands
	li.level0.brands li.toutes-marques {
		@include rem(m-t, 4.6);

		> a {
			font-family: $LatoBold;

			span {
				position: relative;
				@extend .icon-sj;
				@extend .icon-sj-fleche-droite;

				&::before {
					position: absolute;
					top: 0;
					bottom: 0;
					@include rem(r, -1.3);
					margin: auto;
					@include rem(w, 0.6);
					@include rem(h, 0.8);
					font-size: 8px;
					color: $red;
					border-left: none;
				}
			}
		}
	}

	// Autres types de Big Menu
	li.level0:not(.brands) ul.colonne {
		position: relative;
		@include calc(width, '(63.56% / 3) - 60px / 3');

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			content: "";
			width: 1px;
			height: 100%;
			background-color: #ccc;
		}
	}

	li.level0:not(.brands) ul.colonne-1::after {
		@include calc(right, '-100% * 2 - 3rem * 2');
	}

	li.level0:not(.brands) ul.colonne-2::after {
		@include calc(right, '-100% - 3rem');
	}

	li.level0:not(.brands) ul.colonne-4 {
		@include calc(width, '16.1% - 30px');

		&::after {
			@include calc(right, '100% + 3rem');
		}
	}

	li.level0:not(.brands) ul.colonne-5 {
		@include calc(width, '36.44% - 30px');

		&::after {
			display: none;
		}
	}

	li.level0:not(.brands) ul.colonne-4 + ul.colonne-5 {
		@include calc(width, '20.34% - 30px');
	}

	li.level0:not(.brands) li.level1 {
		> a {
			@include rem(f-s, 1.6);
			@include rem(l-h, 1.8);
			@include rem(m-b, 1.9);
			font-weight: bold;
		}

		> .children {
			@include rem(m-t, -1);
		}
	}

	li.level0:not(.brands) li.tous {
		@include no-text;
		position: relative;
	}

	li.level0:not(.brands) li.level1 li.level2:last-child {
		@include rem(m-b, 1.5);
	}

	li.level0:not(.brands) li.level1 li.level2.tous:last-child {
		@include rem(m-b, 0.7);
	}

	li.level0:not(.brands) ul.colonne-5 .publicite p:last-child { margin-bottom: 0; }
	li.level0:not(.brands) ul.colonne-5 .publicite img { display: block; }
}