// --------------------------------------------------------------
//	Menu dans la colonne de gauche
// --------------------------------------------------------------

// Section "Mon compte"
body.customer-account .sidebar {
	display: none;

	@include breakpoint($breakpoint-desktop) {
		display: block;
	}
}

body.customer-account .sidebar .block-account {
	@include rem(m-b, 2);

	@include breakpoint($breakpoint-desktop) {
		margin-bottom: 0;
	}

	// Bloc Titre
	.block-title {
		border-bottom: 4px solid #000;
		@include rem(p-b, 0.8);

		span {
			font-family: $LoraItalic;
			@include rem(f-s, 3.2);
			text-transform: none;
		}

		strong { font-weight: normal; }
	}

	ul {
		margin: 0;

		li {
			list-style: none;

			a,
			strong {
				display: inline-block;
				@include rem(m, 2, 0);
				padding: 0;
				@include rem(f-s, 1.6);
				@include rem(l-s, 0.015);
				line-height: inherit;
				color: $black;
				@include transition(color 0.3s ease-in-out);

				&::before { display: none; }

				&:hover,
				&:focus {
					color: $red;
					@include transition(color 0.3s ease-in-out);
				}
			}

			strong {
				color: $red;
				font-weight: normal;
			}

			&::after {
				display: block;
				content: "";
				@include rem(w, 5);
				@include rem(h, 0.1);
				background-color: #ccc;
			}

			&.last {
				border-bottom: 4px solid #000;

				&::after {
					display: none;
				}
			}

			&.current a {
				color: $red;
			}
		}
	}
}