// --------------------------------------------------------------
//	Popup d'invitation d'inscription à l'infolettre
// --------------------------------------------------------------

	#esns_box_layer {
		@include calc('width', '100% - 2rem');
		@include rem(max-w, 30);
		margin: 0 auto;
		@include rem(p, 2.5, 2.5, 7.5);

		&.error-msg {
			@include rem(p-b, 6.5);
		}

		&.step-2 {
			@include rem(p-b, 3.5);
		}

		@include breakpoint(400px) {
			@include rem(max-w, 38);
		}

		@include breakpoint($breakpoint-tablet) {
			@include rem(max-w, 65);
			@include rem(p, 2.5, 5.5, 6.9);

			&.error-msg {
				@include rem(p-b, 5);
			}

			&.step-2 {
				@include rem(p-b, 4);
			}
		}
	}

	#esns_box_close {

		&::before {
			@include rem(f-s, 1.6);
			line-height: 16px;
			color: #000;
			@include transition(color 0.3s ease-in-out);

			@include breakpoint($breakpoint-tablet) {
				@include rem(f-s, 1.8);
				line-height: 18px;
			}
		}

		&:hover::before,
		&:focus::before {
			color: $red;
		}
	}

	.content {

		// Gros titre
		.big-title {
			@include rem(m, 1, 0);
			font-family: $BodoniRecutLight;
			@include rem(f-s, 5.5);
			@include rem(l-h, 5.5);
			text-transform: uppercase;

			@include breakpoint(400px) {
				@include rem(m, 1, 0, 0.5);
				@include rem(f-s, 6.3);
				@include rem(l-h, 6.3);
				@include rem(l-s, 0.31);
			}

			@include breakpoint($breakpoint-tablet) {
				@include rem(m, 1, 0);
				@include rem(f-s, 8.5);
				@include rem(l-h, 8.5);
				@include rem(l-s, 0.45);
			}
		}

		// Séparateur
		.separator {
			display: inline-block;
			@include rem(w, 3.4);
			@include rem(h, 0.4);
			@include rem(m, 0.7, 0, 1);
			background-color: #000;

			@include breakpoint(400px) {
				@include rem(m, 0.6, 0, 1.1);
			}

			@include breakpoint($breakpoint-tablet) {
				@include rem(w, 4.4);
				@include rem(h, 0.5);
				@include rem(m, 0.5, 0, 1.7);
			}
		}

		// Step #1
		.step-1 {

			// Explication de l'offre
			.offer {
				@include rem(m-t, 0.5);
				font-family: $BodoniRecutRegular;
				@include rem(f-s, 1.8);
				@include rem(l-h, 2.4);

				span {
					display: block;
					@include rem(m-t, 0.4);
					@include rem(f-s, 2.1);
					@include rem(l-h, 2.1);
					text-transform: uppercase;
				}

				@include breakpoint(400px) {
					@include rem(f-s, 2);
					@include rem(l-h, 2.8);
					@include rem(l-s, 0.1);

					span {
						@include rem(m-t, 0.1);
						@include rem(f-s, 2.8);
						@include rem(l-h, 3.4);
						@include rem(l-s, 0.05);
					}
				}

				@include breakpoint($breakpoint-tablet) {
					@include rem(m-t, 1.2);
					@include rem(f-s, 2.7);
					@include rem(l-h, 3.3);
					@include rem(l-s, 0.12);

					span {
						@include rem(f-s, 3.8);
						@include rem(l-h, 4.5);
						@include rem(l-s, 0.2);

						&:lang(en) {
							@include rem(m-t, 0.5);
						}
					}
				}
			}

			// Slogan
			.slogan {
				font-family: $BodoniRecutItalic;
				@include rem(f-s, 2);
				@include rem(l-h, 2.5);
				@include rem(l-s, 0.1);

				&:lang(en) {
					@include rem(f-s, 1.9);
					@include rem(l-h, 2.5);
					@include rem(l-s, 0.1);
				}

				@include breakpoint(400px) {
					@include rem(f-s, 2);
					@include rem(l-h, 2.5);
					@include rem(l-s, 0.1);

					&:lang(en) {
						@include rem(f-s, 2);
						@include rem(l-h, 2.5);
						@include rem(l-s, 0.1);
					}
				}

				@include breakpoint($breakpoint-tablet) {
					@include rem(m-b, 2.2);
					@include rem(f-s, 2.2);
					@include rem(l-h, 2.9);
					@include rem(l-s, 0.1);

					&:lang(en) {
						@include rem(f-s, 2.2);
						@include rem(l-h, 2.9);
						@include rem(l-s, 0.1);
					}

					br {
						display: none;
					}
				}
			}

			// Notice / Avertissement en-dessous du champ texte
			.notice {
				position: absolute;
				@include rem(b, 2.5);
				left: 0;
				width: 100%;
				@include rem(p, 0, 2.5);
				margin: 0;
				font-family: $Lato;
				@include rem(f-s, 1.1);
				@include rem(l-h, 1.8);
				@include rem(l-s, 0.033);
				color: #949494;

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 1.3);
					@include rem(l-h, 1.8);
					@include rem(l-s, 0.039);
				}
			}
		}

		// Step #2
		.step-2 {

			// Séparateur
			.separator {

				@include breakpoint(400px) {
					@include rem(m, 1.2, 0, 0.5);
				}

				@include breakpoint($breakpoint-tablet) {
					@include rem(m, 1, 0, 0.3);
				}
			}

			// Message de confirmation
			.confirmation {
				@include rem(m-t, 0.5);
				font-family: $BodoniRecutRegular;
				@include rem(f-s, 1.8);
				@include rem(l-h, 2.4);

				@include breakpoint(400px) {
					@include rem(f-s, 2);
					@include rem(l-h, 2.8);
					@include rem(l-s, 0.1);
				}

				@include breakpoint($breakpoint-tablet) {
					@include rem(m-t, 1.2);
					@include rem(f-s, 2.7);
					@include rem(l-h, 3.3);
					@include rem(l-s, 0.12);
				}
			}

			// Bouton lien
			a.shop-link {
				display: inline-block;
				width: auto;
				@include rem(h, 3);
				@include rem(p, 0, 1);
				@include rem(m-t, 0.5);
				font-family: $LatoBlack;
				@include rem(f-s, 0.9);
				@include rem(l-h, 2.9);
				text-transform: uppercase;
				color: #fff;
				background-color: #000;
				@include transition(background-color 0.3s ease-in-out);

				&:hover,
				&:focus {
					background-color: $red;
				}

				@include breakpoint(400px) {
					@include rem(p, 0, 1.5);
					@include rem(m-t, 1);
					@include rem(f-s, 1);
					@include rem(l-h, 2.9);
					@include rem(l-s, 0.2);
				}

				@include breakpoint($breakpoint-tablet) {
					@include rem(h, 4);
					@include rem(f-s, 1.3);
					@include rem(l-h, 3.9);
					@include rem(l-s, 0.26);
				}
			}
		}
	}

	#esns_box_subscribe {

		#esns_box_subscribe_form {
			@include clearfix;
		}

		input {
			display: block;
			float: left;
			@include calc('width', '100% - 7.8rem');
			@include rem(h, 3);
			@include rem(p, 0, 0.5);
			font-family: $Lato;
			@include rem(f-s, 1.1);
			@include rem(l-h, 3);
			color: #949494;
			border: 1px solid #bebebe;

			#esns_box_layer.error-msg & {
				border-color: $red;
				background-color: rgba(255, 0, 0, 0.05);
			}

			@include breakpoint(400px) {
				@include calc('width', '100% - 10.5rem');
				@include rem(p, 0, 0.9);
				@include rem(l-s, 0.12);
			}

			@include breakpoint($breakpoint-tablet) {
				@include calc('width', '100% - 17rem');
				@include rem(h, 4);
				@include rem(p, 0, 1.5);
				@include rem(f-s, 1.3);
				@include rem(l-h, 4);
				@include rem(l-s, 0.26);
			}
		}

		a#esns_submit {
			display: block;
			float: left;
			@include rem(w, 7.8);
			@include rem(h, 3);
			font-family: $LatoBlack;
			@include rem(f-s, 0.9);
			@include rem(l-h, 2.9);
			text-transform: uppercase;
			color: #fff;
			background-color: #000;
			@include transition(background-color 0.3s ease-in-out);

			&:hover,
			&:focus {
				background-color: $red;
			}

			@include breakpoint(400px) {
				@include rem(w, 10.5);
				@include rem(f-s, 1);
				@include rem(l-h, 2.9);
				@include rem(l-s, 0.2);
			}

			@include breakpoint($breakpoint-tablet) {
				@include rem(w, 17);
				@include rem(h, 4);
				@include rem(f-s, 1.3);
				@include rem(l-h, 3.9);
				@include rem(l-s, 0.26);
			}
		}

		#esns_box_subscribe_response_error {
			@include rem(m-t, 0.5);
			font-family: $Lato;
			@include rem(f-s, 1.1);
			@include rem(l-h, 1.8);
			@include rem(l-s, 0.033);
			color: $red;

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 1);
				font-family: $LatoBold;
				@include rem(f-s, 1.3);
				@include rem(l-h, 1.8);
				@include rem(l-s, 0.039);
			}
		}
	}