/* Plumrocket Popup Login */
html {
	-ms-overflow-style: scrollbar;
}

#prpop-addedoverlay {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2010;
	background-color: black;
	filter: alpha(opacity=80);
	opacity: 0.8;
	display: none;
}

/*=== therms of holder ===*/
.prpop-temrs-holder {
	background-color: white;
	color: black;
	height: 100%;
	padding: 0 15px;
}

.prpop-temrs-holder a {
	color: #39C;
	text-decoration: underline;
}

.prpop-temrs-holder #popup_logo {
	text-align: center;
	padding-top: 20px;
}

.prpop-temrs-holder #popup_logo img {
	display: inline;
}

.prpop-pop-up-form {
	display:none;
	left: 0px;
	top: 0px;
	position:fixed;
	width: 100%;
	z-index: 2020;
	height:100%;
	color:#666666;
	text-align:left;
}


#prpop-pop-up-bg {
	@include rem(max-w, 47);
	@include rem(p, 0, 1);
	margin: 0 auto;
	margin-top: 10%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#prpop-pop-up-bg * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#prpop-pop-up-bg .prpop-splash-container {
	position: relative;
	@include rem(p, 2, 2);
	background-color: $white;
	@include breakpoint($breakpoint-tablet) {
		@include rem(p, 3.5, 4);
	}
}

/*=== main styles ===*/
#prpop-pop-up-bg h2 {
	position: relative;
	@include rem(f-s, 2.6);
	@include rem(l-h, 3);
	@include rem(m-b, 2);	
	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 3.6);
		@include rem(l-h, 4);
	}
}
#prpop-pop-up-bg .prpop-new-users.prpop-formholder h2 {
	@include rem(m, 0.6, 3, 0.6, 0);
	@include rem(p-b, 3);

	@include breakpoint($breakpoint-tablet) {
		@include rem(m, 0.6, 3, 0.9, 0);
	}
}
#prpop-pop-up-bg .prpop-new-users.prpop-formholder h2:before {
	position: absolute;
	left: 0;
	bottom: 4px;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #c7c7c7;

	@include breakpoint($breakpoint-tablet) {
		bottom: 17px;
	}
}

#prpop-pop-up-bg .prpop-new-users.prpop-formholder p {
	font-family: $LoraItalic;
	@include rem(f-s, 1.9);	
	@include rem(l-h, 2.8);
	@include rem(m-b, 3);
	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 2.4);
		@include rem(l-h, 3);
	}
}
#prpop-pop-up-bg a {
	color: #000;
	text-decoration: underline;
}

#prpop-pop-up-bg a:hover {
	text-decoration: none;
}

#prpop-pop-up-bg input[type="checkbox"] {
	vertical-align: top !important;
}

#prpop-pop-up-bg label {
	font-size: 12px;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top !important;
	display: inline-block;
}

#prpop-pop-up-bg input[type="checkbox"] + label {
	@include calc(width, '100% - 30px');
}

#prpop-pop-up-bg input {
	@include rem(m, 0, 0, 1, 0);
}
#prpop-pop-up-bg .validation-advice {
	@include rem(m-b, 1);
}
#prpop-pop-up-bg .button {
	width: auto;
	@include rem(p, 0, 2);
	@include rem(m, 3, 0, 2, 0);

	&:lang(fr) {
		@include rem(f-s, 1.3);
		@include rem(l-h, 4);
	}

	@include breakpoint($breakpoint-tablet) {
		@include rem(p, 0, 3);

		&:lang(fr) {
			@include rem(f-s, 1.6);
			@include rem(l-h, 4);
		}
	}
}
#prpop-pop-up-bg .pslogin-spacer {
	display: none;
}
#prpop-pop-up-bg .prpop-cf {
	display: block;
}
#prpop-pop-up-bg .simple-form-logo-text {
	display: none;
}

#prpop-pop-up-bg .prpop-cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#prpop-pop-up-bg .prpop-mobile {
	display: none;
}

#prpop-pop-up-bg .prpop-desktop {
	display: block;
}

#prpop-pop-up-bg .prpop-required {
	position: relative;
}

#prpop-pop-up-bg .prpop-required em {
	position: absolute;
	right: -7px;
	color: red;
}

#prpop-pop-up-bg label.required:after {
	font-family: inherit;
}

#prpop-pop-up-bg .fleft {
	float: left;
}

#prpop-pop-up-bg .fright {
	float: right;
}

#prpop-pop-up-bg .f-width {
	width: 100%!important;
}

#prpop-pop-up-bg.wide-width {
	max-width: 700px;
}

#prpop-pop-up-bg.limited-width {
	max-width: 350px;
}

#prpop-pop-up-bg .form-top-logo {
	display: none;
}

#prpop-pop-up-bg .prpop-account-login {
	background-color: white;
}

#prpop-pop-up-bg .prpop-main-close-button {
	position: absolute;
	@include rem(t, 2);
	@include rem(r, 2);
}
#prpop-pop-up-bg .prpop-main-close-button a {
	text-decoration: none;
}
#prpop-pop-up-bg .prpop-main-close-button a:before { font-size: 20px; width: 20px; height: 20px; }
#prpop-pop-up-bg .prpop-main-close-button a span {
	display: none;
}

#prpop-pop-up-bg .prpop-formholder .prpop-close-btn {
	position: absolute;
	right: 9px;
	left: auto;
	margin-right: 10px;
	top: -9px;
	text-decoration: none;
	color: #727272;
	font-size: 16px;
}

#prpop-pop-up-bg .prpop-formholder .prpop-close-btn:hover {
	color: #b6aba5;
}

#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-columb .dob-day,
#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-columb .dob-month {
	width: 23%;
	margin-right: 2%;
	float: left;

}

#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-columb .dob-year {
	width: 50%;
	float: left;
}

#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-columb input[type="number"]  {padding-right: 0;}

#prpop-pop-up-bg .prpop-col2-set .prpop-buttons-set-bottom a {
	text-decoration: none;
}

#prpop-pop-up-bg .prpop-account-forgot .prpop-buttons-set .prpop-ajax-loader-wrapper,
#prpop-pop-up-bg .prpop-account-login .prpop-buttons-set .prpop-ajax-loader-wrapper,
#prpop-pop-up-bg .prpop-account-create .prpop-buttons-set .prpop-ajax-loader-wrapper,
#prpop-pop-up-bg .prpop-col2-set .prpop-buttons-set .prpop-ajax-loader-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	display: none;
	text-align: right;
	@include background-opacity(#fff, 0.85);
}

#prpop-pop-up-bg .prpop-account-create .prpop-buttons-set .prpop-ajax-loader,
#prpop-pop-up-bg .prpop-account-login .prpop-buttons-set .prpop-ajax-loader,
#prpop-pop-up-bg .prpop-account-forgot .prpop-buttons-set .prpop-ajax-loader,
#prpop-pop-up-bg .prpop-col2-set .prpop-buttons-set .prpop-ajax-loader {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}

/*=== account create ===*/
#prpop-pop-up-bg .prpop-account-create .prpop-formholder {
	min-height: 270px;
	position: relative;
}

#prpop-pop-up-bg .prpop-reg-success .prpop-formholder h2,
#prpop-pop-up-bg .prpop-account-forgot .prpop-formholder h2,
#prpop-pop-up-bg .prpop-forgot-success .prpop-formholder h2,
#prpop-pop-up-bg .prpop-account-create .prpop-formholder h2 {
	@include rem(f-s, 2.2);
	@include rem(l-h, 3);
	@include rem(m, 0.5, 7.5, 2, 0);
	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 2.4);
	}
}

#prpop-pop-up-bg .prpop-account-create #prpop-register-form p {
	@include rem(m-t, 1.8);
	@include rem(l-h, 2);
}
#prpop-pop-up-bg .prpop-account-create #prpop-register-form label {
	@include rem(f-s, 1.5);
	@include rem(l-h, 2.2);
	@include rem(m-t, 0);
	@include rem(m-b, 0);
	font-family: $Lato;

	@include breakpoint($breakpoint-tablet) {
		@include rem(f-s, 1.6);
		@include rem(l-h, 2.2);
	}
}
#prpop-pop-up-bg .prpop-account-create #prpop-register-form input[type="checkbox"] {
	display: inline-block;
	@include rem(w, 1.3);
	@include rem(h, 2.2);
	@include rem(m-b, 0);
}

#prpop-pop-up-bg .prpop-account-forgot #prpop-forgot-form .prpop-columb,
#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-columb {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-rowline {
	margin-top: 5px;
}

#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-columb .prpop-gerden-field {
	margin-top: 22px;
	height: 25px;
}

#prpop-pop-up-bg .prpop-account-create #prpop-register-form .prpop-columb .prpop-gerden-field label {
	margin-right: 15px;
}

#prpop-pop-up-bg .prpop-account-create .prpop-form-list li:last-child {
	@include rem(m-b, 2);
}

#prpop-pop-up-bg .prpop-account-create .ct-menu ol {
	@include rem(m-t, 1.8);
}
#prpop-pop-up-bg .prpop-account-create .ct-menu ol li {
	@include rem(f-s, 1.4);
	display: inline-block;
}
#prpop-pop-up-bg .prpop-account-create .ct-menu ol li:first-child a { 
	@include rem(m-r, 1.8);
	@include rem(p-r, 1.8);
	border-right: 2px solid #c7c7c7;
}
#prpop-pop-up-bg .prpop-account-create .ct-menu ol li a { text-decoration: none; }
#prpop-pop-up-bg .prpop-account-create .ct-menu ol li a:hover { text-decoration: underline; }

#prpop-pop-up-bg .prpop-reg-success {
	background-color: white;
}


/*=== terms of services ===*/
#prpop-overlay-box {
	background: white;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	min-height: 100%;
	z-index: 100;
	display: none;
	z-index: 2100;
}

#prpop-pop-up-bg #prpop-for_messages_popup .messages {
	margin-bottom: 1rem !important;
}

#prpop-pop-up-bg #prpop-for_messages_popup .error-msg span {
	color: $black;
}

#prpop-pop-up-bg #prpop-for_messages_popup .messages .hide-message { display: none; }

/*=== facebook login ===*/
#prpop-pop-up-bg .prpop-buttons-set .spacer {
	text-align: center;
	margin: 15px auto 7px auto;
	z-index: 1;
	width: 60%;
}

#prpop-pop-up-bg .prpop-buttons-set .spacer .border {
	float: left;
	border-top: 1px solid #DDD;
	width: 45%;
}

#prpop-pop-up-bg .prpop-buttons-set .spacer .text_or {
	z-index: 2;
	background: inherit;
	margin: -8px auto 0 auto;
	width: 10%;
	color: #b2b2b2;
	float: left;
}

#prpop-pop-up-bg .prpop-buttons-set .facebook_login_button {
	float: left;
	margin-top: 12px;
}

#prpop-pop-up-bg .prpop-buttons-set .fb_button_ps {
	display: block;
	height: 35px;
	font-size: 12px;
	font-weight: 400;
	font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
	color: white;
	float: left;
}

#prpop-pop-up-bg .prpop-buttons-set .fb_button_ps:hover .facebook_logo {
	background-color: #213355;
}

#prpop-pop-up-bg .prpop-buttons-set .fb_button_ps:hover .facebook_text {
	background-color: #4F69A1;
}

#prpop-pop-up-bg .prpop-buttons-set .facebook_logo {
	text-decoration: none;
	width: 35px;
	display: block;
	float: left;
	height: 35px;
	padding: 4px;
	padding-left: 5px;
	background-color: #304a7d;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#prpop-pop-up-bg .prpop-buttons-set .fb_button_ps img {
	display: inline;
	height: 27px;
}

#prpop-pop-up-bg .prpop-buttons-set .facebook_text {
	height: 35px;
	padding: 9px 4px 4px 4px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	min-width: 65px;
	text-transform: uppercase;
	text-align: center;
	background-color: #5d7bbb;
}


/*=== animate ===*/
#prpop-pop-up-bg {
	-webkit-animation-duration: 1s;
	-moz-animation-duration:1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -10%, 0);
		-moz-transform: translate3d(0, -10%, 0);
		transform: translate3d(0, -10%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -10%, 0);
		-moz-transform: translate3d(0, -10%, 0);
		transform: translate3d(0, -10%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -10%, 0);
		-moz-transform: translate3d(0, -10%, 0);
		transform: translate3d(0, -10%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		-moz-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		-moz-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		-moz-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-10%, 0, 0);
		-moz-transform: translate3d(-10%, 0, 0);
		transform: translate3d(-10%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-10%, 0, 0);
		-moz-transform: translate3d(-10%, 0, 0);
		transform: translate3d(-10%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-10%, 0, 0);
		-moz-transform: translate3d(-10%, 0, 0);
		transform: translate3d(-10%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		-moz-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		-moz-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		-moz-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(10%, 0, 0);
		-moz-transform: translate3d(10%, 0, 0);
		transform: translate3d(10%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(10%, 0, 0);
		-moz-transform: translate3d(10%, 0, 0);
		transform: translate3d(10%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(10%, 0, 0);
		-moz-transform: translate3d(10%, 0, 0);
		transform: translate3d(10%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		-moz-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		-moz-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		-moz-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 10%, 0);
		-moz-transform: translate3d(0, 10%, 0);
		transform: translate3d(0, 10%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 10%, 0);
		-moz-transform: translate3d(0, 10%, 0);
		transform: translate3d(0, 10%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 10%, 0);
		-moz-transform: translate3d(0, 10%, 0);
		transform: translate3d(0, 10%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		-moz-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@-moz-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		-moz-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		-moz-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}


@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-moz-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

@-moz-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-moz-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		-moz-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
}

.zoomIn .prpop-splash-container {
	-webkit-animation-name: zoomIn;
	-moz-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 1s;
	-moz-animation-duration:1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}



/* Effect 8: 3D flip horizontal */
@-webkit-keyframes flip3d_hor {
	0% {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: rotateY(-110deg);
		-moz-transform: rotateY(-110deg);
		-ms-transform: rotateY(-110deg);
		transform: rotateY(-110deg);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		opacity: 1;
	}
}

@-moz-keyframes flip3d_hor {
	0% {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: rotateY(-110deg);
		-moz-transform: rotateY(-110deg);
		-ms-transform: rotateY(-110deg);
		transform: rotateY(-110deg);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		opacity: 1;
	}
}


@keyframes flip3d_hor {
	0% {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: rotateY(-110deg);
		-moz-transform: rotateY(-110deg);
		-ms-transform: rotateY(-110deg);
		transform: rotateY(-110deg);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0;
	}

	100% {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		opacity: 1;
	}
}

.flip3d_hor .prpop-splash-container {
	-webkit-animation-name: flip3d_hor;
	-moz-animation-name: flip3d_hor;
	animation-name: flip3d_hor;
	-webkit-animation-duration: 1s;
	-moz-animation-duration:1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}


/*background animation*/
#prpop-addedoverlay {
	-webkit-animation-duration: 0.25s;
	-moz-animation-duration:0.25s;
	animation-duration: 0.25s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: background_a;
	-moz-animation-name: background_a;
	animation-name: background_a;
}


@-webkit-keyframes background_a {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.8;
	}
}

@-moz-keyframes background_a {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.8;
	}
}

@keyframes background_a {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.8;
	}
}