/* -------------------------------------------- *
 * Printer Friendly Page
 */

.page-print {
	@include rem(f-s, 1.4);
	max-width: 7.5in;
	height: auto;
	padding: 20px;
	background: #FFFFFF;

	h1 { @include rem(f-s, 2); }
	h2 { @include rem(f-s, 1.8); }
	h3 { @include rem(f-s, 1.4); }

	.col2-set {
		@include rem(f-s, 1.2);
	}

	address {
		font-style: normal;
	}

	.data-table td,
	.data-table th {
		height: auto;
		padding: 0 10px;
		font-size: 1.2rem;
	}

	.data-table td *,
	.data-table th *,
	.data-table tbody td .product-name {
		font-size: 1.2rem;
	}

	// ------------------------------------------------------------
	//  Numéros de taxes
	//-------------------------------------------------------------
	p.tax-numbers {
		margin-top: 20px;
		span {
			display: block;
			font-size: 1rem;
		}
	}

	// Buttons Set
	.buttons-set {

		@include breakpoint($breakpoint-tablet) {
			@include rem(m-t, 2);
			@include clearfix;
		}

		// Button Cart
		.button {
			@include breakpoint($breakpoint-tablet) {
				float: right;
				display: inline-block;
				width: auto;
				margin: 0;
				@include rem(p-r, 1.7);
				@include rem(p-l, 1.7);
			}
		}
	}
}

@media print {
	.page-print {
		max-width: none;
		height: auto;
		padding: 20px;
		background: #FFFFFF;
		@include rem(f-s, 1.4);

		// --------------------------------------------------------------
		//	Colonnes de contenu
		// --------------------------------------------------------------
		.col2-set {
			width: 100%;
			@include rem(f-s, 1.2);
			@include rem(m-b, 4);
			@include clearfix;

			.col-1,
			.col-2 {
				width: 50%;
				@include rem(p, 0, 2);
			}

			.col-1 {
				float: left;
				padding-left: 0;
			}

			.col-2 {
				float: right;
				padding-right: 0;
			}

			.narrow {
				width: 33%;
			}

			.wide {
				width: 65%;
			}
		}

		address {
			font-style: normal;
		}
	}

	.buttons-set,
	button,
	.button {
		display: none;
	}
}

/* ============================================ *
 * Print Styles
 * ============================================ */

.page-print .print-head {
	margin: 0 0 15px;
}

.page-print .print-head .logo {
	float: none;
	max-height: 50px;
	width: auto;
}