/* ============================================ *
 * Page promotions
 * ============================================ */
body.cms-promotions .main-container .main {
	max-width: none;
	padding: 0;
	margin: 0;
}

body.cms-promotions .promotions {

	a img,
	a:hover img,
	a:focus img {
		opacity: 1;
	}

	.wrapper {
		@include rem(p, 1.8, 1, 3);

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 2);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(max-w, 120);
			@include rem(p, 2.3, 1, 4);
			margin: 0 auto;
		}

		h1 {
			@include rem(m-b, 2.2);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-b, 2.7);
			}
		}
	}

	.blocs {

		@include breakpoint($breakpoint-tablet) {
			display: table;
			width: 100%;
			border-collapse: separate;
			border-spacing: 7px 0;
		}

		.bloc {
			@include rem(m-t, 1);

			&:first-child { margin-top: 0; }

			@include breakpoint($breakpoint-tablet) {
				position: relative;
				display: table-cell;
				width: 33.333%;
				margin-top: 0;
			}
		}
	}

	.bloc .icon {
		@include rem(m-b, 1.5);

		@include breakpoint($breakpoint-desktop - 1) {
			@include rem(m-b, 1.8);
		}
	}

	.bloc .texte {
		@include rem(f-s, 1.4);

		@include breakpoint($breakpoint-desktop - 1) {
			@include rem(f-s, 1.8);
		}

		.emphase {
			font-family: $LoraBold;
			@include rem(f-s, 2.2);
			line-height: inherit;

			@include breakpoint($breakpoint-desktop - 1) {
				@include rem(f-s, 2.8);
				line-height: inherit;
			}
		}

		strong {
			font-family: $LatoBold;
			font-weight: normal;
		}
	}

	.bloc .lien {
		@include rem(m-t, 1.6);

		@include breakpoint($breakpoint-desktop - 1) {
			@include rem(m-t, 2);
		}

		a {
			position: relative;
			display: inline-block;
			@include rem(p, 0.1, 0, 0.3);
			@include rem(f-s, 1.3);
			color: $black;
			border-top: 1px solid $black;
			border-bottom: 1px solid $black;
			@include transition(color 0.3s ease-in-out, border-color 0.3s ease-in-out);

			@include breakpoint($breakpoint-desktop - 1) {
				@include rem(f-s, 1.8);
			}

			&:hover,
			&:focus {
				color: $red;
				border-color: $red;
				@include transition(color 0.3s ease-in-out, border-color 0.3s ease-in-out);
			}
		}
	}

	.bloc .image {
		display: block;
		width: 100%;

		img {
			display: block;
			width: 100%;
		}
	}

	.zone-grise {
		background-color: #f1f0ee;

		.blocs {

			.bloc {
				@include rem(p, 1, 1, 2);
				text-align: center;
				background-color: $white;

				@include breakpoint($breakpoint-tablet) {
					@include rem(p, 1.5, 1.5, 3);
				}
			}
		}
	}
}