/* ============================================ *
 * Template des Ventes privées
 * ============================================ */

body.section-ventes-privees {

	// --------------------------------------------------------------
	// Menu colonne de gauche
	// --------------------------------------------------------------
	.sidebar {

		// Titre catégorie
		.cat-title {
			display: none;
			@include rem(m-b, 0.9);
			font-family: $LoraItalic;
			@include rem(f-s, 2.2);
			@include rem(l-s, 0.1);
			@include rem(l-h, 4.6);

			@include breakpoint($breakpoint-desktop) {
				display: block;
			}

			span {
				@include rem(f-s, 4.1);
				@include rem(l-s, 0.01);
				line-height: inherit;
			}

			strong { font-weight: normal; }
		}

		.nav-container ul {
			display: none;
			border-top: 4px solid #000;
			border-bottom: 4px solid #000;
			@include rem(m-t, 0.5);

			@include breakpoint($breakpoint-desktop) {
				display: block;
			}

			&#nav {
				border: none;
				margin: 0;

				> li { border: none; }
			}

			li {
				list-style: none;
				border-top: 1px solid #ccc;

				&:first-child { border-top: none; }

				a {
					display: block;
					@include rem(m, 2.4, 0);
					padding: 0;
					@include rem(f-s, 2.2);
					@include rem(l-s, 0.04);
					line-height: inherit;
					text-transform: uppercase;
					color: $black;
					overflow: inherit;

					span {
						display: inline-block;
						@include calc('width', '100% - 1.6rem');
						vertical-align: middle;
						@include rem(m-l, 0.8);
						white-space: normal;
					}

					&::before {
						display: inline-block;
						vertical-align: middle;
						content: "";
						@include rem(w, 0.4);
						@include rem(h, 2);
						background-color: #ccc;
						font-size: 0;
						@include transition(background-color 0.3s ease-in-out);
					}

					&:hover,
					&:focus {
						color: $red;

						&::before {
							background-color: $red;
							@include transition (background-color 0.3s ease-in-out);
						}
					}
				}

				&.active a {
					color: $red;

					&::before {
						background-color: $red;
					}
				}
			}
		}

		.block-layered-nav {

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-t, 3);
			}
		}
	}


	// --------------------------------------------------------------
	// Colonne principale
	// --------------------------------------------------------------
	.col-main {
		@include breakpoint($breakpoint-desktop) {
			@include rem(p-l, 2);
		}
	}


	// --------------------------------------------------------------
	// Compteur
	// --------------------------------------------------------------
	.compteur {
		color: #7f7f7f;
		line-height: 1;
		@include clearfix;

		@include breakpoint($breakpoint-tablet) {
			text-align: right;
		}

		> .label {
			display: block;
			float: left;
			@include rem(m-t, 1.2);
			font-family: $Lato;
			@include rem(f-s, 1.2);
			@include rem(l-s, 0.03);
			text-transform: uppercase;

			@include breakpoint($breakpoint-tablet) {
				display: inline-block;
				float: none;
				@include rem(m-t, 1.3);
				@include rem(f-s, 1.4);
				@include rem(l-s, 0.03);
			}
		}

		.cntdown-pr {
			display: block;
			float: right;
			@include rem(m-t, 0.7);
			font-family: $LoraBoldItalic;

			@include breakpoint($breakpoint-tablet) {
				display: inline-block;
				float: none;
				@include rem(m, 0.4, 0, 0);
				margin-left: 1.9%;
			}

			@include breakpoint($breakpoint-desktop) {
				margin-left: 3.8%;
			}

			.chiffre {
				@include rem(f-s, 2);
				color: $red;
				letter-spacing: 0;
				@include rem(m, 0, 0.4, 0, 1);

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 2.6);
					letter-spacing: 0;
					@include rem(m, 0, 0.6, 0, 1.3);
				}

				&:first-child {
					margin-left: 0;
				}
			}

			.label {
				@include rem(f-s, 1.2);
				letter-spacing: 0;

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 1.4);
					letter-spacing: 0;
				}
			}
		}
	}


	// --------------------------------------------------------------
	// Accueil privée - Ventes en cours
	// --------------------------------------------------------------
	.endingsoon {
		@include breakpoint($breakpoint-desktop) {
			@include rem(m-t, 6.1);
		}
	}
	.ventes-en-cours {
		position: relative;
		display: block;
		@include rem(max-w, 39.2);
		margin: 0 auto 10px;
		border: 2px solid #ccc;
		background-color: #000;
		@include clearfix;

		@include breakpoint($breakpoint-tablet) {
			@include rem(min-h, 33);
			max-width: none;
			@include rem(m, 0, 0, 3.4);
			border-width: 4px;
		}

		@include breakpoint(900px) {
			@include rem(min-h, 42);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(min-h, 31.9);
			@include rem(m, 0, 0, 4);
		}

		&:last-child {
			margin-bottom: 0;
		}

		.ventes-image {
			position: relative;
			width: 100%;
			overflow: hidden;

			@include breakpoint($breakpoint-tablet) {
				width: 50%;
				overflow: auto;
			}

			@include breakpoint($breakpoint-desktop) {
				width: percentage(460/852);
				overflow: auto;
			}

			&::before {
				display: block;
				content: "";
				padding-top: 100%;

				@include breakpoint($breakpoint-desktop) {
					display: none;
				}
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;

				@include breakpoint($breakpoint-desktop) {
					position: relative;
					top: auto;
					left: auto;
					width: percentage(392/460);
				}

				img {
					display: block;
					width: 100%;
					height: auto;
					max-width: none;
				}
			}

			.zone-hachure {
				display: none;

				@include breakpoint($breakpoint-desktop) {
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					width: percentage(68/460);
					height: 100%;
					background: url("#{$imgPath}/hachure.png") repeat 0 0;
				}
			}
		}

		.ventes-description {
			display: block;
			@include rem(p, 3);
			background-color: #000;
			text-align: center;

			@include breakpoint($breakpoint-tablet) {
				position: absolute;
				top: 0;
				right: 0;
				width: 50%;
				height: 100%;
				padding: 0;
				text-align: center;
			}

			@include breakpoint($breakpoint-desktop) {
				width: percentage(392/852);
			}

			.logo,
			.icones,
			.decompte,
			.btn-cart {
				@include breakpoint($breakpoint-tablet) {
					margin: 9.82659%;
				}

				@include breakpoint($breakpoint-desktop) {
					margin: 10.204082%;
				}
			}

			.logo {
				margin-bottom: 35px;
				@include rem(m-b, 3.5);

				@include breakpoint($breakpoint-tablet) {
					height: 29.638%;
					margin-bottom: 18.982659%;
				}

				@include breakpoint($breakpoint-desktop) {
					height: 29.059%;
					margin-bottom: 15.084%;
				}

				p {
					margin: 0;

					img {
						display: block;
					}
				}
			}

			.icones { display: none; }

			.texte { display: none; }

			.decompte {
				color: #fff;
				line-height: 1;
				@include rem(m, 1.4, 0, 0.9);

				@include breakpoint($breakpoint-tablet) {
					height: 12.427746%;
					margin: 4.046243% 0 6.046243%;
				}

				@include breakpoint($breakpoint-desktop) {
					height: 16.244898%;
					margin: 5.61224% 0 6.33673%;
				}

				> .label {
					font-family: $Lato;
					@include rem(f-s, 1.05);
					line-height: 1;
					text-transform: uppercase;
					margin-bottom: 5px;
					@include rem(m-b, 0.5);

					@include breakpoint($breakpoint-tablet) {
						@include rem(f-s, 1.3);
						line-height: 1;
						letter-spacing: 0;
						@include rem(m-b, 0.6);
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(f-s, 1.4);
						line-height: 1;
					}
				}

				.count-down {
					font-family: $LoraBoldItalic;

					.chiffre {
						@include rem(f-s, 2.1);
						line-height: 1;
						letter-spacing: 0;
						@include rem(m, 0, 1, 0, 1.8);

						@include breakpoint($breakpoint-tablet) {
							@include rem(f-s, 2.4);
							line-height: 1;
							@include rem(m, 0, 1.1, 0, 2.3);
						}

						@include breakpoint($breakpoint-desktop) {
							@include rem(f-s, 2.8);
							line-height: 1;
						}

						&:first-child {
							margin-left: 0;
						}
					}

					.label {
						@include rem(f-s, 1.2);
							line-height: 1;
						letter-spacing: 0;

						@include breakpoint($breakpoint-tablet) {
							@include rem(f-s, 1.5);
							line-height: 1;
						}

						@include breakpoint($breakpoint-desktop) {
							@include rem(f-s, 1.6);
							line-height: 1;
						}
					}
				}
			}

			.btn-cart {
				margin-top: 0;

				@include breakpoint($breakpoint-tablet) {
					width: auto;
					height: 12.716763%;
					line-height: 1;
					margin-top: 0;
					padding: 3.323699% 0;
				}

				@include breakpoint($breakpoint-desktop) {
					height: 12.755102%;
					margin-top: 0;
					padding: 3.826531% 0;
				}
			}
		}
	}


	// --------------------------------------------------------------
	// Accueil privée - Récompense et partage de la page
	// --------------------------------------------------------------
	.share-points,
	.invite-points {
		@include rem(p, 0.2);
		background: url("#{$imgPath}/contour-diagonal.png") repeat left top;

		@include breakpoint($breakpoint-tablet) {
			@include rem(p, 0.4);
			@include rem(m-t, 3.4);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(m-t, 4);
		}

		.share-points-container,
		.invite-points-container {
			@include rem(p, 1);
			background-color: #fff;

			@include breakpoint($breakpoint-tablet) {
				@include rem(p, 1.7, 1.7, 1.4);
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(p, 2.7, 2.7, 2.4);
			}

			div.share-points-title,
			span.invite-points-title {
				display: block;
				font-family: $Lora;
				@include rem(f-s, 1.8);
				line-height: 1.2;
				text-transform: uppercase;

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 2.4);
					line-height: 1.2;
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(f-s, 2);
					letter-spacing: 0;
					line-height: 1.2;
				}

				@include breakpoint($breakpoint-desktop-normal) {
					@include rem(f-s, 2.4);
					line-height: 1.2;
				}

				em {
					font-family: $LoraItalic;
					font-style: normal;
					text-transform: none;
				}
			}

			span.share-points-points,
			span.invite-points-points {
				display: block;
				@include rem(p-l, 1);
				@include rem(m-t, 1);
				font-family: $Lora;
				@include rem(f-s, 1.8);
				line-height: 1;
				text-transform: uppercase;
				border-left: 2px solid #ccc;

				@include breakpoint($breakpoint-tablet) {
					@include rem(f-s, 2.4);
					line-height: 1;
					border-width: 4px;
					@include rem(p-l, 1.5);
				}

				@include breakpoint($breakpoint-desktop) {
					@include rem(f-s, 2);
					line-height: 0.9;
				}

				@include breakpoint($breakpoint-desktop-normal) {
					@include rem(f-s, 2.6);
					line-height: 1;
				}

				strong {
					font-family: $Lora;
					@include rem(f-s, 3.6);
					color:#9b0800;
					line-height: 1;

					@include breakpoint($breakpoint-tablet) {
						@include rem(f-s, 6);
						line-height: 1;
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(f-s, 5.2);
						line-height: 1;
					}

					@include breakpoint($breakpoint-desktop-normal) {
						@include rem(f-s, 6);
						line-height: 1;
					}
				}
			}
		}

		.share-points-container {

			@include clearfix;

			div.share-points-icons {
				clear: both;
				@include rem(p, 0.7, 0, 0);
				@include rem(m, 1.2, 0, 0, -0.4);
				border-top: 1px dotted #999;

				@include breakpoint($breakpoint-tablet) {
					@include rem(m, 2.2, 0, 0);
					@include rem(p, 1.4, 0, 0);
				}

				@include breakpoint($breakpoint-desktop) {
					border: none;
					@include rem(m, 1.5, 0, 0);
					@include rem(p, 0, 0, 0, -0.4);
				}

				ul.links-social {
					margin: 0;
					padding: 0;
					list-style: none;
					font-size: 0;

					@include breakpoint($breakpoint-desktop) {
						display: inline-block;
						margin-top: 0;
						vertical-align: middle;
					}

					li {
						display: inline-block;
						margin: 0;

						.icon {
							@include rem(f-s, 4.4);
							color: $black;
							text-decoration: none;
							@include transition(color 0.3s ease-in-out);

							@include breakpoint($breakpoint-tablet) {
								@include rem(f-s, 5);
							}

							@include breakpoint($breakpoint-desktop) {
								@include rem(f-s, 4.3);
							}

							span {
								display: block;
								width: 0;
								height: 0;
								@include no-text;
							}

							&:hover,
							&:focus {
								color: $red;
								@include transition(color 0.3s ease-in-out);
							}
						}
					}
				}
			}
		}
	}


	// --------------------------------------------------------------
	// Accueil privée - Call to action
	// --------------------------------------------------------------
	.call-to-action {
		position: relative;
		@include rem(max-w, 39.2);
		margin: 0 auto;
		@include clearfix;

		@include breakpoint($breakpoint-tablet) {
			max-width: none;
			@include rem(m, 3.4, 0, 3.2);
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(min-h, 20);
			@include rem(m, 4, 0);
		}

		// --------------------------------------------------------------
		//	Points et partage
		// --------------------------------------------------------------
		.rewards_block {
			@include rem(m-t, 1);

			@include breakpoint($breakpoint-tablet) {
				@include calc(width, '100% / 2 - 34px / 1.999');
				@include rem(m, 0, 3.4, 0, 0);
			}

			.share-points {
				margin: 0;

				.share-points-container div.share-points-title {
					@include breakpoint($breakpoint-tablet) {
						@include rem(min-h, 21.7);
					}

					@include breakpoint($breakpoint-desktop-normal) {
						@include rem(min-h, 24.2);
					}
				}
			}
		}

		// --------------------------------------------------------------
		//	Abonnement à l'infolettre
		// --------------------------------------------------------------
		.newsletter_block {
			position: relative;
			@include rem(m, 1, 0);
			@include rem(p, 0.2);
			background: url("#{$imgPath}/contour-diagonal.png") repeat left top;

			@include breakpoint($breakpoint-tablet) {
				@include calc(width, '100% / 2 - 34px / 1.999');
				margin: 0;
				@include rem(p, 0.4);
			}

			.infolettre {
				@include rem(p, 1);
				background-color: $white;

				@include breakpoint($breakpoint-tablet) {
					@include rem(p, 1.7);
				}

				@include breakpoint($breakpoint-desktop-normal) {
					@include rem(p, 2);
				}

				.texte {
					font-family: $Lora;
					@include rem(f-s, 1.8);
					line-height: 1.2;

					@include breakpoint($breakpoint-tablet) {
						@include rem(min-h, 14.4);
						@include rem(f-s, 2.4);
						line-height: 1.2;
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(f-s, 2);
						line-height: 1.2;
					}

					@include breakpoint($breakpoint-desktop-normal) {
						@include rem(min-h, 16.3);
						@include rem(f-s, 2.4);
						line-height: 1.2;
					}
				}

				.btn-infolettre {
					clear: both;
				}
			}
		}

		// --------------------------------------------------------------
		//	Invitation
		// --------------------------------------------------------------
		.invite_block {
			@include rem(m, 1, 0);

			@include breakpoint($breakpoint-tablet) {
				@include calc(width, '100% / 2 - 34px / 1.999');
				@include rem(m, 0, 3.4, 0, 0);
			}

			@include breakpoint($breakpoint-desktop) {
				display: block;
				margin: 0;

				.invite-points {
					margin: 0;

					.invite-points-container {
						@include rem(p, 1.7);

						span.invite-points-title {
							@include rem(min-h, 7.5);
						}

						.btn-infolettre { @include rem(m-t, 1.9); }
					}
				}
			}

			@include breakpoint($breakpoint-desktop-normal) {
				.invite-points  .invite-points-container {
					@include rem(p, 1.7, 2, 2);

					span.invite-points-title {
						@include rem(min-h, 10.1);
					}

					.btn-infolettre { @include rem(m-t, 1.4); }
				}
			}
		}

		// --------------------------------------------------------------
		//	Styles multi-blocs
		// --------------------------------------------------------------
		.rewards_block,
		.newsletter_block,
		.invite_block {
			@include breakpoint($breakpoint-tablet) {
				float: left;
			}

			@include breakpoint($breakpoint-desktop) {
				@include calc(width, '100% / 3 - (34px * 2) / 2.999');
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include calc(width, '100% / 3 - (40px * 2) / 2.999');
			}
		}

		.rewards_block,
		.newsletter_block {
			@include breakpoint($breakpoint-desktop) {
				@include rem(m-r, 3.4);
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(m-r, 4);
			}
		}

		// --------------------------------------------------------------
		//	Points et partage + Invitation
		// --------------------------------------------------------------
		@include breakpoint($breakpoint-desktop) {
			.rewards_block,
			.invite_block {

				.share-points,
				.invite-points {

					.share-points-container,
					.invite-points-container {

						div.share-points-title,
						span.invite-points-title {

							strong {
								@include rem(f-s, 4);
								line-height: 1.2;
							}
						}

						span.share-points-points,
						span.invite-points-points {
							strong { display: block; }
						}

						ul {
							@include rem(m, 0, 0, 0, -0.2);

							li {
								a {
									@include rem(f-s, 3.1);
								}
							}
						}
					}
				}
			}
		}
		@include breakpoint($breakpoint-desktop-normal) {
			.rewards_block,
			.invite_block {

				.share-points,
				.invite-points {

					.share-points-container,
					.invite-points-container {
						@include rem(p, 1.7, 2, 1.4);

						div.share-points-title,
						span.invite-points-title {
							@include rem(f-s, 2.5);
							line-height: 1.2;
						}

						span.share-points-points,
						span.invite-points-points {
							@include rem(f-s, 2.5);
							line-height: 0.9;

							strong {
								@include rem(f-s, 6);
								line-height: inherit;
							}
						}

						ul {
							@include rem(m, 0, 0, 0, -0.5);

							li {
								a {
									@include rem(f-s, 4.3);
								}
							}
						}
					}
				}
			}
		}

	}


	// --------------------------------------------------------------
	// Catalogue privé - Titre + Décompte
	// --------------------------------------------------------------
	.category-view {

		// Ajustement de la taille des deux colonnes
		.category-title,
		.compteur {

			@include breakpoint($breakpoint-tablet) {
				float: left;
				@include rem(m, 0, 0, 1.6);
				@include calc(width, '53% - 17px');
			}
		}

		// Ajustement de la taille des colonnes de gauche
		.category-title {

			@include breakpoint($breakpoint-tablet) {
				border: none;
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 0, 0, 0.9);
				@include calc(width, '54% - 20px');
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include calc(width, '63% - 20px');
			}

			h1 {
				margin-bottom: 0;
			}
		}

		// Compteur avant la fin de la vente
		.compteur {

			@include breakpoint($breakpoint-tablet) {
				float: right;
				@include rem(m-l, 3.4);
				@include calc(width, '47% - 17px');
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m, 0.2, 0, 0.9, 4);
				@include calc(width, '46% - 20px');
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include calc(width, '37% - 20px');
			}
		}
	}


	// --------------------------------------------------------------
	// Catalogue privé - Bannière de la marque
	// --------------------------------------------------------------
	.cat-img-description {
		display: none;
		position: relative;
		@include rem(min-h, 24.3);
		@include rem(m-b, 2);
		border: 4px solid #ccc;
		background-color: #000;
		background-repeat: no-repeat;
		clear: both;
		@include clearfix;

		@include breakpoint($breakpoint-tablet) {
			display: block;
		}

		@include breakpoint($breakpoint-desktop) {
			@include rem(min-h, 25.5);
			@include rem(m-b, 4);
		}

		@include breakpoint($breakpoint-desktop-normal) {
			@include rem(min-h, 31.9);
		}

		.category-image {
			position: relative;
			width: percentage(236/644);

			@include breakpoint($breakpoint-desktop) {
				width: percentage(291/677);
			}

			&::before {
				display: block;
				content: "";
				padding-top: 100%;

				@include breakpoint($breakpoint-desktop) {
					display: none;
				}
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;

				@include breakpoint($breakpoint-desktop) {
					position: relative;
					top: auto;
					left: auto;
					width: percentage(248/291);
				}

				img {
					display: block;
					width: 100%;
					height: auto;
					max-width: none;
				}
			}

			.zone-hachure {
				display: none;

				@include breakpoint($breakpoint-desktop) {
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					width: percentage(43/291);
					height: 100%;
					background: url("#{$imgPath}/hachure.png") repeat 0 0;
				}
			}
		}

		.category-description {
			position: absolute;
			top: 0;
			right: 0;
			width: percentage(408/644);
			height: 100%;
			background-color: #000;
			font-family: $Lato;
			@include rem(f-s, 1.8);
			@include rem(l-s, 0.04);
			text-align: center;

			@include breakpoint($breakpoint-desktop) {
				width: percentage(386/677);
				@include rem(f-s, 2);
			}

			> * {
				color: #fff;
			}

			.logo,
			.texte {
				margin: 3.9%;

				@include breakpoint($breakpoint-desktop) {
					margin: 4.17%;
				}

				p {
					margin: 0;
				}
			}

			.icones { display: none; }

			.logo {
				height: 38.937%;
				margin: 5.79% 19.0476% 6.79%;

				@include breakpoint($breakpoint-desktop) {
					height: 36.449%;
					margin: 6.121% 17.9012% 8.17%;
				}

				img {
					display: block;
				}
			}

			.texte {
				height: 30.952381%;

				@include breakpoint($breakpoint-desktop) {
					height: 37.5%;
				}

				p {
					@include rem(m-t, -0.8);

					@include breakpoint($breakpoint-desktop) {
						@include rem(m-t, -0.5);
					}

					a {
						@include transition(color 0.3s ease-in-out);

						&:hover,
						&:focus {
							color: #7f7f7f;
							@include transition(color 0.3s ease-in-out);
						}
					}
				}
			}
		}
	}
}

