/* ============================================ *
 * Marques
 * ============================================ */

// Page de liste des marques
body.category-marques .category-title,
body.category-brands .category-title,
body.catalog-category-view .category-title.brands-listing-page {
	border-bottom: none;
}

body.catalog-category-view .brands-listing {
	@include rem(m-t, 3);

	@include breakpoint($breakpoint-tablet) {
		@include rem(m-t, 4);
	}

	@include breakpoint($breakpoint-desktop) {
		@include rem(m-t, 5);
	}
}

body.catalog-category-view .brands-listing .listContainer1 {
	@include clearfix;

	.col1,
	.col2 {
		width: 100%;

		@include breakpoint($breakpoint-tablet) {
			float: left;
			width: 50%;
		}
	}

	ul.brands-alpha {
		width: 100%;

		@include breakpoint($breakpoint-desktop) {
			float: left;
			width: 50%;
		}

		> li {
			@include rem(m-t, 4.2);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-t, 5.1);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-t, 6.1);
			}
		}
	}

	ul.brands-alpha.listCol1 > li:first-child {
		margin-top: 0;
	}

	ul.brands-alpha.listCol3 > li:first-child {
		@include breakpoint($breakpoint-tablet) {
			margin-top: 0;
		}
	}

	ul.brands-alpha.listCol2 > li:first-child,
	ul.brands-alpha.listCol4 > li:first-child {
		@include breakpoint($breakpoint-desktop) {
			margin-top: 0;
		}
	}
}

body.catalog-category-view .brands-listing {

	ul.brands-alpha {

		li > div {
			@include rem(w, 4);
			font-family: $Lora;
			@include rem(f-s, 4.5);
			@include rem(l-h, 4.5);
			color: #f1f0ee;
			text-align: center;

			@include breakpoint($breakpoint-tablet) {
				@include rem(w, 4.5);
				@include rem(f-s, 5.5);
				@include rem(l-h, 5.5);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(w, 5);
				@include rem(f-s, 6);
				@include rem(l-h, 6);
			}
		}

		ul.brands {
			@include rem(m-t, -1.1);
			@include rem(m-l, 5.5);

			@include breakpoint($breakpoint-tablet) {
				@include rem(m-l, 6);
			}

			@include breakpoint($breakpoint-desktop) {
				@include rem(m-l, 6.5);
			}

			a {
				color: $black;

				&:hover,
				&:focus {
					color: $red;
				}
			}
		}
	}
}

// Catalogue d'une marque
body.section-marque.catalog-category-view {
	.main-container {

		.main {
			.block-layered-nav {
				@include rem(m, 2, 0, 0, 0);
				@include background-opacity(#fff, 0.85);
				@include breakpoint($breakpoint-desktop) {
					@include rem(p, 2.5, 3);
					@include rem(w, 28);
					@include rem(m-r, 2);
				}

				.block-content {
					@include rem(p, 1, 1.7, 1);

					@include breakpoint($breakpoint-tablet) {
						@include rem(p, 1, 2);
					}

					@include breakpoint($breakpoint-desktop) {
						@include rem(p, 0);
					}
				}
			}
			.page-title {
				@include rem(p-t, 3);
				border: none;

				h1 {
					text-align: center;
					img { @include rem(max-h, 6); }
					span { display: none; }
				}
			}
			.category-products {
				@include rem(p-t, 0.5);

				@include breakpoint($breakpoint-desktop) {
					@include rem(p-t, 1);
				}
			}
		}
		.toolbar {
			@include background-opacity(#fff, 0.85);
		}
		.bottom-toolbar .toolbar {
			border-bottom: none;
		}
	}
}

// Présentation d'une marque
body.contentmanager-contenttype-brand {
	.main-container {

		.main {
			@include rem(p, 0, 1);
			h1 {
				text-align: center;
				@include rem(p, 3, 0);
				img { @include rem(max-h, 6); }
				span { display: none; }
			}
			.left, .right {
				background-color:#fff;
				@include rem(p, 3);
				@include rem(m-b, 2);
				width: 100%;
				text-align: center;

				@include breakpoint($breakpoint-desktop) {
					@include rem(h, 48);
					@include rem(m-b, 24);
					width: 49%;
				}

				p { @include rem(m-b, 1.5); }

				p:last-child {
					margin-bottom: 0;
				}
			}

			.left {

				// En date du 23 mai 2015, on enlève les "Quotation Marks", donc au cas où ils ne seraient pas tous enlevés dans le code, je mets un display: none. (M.A.L.)
				.left-quote,
				.right-quote {
					display: none;
					font-family: $LoraBoldItalic;
					@include rem(f-s, 5);
					@include rem(m-b, -2);
				}

				.left-quote {
					@include rem(m-t, -2);
					@include rem(m-b, -3);
				}

				.titre {
					font-family: $LatoBold;
					@include rem(f-s, 1.8);
					@include rem(m-t, 3);
				}

				.lien-catalogue {
					display: inline-block;
					@include rem(p, 0.8, 3.4);
					@include rem(m-t, 6);
					@include rem(f-s, 1.6);
					color: $white;
					background-color: $black;
					@include transition(background-color 0.3s, ease-in-out);

					&:hover,
					&:focus {
						background-color: $red;
					}

					@include breakpoint($breakpoint-tablet) {
						@include rem(f-s, 1.8);
					}
				}

			}


			.right {
				@include rem(p, 2);
			}
		}
	}
}

// Image de background des marques
body.contentmanager-contenttype-brand .main-container,
body.section-marque.catalog-category-view .main-container {
	@include breakpoint($breakpoint-desktop) {
		background-size: contain !important;
	}
}
