<?php $time = time();?>
<?php Varien_Profiler::start('COLORSWATCH_list_item_'.$time);?>
  
<?php
	$collection = $this->prepareCollection();
	$config = $this->getConfig();
?>

<?php Varien_Profiler::stop('COLORSWATCH_list_item_'.$time);?>

<?php if ($collection): ?>
<div class="colorswatch-list colorswatch-list-product-list">
	<ul>
		<?php foreach ($collection as $item):?>
			<li style="width:<?php echo $config->getWidth()?>px; height:<?php echo $config->getWidth()?>px;" data-image="<?php echo $this->getImage($item)?>">
				<?php if (!Mage::helper('colorswatch')->isColorPickerMode()):?>
					<img src="<?php echo $this->getSwatchUrl('image', $item)?>" class="normal"/>
					<?php if (Mage::helper('colorswatch/switch')->_getAdditionalStatus($this->_attributeId)):?>
					<img src="<?php echo $this->getSwatchUrl('active', $item)?>" class="active"/>
					<img src="<?php echo $this->getSwatchUrl('hover', $item)?>" class="hover"/>
					<img src="<?php echo $this->getSwatchUrl('disabled', $item)?>" class="disabled"/>
					<?php endif;?>
				<?php else:?>
					<span class="normal" style="background-color: #<?php echo $this->getSwatchUrl('image', $item)?>"></span>
					<?php if (Mage::helper('colorswatch/switch')->_getAdditionalStatus($this->_attributeId)):?>
					<span class="active" style="background-color: #<?php echo $this->getSwatchUrl('active', $item)?>"></span>
					<span class="hover" style="background-color: #<?php echo $this->getSwatchUrl('hover', $item)?>"></span>
					<span class="disabled" style="background-color: #<?php echo $this->getSwatchUrl('disabled', $item)?>"></span>
					<?php endif;?>
				<?php endif;?>
			</li>
		<?php endforeach;?>
	</ul>
</div>

<?php endif;?>
