<?php if($this->showHistory()): ?>
	<div class="box-account">
        <div class="fieldset">
            <div class="box-head">
                <h2><?php echo $this->__("Referrals"); ?></h2>
            </div>
            <?php $_referred = $this->getReferred();?>
            <?php if($_referred->getSize()): ?>
            <?php echo $this->getPagerHtml() ?>
            <div class="tableau-lignee">
                <div class="table-colonnes">
                    <div class="colonne"><div><?php echo $this->__('Full Name') ?></div></div>
                    <div class="colonne"><div><?php echo $this->__('Email') ?></div></div>
                    <div class="colonne"><div><?php echo $this->__('Status') ?></div></div>
                    <div class="colonne"><div><?php echo $this->__('Accumulated Earnings') ?></div></div>
                </div>
                <?php $_odd = ''; ?>
                <?php foreach ($_referred as $_friend): ?>
                    <div class="table-main">
                        <div class="colonne">
                            <div class="mobile"><strong><?php echo $this->__('Full Name') ?> :</strong> <?php echo $_friend->getReferralName() ?></div>
                            <div class="normal"><?php echo $_friend->getReferralName() ?></div>
                        </div>
                        <div class="colonne">
                            <div class="mobile"><strong><?php echo $this->__('Email') ?> :</strong> <?php echo $_friend->getReferralEmail() ?></div>
                            <div class="normal"><?php echo $_friend->getReferralEmail() ?></div>
                        </div>
                        <div class="colonne">
                            <div class="mobile"><strong><?php echo $this->__('Status') ?> :</strong> <?php echo $this->getStatusCaption( (int)($_friend->getReferralStatus()) ); ?></div>
                            <div class="normal"><?php echo $this->getStatusCaption( (int)($_friend->getReferralStatus()) ); ?></div>
                        </div>
                        <div class="colonne">
                            <div class="mobile">
                                <strong><?php echo $this->__('Accumulated Earnings') ?> :</strong>
                                <?php echo $this->getAccumulatedReferralPoints($_friend); ?>
                                <?php $pending = $this->getPendingReferralPoints($_friend); ?>
                                <?php if($pending->hasPoints()): ?>
                                    <?php echo $this->__("(+%s pending approval)", $pending->getSimpleAmount()); ?>
                                <?php endif; ?>
                            </div>
                            <div class="normal">
                                <?php echo $this->getAccumulatedReferralPoints($_friend); ?>
                                <?php $pending = $this->getPendingReferralPoints($_friend); ?>
                                <?php if($pending->hasPoints()): ?>
                                    <?php echo $this->__("(+%s pending approval)", $pending->getSimpleAmount()); ?>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
            <?php echo $this->getPagerHtml() ?>
            <?php else: ?>
                <p><?php echo $this->__("You don't have any referrals yet."); ?></p>
            <?php endif ?>
        </div>
    </div>
<?php endif ?>