<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.5.1
 */
?>
<?php
    $collection = $this->getCollection();
    $link = $this->getLink();
?>
<div class="contenttype-listing">
    <?php if($collection->getSize()): ?>
        <?php echo $this->getPagerHtml(); ?>
        <ul>
            <?php foreach($collection as $content): ?>
                <li>
                    <?php if($link && $link['position'] == 'top'): ?>
                        <a class="contenttype-listing-readmore" href="<?php echo $content->getUrl(); ?>"><?php echo $this->__($link['label']); ?></a>
                    <?php endif; ?>
                        
                    <?php if(count($this->getAttributeToShow()) == 0): ?>
                        <?php echo $content->render('title'); ?>
                    <?php else: ?>
                        <?php foreach($this->getAttributeToShow() as $attribute): ?>
                            <?php echo $content->render($attribute['identifier'], $attribute['params']); ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    
                    <?php if($link && $link['position'] == 'bottom'): ?>
                        <a class="contenttype-listing-readmore" href="<?php echo $content->getUrl(); ?>"><?php echo $this->__($link['label']); ?></a>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
        <?php echo $this->getPagerHtml(); ?>
    <?php else: ?>
        <?php echo $this->__('There is no contents yet for this section'); ?>
    <?php endif; ?>
</div>