<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.5.1
 */
?>
<?php
    $menu = $this->getMenu();
    $nodes = $this->getNodes();
?>
<?php if(count($nodes) > 0): ?>
    <div class="ct-menu" id="ct-menu-<?php echo $menu->getIdentifier(); ?>">
        <div class="inside">
            <ul>
                <?php foreach($nodes as $node): ?>
                    <?php echo $menu->render($node); ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
    <script type="text/javascript">decorateList('ct-menu-<?php echo $menu->getIdentifier(); ?>')</script>
<?php endif; ?>