<script>

    function AllProductDelivered()
    {
        //add product deliveries in persistant grid array
        <?php echo $this->getAllProductsDeliveredJs(); ?>

        //update fields
        persistantDeliveryGrid.restoreChanges();
        
        <?php echo $this->getAfterFillAllConfirmMessage(); ?>
    }
    
    var txtDeliveryConfirmation = '<?php echo $this->__('You are going to create a delivery, do you confirm ?'); ?>';

</script>

<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Create New delivery'); ?></h4>
</div>
<div class="entry-edit">
    <fieldset id="my-fieldset">
        <table border="0" width="100%">
            <tr>
                <td><?php echo $this->__('Date'); ?></td>
                <td width="30">&nbsp;</td>
                <td>
                    <input type="text" id="add_sm_date" name="add_sm_date" value="<?php echo date('Y-m-d'); ?>">
                    <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="img_calendar_sm" />
                    <script type="text/javascript">
                        Calendar.setup({
                            inputField : 'add_sm_date',
                            ifFormat : '%Y-%m-%e',
                            button : 'img_calendar_sm',
                            align : 'Bl',
                            singleClick : true
                        });
                    </script>
                </td>
                <td rowspan="2" class="a-center">
                    <?php if (Mage::getSingleton('admin/session')->isAllowed('admin/erp/purchasing/purchase_orders/tabs/deliveries/print_location')): ?>
                        <p><button onclick="document.location.href='<?php echo $this->getPrintLocationUrl(); ?>';" class="scalable a-right" type="button"><span><?php echo $this->__('Print locations') ?></span></button></p>
                    <?php endif; ?>
                </td>
                <td rowspan="2" class="a-center">
                    <?php if (Mage::getSingleton('admin/session')->isAllowed('admin/erp/purchasing/purchase_orders/tabs/deliveries/print_barcode')): ?>
                        <p><button onclick="document.location.href='<?php echo $this->getBarcodeLabelsUrl(); ?>';" class="scalable a-right" type="button"><span><?php echo $this->__('Print barcode sheet') ?></span></button></p>
                    <?php endif ?>
                    <p><button onclick="AllProductDelivered();" class="scalable a-right" type="button"><span><?php echo $this->__('All products delivered') ?></span></button></p>
                </td>
            </tr>
            <tr>
                <td><?php echo $this->__('Target warehouse'); ?></td>
                <td width="30">&nbsp;</td>
                <td><?php echo $this->getWarehousesAsCombo('add_sm_warehouse_id'); ?></td>
            </tr>
        </table>

        <input type="hidden" id="error_qty_list" name="error_qty_list" value="">
        <input type="hidden" id="error_qty_info" name="error_qty_info" value="">
        <p>&nbsp;</p>

        <?php echo $this->getProductDeliveryBlock(); ?>

    </fieldset>
</div>


<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Deliveries'); ?></h4>
</div>
<div class="entry-edit">
    
    <p>
        <?php echo $this->__('Print delivery notes').' : '; ?>
        <?php foreach($this->getDeliveries() as $deliveryDate): ?>
            <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/PrintDeliveryNote', array('po_id' => $this->getOrder()->getId(), 'date' => $deliveryDate)); ?>"><?php echo Mage::helper('core')->formatDate($deliveryDate, 'short', false); ?></a>,&nbsp;
        <?php endforeach; ?>
    </p>
    
    <div class="grid">
        <table cellspacing="0" class="data" width="100%">
            <thead>
                <tr class="headings">
                    <th class="a-center"><?php echo $this->__('Date'); ?></th>
                    <th><?php echo $this->__('Product'); ?></th>
                    <th class="a-center"><?php echo $this->__('Warehouse'); ?></th>
                    <th class="a-center"><?php echo $this->__('Qty'); ?></th>
                    <th><?php echo $this->__('Description'); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                //Display stock movements
                $collection = $this->getOrder()->getStockMovements();
                foreach ($collection as $item) {
                    echo '<tr>';
                    echo '<td class="a-center">' .Mage::helper('core')->formatTime($item->getsm_date(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true). '</td>';
                    $productName = $item->getProduct()->getName();
                    $productName .= mage::helper('AdvancedStock/Product_ConfigurableAttributes')->getDescription($item->getProduct()->getId());
                    echo '<td><a href="' . $this->getUrl('adminhtml/AdvancedStock_Products/Edit', array('product_id' => $item->getProduct()->getId())) . '">' . $productName . '</a></td>';
                    echo '<td>' . $item->getTargetWarehouseName()->getstock_name() . '</td>';
                    echo '<td class="a-center">' . $item->getsm_qty() . '</td>';
                    echo '<td>' . $item->getsm_description() . '</td>';
                    echo '</tr>';
                }
                ?>
            </tbody>
        </table>
    </div>
</div>