<li class="prpop-fields">
	<div class="prpop-field">
		<div class="prpop-input-box">
			<input type="password" name="confirmation" title="<?php echo $this->getLabel();?>" id="prpop-confirmation" placeholder="<?php echo $this->getLabel();?>" class="input-text required-entry validate-cpassword" />
		</div>
	</div>
</li>