<li class="prpop-fields">
	<div class="prpop-input-box">
		<input type="confirm_email" name="confirm_email" id="prpop-conf_email_address" value="" placeholder="<?php echo $this->getLabel();?>" title="<?php echo $this->getLabel();?>" class="input-text validate-email required-entry" />
	</div>
</li>