<li class="prpop-fields">
	<div class="prpop-input-box">
		<input type="email" name="email" id="prpop-email_address" value="" placeholder="<?php echo $this->getLabel();?>" title="<?php echo $this->getLabel();?>" class="input-text validate-email required-entry" />
	</div>
</li>