<li class="prpop-fields">
	<div class="prpop-input-box">
		<input type="text" id="prpop-firstname" name="firstname" value="" placeholder="<?php echo $this->getLabel();?>" title="<?php echo $this->getLabel();?>" class="input-text required-entry">
	</div>
</li>