<li class="prpop-fields">
	<div class="prpop-field">
		<div class="prop-input-box">
			<input type="password" name="password" id="prop-password" title="<?php echo $this->getLabel();?>" placeholder="<?php echo $this->getLabel();?>" class="input-text required-entry validate-password" />
		</div>
	</div>
</li>