/* float clearing for everyone else */
.cf:after, .clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}



/* float clearing for IE7 */
*+html .cf,
*+html .clearfix{
  min-height: 1%;
}


.leftf {float:left;}
.rightf, rigthf {float:right;}
.ajax-loader {display:none;}


/*********** SPLASH PAGE*/

body.splash-body {background:#000; padding:0px;}
#wrapper-splash {	width:720px; margin:0 auto; position:relative; padding-top:8%; overflow:hidden;}

/*splash image size*/
#bg {vertical-align: top; position: fixed; overflow: hidden;  outline: none; 	z-index: -1; 	padding: 0; 	margin: 0; 	top: 0; 	left: 0; }
#bg img { position: absolute; top: 0;	left: 0;}
.splash-content {min-height:100%; height:auto !important; height:100%;}
.splash-content .validation-advice { width:180px;}

/* Basic Styles*/
.splash-container  .logo-hld {display: block; padding-bottom: 15px; text-align: center;}
.splash-container h2 {font-weight: bold; font-size: 13px; margin: 0 0 14px; padding: 0 0 5px 23px; border-bottom: 1px solid  #DDD; background-position: 0 1px; background-repeat: no-repeat; text-transform: uppercase; color: #E76200; background-image: url(../images/i_page2.gif);}
.splash-container .buttons-set { border:1px solid #bbb6a5; border-top:0; margin:0; padding:8px 13px; background:#dee5e8 url(../images/bkg_buttons-set1.gif) 0 0 repeat-x; }
.splash-container .hld {padding: 14px 21px; background:#faf7ee url(../images/bkg_login-box.gif) 0 0 repeat-x; border:1px solid #bbb6a5; border-bottom:0;}

/*dark box overlay*/
#overlay-box {background:black; position:absolute; left:0px; top:0px; width:100%; min-height:100%; z-index:8000; display:none;}
#overlay-box .holder {padding:25px 0px; width:980px; margin:0 auto; color:#C1C1C1; }
#overlay-box .holder p {color:#C1C1C1;}
#overlay-box .holder .head  {font-size:18px; font-weight:400;}

/*Registrate form*/
.splash-container .account-create .columb {float:left; padding-left: 32px;}
.splash-container .form-list .gerden-field label {float:none; padding:0px 25px 0px 5px;}

/*Error Pop Up */
#for_messages {position:fixed; min-height:20px; padding:20px 10px; height:auto !important; height:20px; z-index:9999; background-color:#FFF; color:#262626; width:100%; bottom:0px; left:0; right:0; font-size:18px; }
#for_messages  ul.messages {list-style:none;  margin: 0; text-align:center; }
#for_messages  ul.messages li {margin:0px !important; padding:0px; border:none;}
#for_messages  ul.messages li.error-msg,
#for_messages  ul.messages li.success-msg,
#for_messages  ul.messages li.note-msg,
#for_messages  ul.messages li.notice-msg {font-size:18px; background:none; border:none !important; color:#262626;}
#for_messages  ul.messages li.error-msg ul,
#for_messages  ul.messages li.success-msg ul,
#for_messages  ul.messages li.note-msg ul,
#for_messages  ul.messages li.notice-msg ul {text-align:center; padding:0;}
#for_messages  ul.messages li.error-msg ul li,
#for_messages  ul.messages li.success-msg ul li,
#for_messages  ul.messages li.note-msg ul li,
#for_messages  ul.messages li.notice-msg ul li {display:inline;padding-right:10px; font-size:18px !important;}

#launching_soon {position:absolute; background-color:#FFF; width:600px; border:1px solid #868686; z-index:9000; display:none;}
#launching_soon .ls-holder {padding:25px;}
#launching_soon .ls-holder a.close {float:right;}

/*********** HOMEPAGE*/

#wrapper {
	position:relative;
}

.header {width:950px; padding:10px 0px 0px 0px;}
.header-container .top-container {padding:0px; text-align: right;}
.breadcrumbs { font-size: 11px; line-height: 1.25; margin:0px; padding:12px 10px; background-color:#FFF;}

/*Shops structure*/
.content .main  {padding:0px; width:950px;}
.content .shops-holder {}
.content .shops-holder table { border-collapse: separate; border-spacing: 10px; *border-collapse: expression('separate', cellSpacing = '10px');}
.content .shops-holder table tr td div.shop {width:100%;} /*add size of image to all div*/
.content .shops-holder table tr td div.shop a {display:block; height:100%; width:100%; position:relative; /*margin:0px 0px 15px 15px;*/ text-decoration:none;}
.content .shops-holder table tr td div.shop a div.brandholder {height:40px; position:absolute; z-index:80; background-color:#eeeeee; bottom:0px; width:100%; font-weight:700;}
.content .shops-holder table tr td div.shop a div.brandholder div.title {float:left; padding:4px;}
.content .shops-holder table tr td div.shop a div.brandholder div.title h2 {font-size:14px; margin:0px; padding-bottom:2px; line-height:14px; color:#262626;}
.content .shops-holder table tr td div.shop a div.brandholder div.title span.count-down,
.content .shops-holder table tr td div.shop a div.brandholder div.title span.count-down a {color:#262626;}
.content .shops-holder table tr td div.shop a div.brandholder div.shop-btn  {text-transform:lowercase; font-size:18px; height:40px; text-align:right; line-height:40px; padding:0 15px 0 0px; font-weight:400; float:right;  background:url(../images/plumrocket/privatesales/arrow-grey-r.png) no-repeat right 16px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color:#575757; margin-right:7px;}

.content .shops-holder table tr td div.shop a div.hover {background-color:#f18200;}
.content .shops-holder table tr td div.shop a div.hover div.title h2,
.content .shops-holder table tr td div.shop a div.hover div.title span.count-down,
 .content .shops-holder table tr td div.shop a div.hover div.title span.count-down a{color:#FFF; text-decoration:none;}
.content .shops-holder table tr td div.shop a div.hover div.shop-btn {color:#FFF; background:url(../images/plumrocket/privatesales/arrow-grey-r.png) no-repeat right -33px;}
.content .shops-holder table tr.picha td  {height:1px;  background: #666; font-size:0px;}

/*Ending soon*/
.content .endingsoon h5 {text-align:left;}

/*Upcoming block and banners*/
.content #upcoming-sales-block {background:#FFF; color:#262626; margin-bottom:25px; text-align:left; position:relative;}
.content #upcoming-sales-block .list_block  {width:271px;  padding:0 19px 19px 19px; float:left; position:relative;}
.content #upcoming-sales-block .list_block h6 {padding-bottom:10px; padding-top:10px; font-size:14px; font-weight:400; margin:0px; } 
.content #upcoming-sales-block .list_block ul {margin:0; padding:0; list-style:none;}
.content #upcoming-sales-block .list_block ul li {background:url(../images/plumrocket/privatesales/dots.png) no-repeat 12px 22px; padding:15px 20px 15px 30px; position:relative; text-transform:uppercase; font-size:12px;}

.content #upcoming-sales-block #advert {padding:10px 0 0 0; clear:both; text-align:center;}
.content #upcoming-sales-block #advert p {display:inline-block;}
.content #upcoming-sales-block #advert a {margin-left:6px;}
.content #upcoming-sales-block #advert a:first-child {margin-left:0px;}
.content #upcoming-sales-block #advert a:hover {text-decoration:none;}
.content #upcoming-sales-block #long-banner-btm {padding-top:10px; text-align:center;}
.content #upcoming-sales-block #long-banner-btm p {display:inline-block;}

/* Doubles */
.content #upcoming-sales-block h5, .content .endingsoon h5  {color:#E25203; font-weight:700; padding: 6px 0px; border-bottom:1px solid #CCC; margin:0 10px; font-size:14px;}



/*********** PRODUCT LIST */


/* Catalog info */
.shop-details {padding:25px 0px; background-color:#FFF;}
.shop-details #description {float:left;}
.shop-details #description #shop-logo {padding:0 10px 10px 0; float:left; }
.shop-details #description #shop-bio {overflow:hidden;}
.shop-details #description #shop-bio  #readmore-container {display:none;}
.shop-details #description #shop-bio  p {font-size:12px; width:630px; text-align:justify;}
.shop-details #description #shop-bio  p a {color:#000; text-decoration:underline; font-size: 11px; font-style: italic; text-decoration: underline; }
.shop-details .timer-holder {float:right; background:#FFF;}
.shop-details .timer-holder .shop-close {margin-left:12px; padding:10px 5px; background:#fff; text-align:right; font-size:12px; font-weight:400; text-transform:uppercase;}

/* List */
.products-holder  {left: 1px; position: relative; width: 950px;}
.products-holder  ul.list-of-products{ list-style:none;  margin:0; padding:0; margin-top:10px;}
.products-holder  ul.list-of-products li {display:block; width:298px; height:447px; background:none; margin:0 0 12px 12px; float:left; overflow:hidden; border:1px solid #e9e9e9; }
.products-holder  ul.list-of-products li img.prod-img {width:298px;}
.products-holder  ul.list-of-products li div.holder {position:relative; height: 100%;}
.products-holder  .item-title-bg {height:47px; background:#F6F6F6; position:absolute; left:0; bottom:0; z-index:10; width:100%;}

.products-holder .item-title-bg-over {background:none;}
.products-holder .item-title-bg .item-name {padding-left:3px; width:185px; overflow:hidden; text-align:left; float:left; }
.products-holder .item-title-bg .item-name a {color: #203548; font-size: 13px; line-height:14px; font-weight: 700; margin: 0px 0px 5px}

.products-holder .item-title-bg	.price-box {margin:0px; padding:0px; text-align:center; height:47px; width:100px;  float:right;}
.products-holder .item-title-bg	.price-box .special-price {padding-bottom:0px;}
.products-holder .item-title-bg	.price-box .special-price .price {font-size:22px; line-height:24px; font-weight:400; padding:3px 0 0 0; margin:0;}

.products-holder .item-title-bg	.price-box .old-price {line-height: 12px; padding-top:3px;}
.products-holder .item-title-bg	.price-box .old-price .price,
.products-holder .item-title-bg	.price-box .old-price .price-label {font-size:11px;}
.products-holder .item-title-bg	.price-box .old-price .price {text-decoration: line-through; font-weight:400;}

.products-holder .item-lefts {background-color:#F6F6F6; position:absolute; right:0; top:25px; z-index:15; width:100px; text-align:center; overflow:hidden;}
.products-holder .item-lefts p{ font-size: 14px; text-transform: uppercase; margin:0px;}
.products-holder .soldout {background:url(../images/soldout_bg.png); width:100%;  height:100%;  position:absolute; left:0px; top:0px; z-index:15; text-align:left;}
.products-holder .soldout a {background-color: #B40000; color: #FFFFFF; display: block; font-size: 16px; font-weight: 700; margin-top: 30px; text-align: center; text-decoration: none; width: 100px;}
.products-holder .view-item-over {width:298px;  height:100%; background-color:transparent;  position:absolute; left:0px; top:0px; z-index:25; text-align:left; display:none;}
.products-holder .view-item-over a{width:298px;  height:100%; display:block; text-decoration:none;}


/*Previewer Website*/

.previewer-panel{position:fixed; z-index:8000; background-color:#DA0004;  left:0px; top:0px;  width:100%; border-bottom:1px solid #8A0003; -moz-box-shadow: inset 0px 0px 20px -5px #000000;
-webkit-box-shadow: inset 0px 0px 20px -5px #000000; box-shadow: inset 0px 0px 20px -5px #000000;}
.previewer-panel a {text-decoration:none;}
.previewer-panel .holder { padding:5px 0; position:relative; text-align:center}
.previewer-panel span.h1-prew{ font-size:16px; color:#fff; font-weight:700; vertical-align:middle; text-shadow:0 1px 1px #790003;}
.previewer-panel a.button-view {background: #000000; color: #FFFFFF; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 700; height: 28px; line-height: 28px; padding: 0px 20px; vertical-align: middle; -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7); 	-moz-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7); box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7); 	background: #191919;	border: 1px solid #141414;}
.previewer-panel a.button-view:hover {background: #2d2d2d; text-decoration:none;}
.previewer-panel a.close-link {position:absolute; top:9px; font-size:14px; right:17px; color:#FFF; cursor: pointer; text-shadow: 0px 1px 1px #790003; font-weight:700;}
.previewer-panel input {border:1px solid #A60004; padding:5px; font-size:16px;}


/* Expired popup */
#expired-popup {
	background: url("../images/plumrocket/privatesales/end-popup.png") repeat scroll 0 0 transparent;
	font-size: 12px;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
