<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.5.1
 */
?>
<?php
    $collection = $this->getCollection();
    $helper = Mage::helper('contentmanager');
?>
<div class="contenttype-results-listing">
    <div class="page-title">
        <h1><?php echo $this->__('Search results in contents'); ?></h1>
    </div>
    <?php if($collection->getSize()): ?>
        <?php echo $this->getPagerHtml(); ?>
        <ul>
            <?php foreach($collection as $content): ?>
                <li>
                    <a href="<?php echo $content->getUrl(); ?>"><?php echo $content->getTitle(); ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
        <?php echo $this->getPagerHtml(); ?>
    <?php else: ?>
        <p class="note-msg"><?php echo $this->__('Your search returns no results in contents.'); ?></p>
    <?php endif; ?>
</div>