<span class="cat-title"><span><?php echo $this->__('On sale') ?></span> <?php echo $this->__('now') ?></span>
<div id="top-menu" class="nav-container layout-margin">
	<div>
		<ul id="nav">
			<?php $items = $this->renderCategoriesMenuHtml(false);
			$current = $this->getCurrentMenuItem();
			foreach ($items as $item) { ?>
				<li id="header-nav" <?php if ($current && $current->getId() == $item['item']->getId()) { ?> class="active"<?php } ?>>
				<!--<a href="<?php echo $item['item']->getUrl(); ?>"><span><?php echo $item['item']->getName(); ?></span></a>-->
				<?php if ($item['children']) { ?>
					<ul>
					<?php foreach ($item['children'] as $tr) { ?>
						<li <?php if ($current && $current->getId() == $tr->getId()) { ?> class="active"<?php } ?>><a href="<?php echo $tr->getUrl(); ?>"><span><?php echo $tr->getName(); ?></span></a></li>
					<?php } ?>
					</ul>
				<?php } ?>
				</li>
			<?php } ?>
		</ul>
	</div>
 </div>