@mixin tabs() {
    .toggle-tabs {
        display: block;
        position: relative;
		border-bottom: 1px solid #d0d0d0;

		@include clearfix;

        li {
			position: relative;
            float: left;
			@include rem(m-l, 2.5);

			@include breakpoint(1110px) {
				@include rem(m-l, 4);
			}

			@include breakpoint($breakpoint-desktop-normal) {
				@include rem(m-l, 5.5);
			}

            > span {
                @include not-selectable;
                display: inline-block;
				@include rem(p-b, 0.4);
				@include rem(f-s, 1.6);
				color: $black;

				@include breakpoint($breakpoint-desktop-normal) {
					@include rem(p-b, 0.3);
					@include rem(f-s, 1.8);
				}
            }
        }

        li.current {

            > span {
				border-bottom: 4px solid $red;
            }
        }

        li:hover span {
			cursor: pointer;
			color: $red;
        }

		li.current:hover span {
			cursor: default;
			color: $red;
		}

		li:first-child {
			margin-left: 0 !important;
		}

		li.last {
			margin-right: 0 !important;
		}
    }

    > dl {
        width: 100%;

        > dt {
            display: none;
        }

        > dd {
            width: 100%;
            display: none;
        }

        > dd.current {
            display: block;
        }
    }
}

@mixin accordionDtBase() {
	position: relative;
	@include not-selectable;

	@extend .icon-sj;
	@extend .icon-sj-plus;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		@include rem(w, 1.2);
		@include rem(h, 1.2);
		margin: auto 0;
		@include rem(f-s, 1.2);
		@include rem(l-h, 1.2);
		line-height: #{(1.2 * 10) * $line-height}px;
	}
}

@mixin accordionDtBaseActive() {
	@extend .icon-sj-moins;
}

@mixin accordion() {
    .toggle-tabs {
        display: none;
    }

    > dl {
        > dt {
            @include accordionDtBase;
            display: block;
        }
    }
}

@mixin accordionCollapse() {
    > dl {
        > dt {
			@extend .icon-sj-plus;
        }

        > dd {
            display: none;
        }
    }

    &.accordion-open {
        > dl {
            > dt {
                &.current {
					@extend .icon-sj-moins;
                }
            }

            > dd.current {
                display: block;
            }
        }
    }
}
