<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.1.1
 */
?>
<?php
    $_identifier = $this->getIdentifier();
    $_content = $this->getContent();
    
    $_productCollection = $this->getProductCollection(array('name', 'special_price', 'manufacturer', 'small_image'));
    $_helper = $this->helper('catalog/output');
?>
<?php if($_productCollection->getSize()): ?>
<ul class="ct-product-list products-grid" id="ct-product-list-<?php echo $this->getIdentifier(); ?>">
    <?php
        $i=0;
        foreach ($_productCollection as $_product) {
            //$_product = Mage::getModel('catalog/product')->load($_product->getId());
            $productChild = $this->getLayout()->createBlock('catalog/product')->setTemplate('catalog/product/list/product.phtml');
            $productChild->setData("product", $_product);
            $productChild->setData("columnCount", $_productCollection->getSize());
            $productChild->setData("index", $i);
            echo $productChild->toHtml();
            $i++;
        }
    ?>
</ul>
<script type="text/javascript">
    decorateList($('ct-product-list-<?php echo $this->getIdentifier(); ?>'));
</script>
<?php endif; ?>
