<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.5.1
 */
?>
<?php
    $_identifier = $this->getIdentifier();
    $_content = $this->getContent();
    
    $_productCollection = $this->getProductCollection(array('name', 'small_image'));
    $_helper = $this->helper('catalog/output');
?>
<?php if($_productCollection->getSize()): ?>
<ul class="ct-product-list" id="ct-product-list-<?php echo $this->getIdentifier(); ?>">
    <?php foreach($_productCollection as $_product): ?>
        <li class="item">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135)->setQuality(100); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
            <p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></p>
        </li>
    <?php endforeach; ?>
</ul>
<script type="text/javascript">
    decorateList($('ct-product-list-<?php echo $this->getIdentifier(); ?>'));
</script>
<?php endif; ?>
