<?php
    $_maincategorylisting = $this->getCurrentCategory();
    $_categories = $this->getCurrentChildCategories();
    $brand_first_letter_check = "";
?>
    <div class="brands-listing">
        <ul class="brands-alpha">
            <?php foreach ($_categories as $_category): ?>
                <?php if ($_category->getIsActive()): ?>

                    <?php
                        $brand_name = $this->htmlEscape($_category->getName());
                        $brand_first_letter = substr(strtoupper($brand_name), 0, 1);
                        $brand_id = Mage::getModel('catalog/category')->load($_category->getId());
                        $layer = Mage::getSingleton('catalog/layer');
                        $layer->setCurrentCategory($brand_id);

                        $newLetter = false;

                        if ($brand_first_letter_check != $brand_first_letter) {
                            $newLetter = true;
                        }
                    ?>

                    <?php if ($newLetter && $brand_first_letter_check != ""): ?>
                        </ul>
                    </li>
                    <?php endif; ?>

                    <?php if ($newLetter): ?>
                        <li>
                            <div><?php echo $brand_first_letter; ?></div>
                            <ul class="brands">
                    <?php endif; ?>

                    <li>
                        <a href="<?php echo $this->getCategoryUrl($_category) ?>"><?php echo $this->htmlEscape($_category->getName()) ?></a>
                    </li>

                    <?php $brand_first_letter_check = $brand_first_letter; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
<?php $layer->setCurrentCategory($_maincategorylisting); ?>