<?php // Check user is loggedin
$_rewardsHelper = $this->helper('tinkrewards');
// Check user is loggedin
$myStatus = Mage::getSingleton('customer/session')->isLoggedIn();

?>

    <a href="#header-account" class="account-button skip-link skip-account">
        <!-- <span class="icon-sj icon-sj-compte"></span> -->
        <span class="label"><?php echo $myStatus?$this->__('My account'):$this->__('Login'); ?> <span class="icon-sj icon-sj-fleche-bas"></span></span>
      <!--  <?php// if($myStatus === true) : ?>
            <span class="nb-points"> <?php// echo $_rewardsHelper->getRewardsPointsForCustomer(); ?> pts</span>
        <?php// endif; ?>-->
    </a>

