        <tr>
            <td style="padding:0 15px 15px 15px;">
                <table border="0" cellpadding="0" cellspacing="0" width="608" style="border:1px solid #e10415;">
                    <tr>
                        <td colspan="2">
                            <a href="{{boutique.url}}"><img src="{{boutique.image}}" alt="{{boutique.page_title}}" style="width:608px;"></a>
                        </td>
                    </tr>
                    <tr>
                        <td alight="left" class="title-event" height="36" valign="middle" style="padding:0 0 0 5px;" mc:edit="event-title-{{n}}">
                            {{boutique.short_page_title}}
                        </td>
                        <td align="right" class="title-event" height="36" valign="middle" style="padding:0 5px 0;">
                            <a href="{{boutique.url}}"><span>Shop</span> <img src="{{skin url=images/plumrocket/privatesales/emailtemplate/arrow.png}}" alt="arrow"></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>