        <tr>
            <td style="padding:0 15px 15px 15px;">
                <table  border="0" cellpadding="0" cellspacing="0" width="610">
                    <tr>
                        <td>
                            <!-- boutique 1 -->
                            <table table border="0" cellpadding="0" cellspacing="0" width="297" style="border:1px solid #e10415;">
                                <tr>
                                    <td colspan="2">
                                        <a href="{{boutique.url}}"><img src="{{boutique.image}}" alt="{{boutique.page_title}}" style="width:297px;"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td alight="left" class="title-event" height="36" valign="middle" style="padding:0 0 0 5px;" mc:edit="event-title1row-{{n}}">
                                        {{boutique.short_page_title}}
                                    </td>
                                </tr>
                            </table>
                            <!-- boutique 1 -->
                        </td>
                        
                        <td width="16" style="width:16px;">&nbsp;</td>

                        <td>
                            <!-- boutique 2 -->
                             <table  border="0" cellpadding="0" cellspacing="0" width="297" style="border:1px solid #e10415;">
                                <tr>
                                    <td colspan="2">
                                        <a href="{{boutique2.url}}"><img src="{{boutique2.image}}" alt="{{boutique2.page_title}}"  style="width:297px;"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td alight="left" class="title-event" height="36" valign="middle" style="padding:0 0 0 5px;" mc:edit="event-title2row-{{n}}">
                                        {{boutique2.short_page_title}}
                                    </td>
                                </tr>
                            </table>
                            <!-- boutique 2 -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>