<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output'); 
    $_imageszoom = $this->helper('colorswatch/zoom');	   
?>
<?php $config = $_imageszoom->getTemplateConfig();?>
<div class="colorswatch-images-zoom">	
	<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
	
		<?php $class = $_imageszoom->checkPositionMainImage($config);?>
		
		<?php if (count($this->getGalleryImages()) > 0 && $_imageszoom->checkPositionThumbnails($config)=='top'): ?>			
			<?php echo $this->getChildHtml('colorswatch.view.thumbnails');?>
		<?php endif;?>
		
		<div class="zoom-container <?php echo $class;?>" style="width:<?php echo $config->getImageWidth()?>px; height:<?php echo $config->getImageHeight()?>px;">
			<div class="ajax-loader"><img src="<?php echo Mage::getBaseUrl('media', true)?>colorswatch/ajax-loader.png" /></div>
			 <?php
		        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($config->getImageWidth(), $config->getImageHeight()).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
		        echo $_helper->productAttribute($_product, $_img, 'image');
		     ?>
		</div>
		
	
		<div class="colorswatch-zoom-box" style="width:<?php echo $config->getZoomBoxWidth()?>px; height:<?php echo $config->getZoomBoxHeight()?>px; display:none">
			<?php
		        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($config->getImageWidth()*$config->getZoomRatio(), $config->getImageHeight()*$config->getZoomRatio()).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
		        echo $_helper->productAttribute($_product, $_img, 'image');
		     ?>
		</div>
		
		
		<?php if (count($this->getGalleryImages()) > 0 && ($_imageszoom->checkPositionThumbnails($config)=='bottom' || $_imageszoom->checkPositionThumbnails($config)=='right' || $_imageszoom->checkPositionThumbnails($config)=='left')): ?>
			<?php echo $this->getChildHtml('colorswatch.view.thumbnails');?>
		<?php endif;?>
		
	<?php else:?>
		
		
		<?php $class = $_imageszoom->checkPositionMainImage($config);?>
		
		<div class="zoom-container <?php echo $class;?>" style="width:<?php echo $config->getImageWidth()?>px; height:<?php echo $config->getImageHeight()?>px;">
			 <?php
		        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($config->getImageWidth(), $config->getImageHeight()).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
		        echo $_helper->productAttribute($_product, $_img, 'image');
		     ?>
		</div>
		
		
	<?php endif;?>	

	<script>
		var colorSwatchZoomSettings = '<?php echo $_imageszoom->getJsonConfig();?>';
		$j(document).ready(function(){
			//INIT PLUGIN
			IWD.Zoom.init('.zoom-container', '.thumbnails-container');
		});
	</script>

</div>	