<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output'); 
    $_imageszoom = $this->helper('colorswatch/zoom');	   
?>
<?php $config = $_imageszoom->getTemplateConfig();?>
<?php $class = $_imageszoom->checkPositionThumbnails($config);?>

<?php $_gallery = $this->getGalleryImages()?>
<div class="thumbnails-container <?php echo $class;?>">	 
	<?php if ($config->getThumbnailSlider()==1 && count($_gallery)>3):?>	
		<a class="prev"><img class="v-middle" alt="Next" src="<?php echo Mage::getBaseUrl('skin', true)?>frontend/default/default/images/pager_arrow_left.gif"></a>
	<?php endif;?>
	<div <?php if($config->getThumbnailSlider()==1): ?>class="slider"<?php endif;?>>
	    <ul <?php if ($_imageszoom->checkPositionThumbnails($config)=='left' || $_imageszoom->checkPositionThumbnails($config)=='right'):?>style="width:<?php echo $config->getThumbnailWidth()?>px; height:<?php echo $config->getImageHeight()?>px"<?php endif;?>>
	    <?php $i=1;?>
	    <?php foreach ($_gallery as $_image): ?>
	        <li class="item" >
	            <a href="javascript:void(0);" data-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($config->getImageWidth(), $config->getImageHeight()); ?>" data-zoom-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->keepAspectRatio($config->getKeepAspectRatio())->keepFrame($config->getKeepFrame())->resize($config->getImageWidth()*$config->getZoomRatio(), $config->getImageHeight()*$config->getZoomRatio()); ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>">
	           		<img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($config->getThumbnailWidth(), $config->getThumbnailHeight()); ?>" width="<?php echo $config->getThumbnailWidth()?>" height="<?php echo $config->getThumbnailHeight();?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
	            </a>
	        </li>
	        <?php $i++;?>
	    <?php endforeach; ?>
	    </ul>  
	</div>

	<?php if ($config->getThumbnailSlider()==1 && $i>3):?>
		<a class="next"><img class="v-middle" alt="Next" src="<?php echo Mage::getBaseUrl('skin', true)?>frontend/default/default/images/pager_arrow_right.gif"></a>
	<?php endif;?>
</div>