<?php

/*

Plumrocket Inc.

NOTICE OF LICENSE

This source file is subject to the End-user License Agreement
that is available through the world-wide-web at this URL:
http://wiki.plumrocket.net/wiki/EULA
If you are unable to obtain it through the world-wide-web, please
send an email to support@plumrocket.com so we can send you a copy immediately.

@package	Plumrocket_Popup_Login-v1.3.x
@copyright	Copyright (c) 2013 Plumrocket Inc. (http://www.plumrocket.com)
@license	http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 
*/

?>

<div class="prpop-account-forgot"<?php if (!$this->showAfterLoad()) { ?> style="display: none;"<?} ?>>
	
		<?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>
		<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="prpop-forgot-form">
			<div class="prpop-formholder">
				<?php /*=== logo ===*/ ?>
				<div class="form-top-logo">
					<img src="<?php echo $this->getParentBlock()->getLogoImageSrc();?>" />
				</div>

				<h2><?php echo $this->__('Retrieve your password here') ?></h2>
				<?php if ($this->getParentBlock()->showCloseOn()) { ?>
					<a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
				<?php } ?>
				<p><?php echo $this->__('Please enter your email address below. You will receive a link to reset your password.') ?></p>

				<div class="prpop-cf">
					<div class="prpop-columb"> 
						<ul class="prpop-form-list">
							<li>
								<label for="prpop-email-address" class="prpop-required"><em>*</em><?php echo $this->__('Email Address') ?></label>
								<div class="prpop-input-box">
									<input type="email" name="email" alt="email" id="prpop-email-address" class="input-text required-entry validate-email" <?php echo $this->placeholder('Email Address') ?>" value="<?php echo $this->htmlEscape($this->getEmailValue()) ?>" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="prpop-buttons-set prpop-cf">
				<?php /* <p class="required"><?php echo $this->__('* Required Fields') ?></p> */ ?>
				<div class="prpop-back-hld prpop-desktop">
					<a href="#" class="prpop-backtologin"><?php echo $this->__('Back to login page');?></a>
				</div>

				<button type="submit" title="<?php echo $this->__('Submit') ?>" class="prpop-button prpop-btn-proceed-checkout"><?php echo $this->__('Submit') ?></button>

				<div class="prpop-ajax-loader-wrapper">
					<img class="prpop-ajax-loader" src="<?php echo $this->getParentBlock()->getLoaderImageSrc();?>" alt="loader" />
				</div>

				<div class="prpop-backtologin prpop-mobile prpop-cf">
					<a href="#" class="prpop-backtologin"><?php echo $this->__('Back to login page');?></a>
				</div>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
			var dataForgotForm = new VarienForm('forgot-form', true);
		//]]>
		</script>

</div>

<!--success forgot-->
<div class="prpop-forgot-success prpop-succes-block" style="display: none;">
	<div class="prpop-formholder">
		<?php /*=== logo ===*/ ?>
		<div class="form-top-logo">
			<img src="<?php echo $this->getSkinUrl('images/plumrocket/popuplogin/' . 'pop-top-logo.png');?>" />
		</div>

		<h2><?php echo $this->__('New password has been sent');?></h2>
		<?php if ($this->getParentBlock()->showCloseOn()) { ?>
			<a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
		<?php } ?>
		<p id="prpop-forgot-text">An e-mail with your new password has been sent to %email%
		<br /><br />
		</p>
		<div><a href="#"  class="prpop-backtologin"><?php echo $this->__('Back to login page');?></a></div>
	</div>
</div>