<div id="prop-wrap_login" class="prpop-account-login prpop-cf <?php if (!$this->showLogin()) { echo 'one-div'; } ?>"<?php if (!$this->showAfterLoad()) { ?> style="display: none;"<?} ?>>
	<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="prpop-login-form">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />

		<div class="prpop-col2-set fleft left-block <?php if (!$this->showLogin()) { echo 'f-width'; } else { echo 'prpop-desktop'; } ?>">
			<div class="prpop-new-users prpop-formholder ">
				<?php if ($this->showRegister()) { ?>
				<h2><?php echo $this->__('New Customers') ?></h2>
				<?php if ($this->getParentBlock()->showCloseOnRegister()) { ?>
				<a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
				<?php } ?>
				<?php } ?>
				<p>
					<?php echo $this->getWelcomeText(); ?>
				</p>
			</div>

			<div class="prpop-new-users prpop-f prpop-buttons-set prpop-cf">
				<?php if ($this->showRegister()) { ?>
				<button type="button" title="<?php echo $this->__('Create an Account') ?>" class="prpop-button prpop-btn-new-member prpop-show_registration"><?php echo $this->__('Create an Account') ?></button>

				<?php } ?>
			</div>
		</div>

		<div class="prpop-col2-set fright right-block">
		<?php if ($this->showLogin()) { ?>		
			<div class="prpop-registered-users prpop-formholder">
					<?php /*=== logo ===*/ ?>
					<div class="form-top-logo">
						<img src="<?php echo $this->getParentBlock()->getLogoImageSrc();?>" />
					</div>

					<h2><?php echo $this->__('Registered Customers') ?></h2>
					<?php if ($this->getParentBlock()->showCloseOn()) { ?>
						<a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
					<?php } ?>
					<ul class="prpop-form-list">
						<li>
							<label for="email" class="prpop-required"><?php echo $this->__('Email Address') ?><em>*</em></label>
							<div class="prpop-input-box">
								<input type="email" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" <?php echo $this->placeholder('Email Address'); ?> class="input-text required-entry validate-email splash-inputs" title="<?php echo $this->__('Email Address') ?>" />
							</div>
						</li>
						<li>
							<label for="pass" class="prpop-required"><?php echo $this->__('Password') ?><em>*</em></label>
							<div class="prpop-input-box">
								<input type="password" name="login[password]" class="input-text splash-inputs required-entry validate-password" <?php echo $this->placeholder('Password') ?>" id="pass" title="<?php echo $this->__('Password') ?>" />
							</div>
						</li>
					</ul>
					<?php if ($this->showRememberMe()) { ?>
					<p class="prpop-remebber-me">
						<input type="checkbox" name="login[rememberme]" id="remb" value="remember"/> <label for="remb"><?php echo $this->__('Remember me');?></label>
					</p>
					<?php } ?>
                    <p class="prpop-required">* Required Fields</p>

					<?php if ($this->showForgotpassword()) { ?>
						<p class="prpop-forgot-password">
                        	<a href="<?php echo $this->getForgotPasswordUrl() ?>" class="prpop-forgotpass prpop-show_forgot"><?php echo $this->__('Forgot Your Password?') ?></a>
                        </p>
                    <?php } ?>

			</div>

			<div class="prpop-col-2 prpop-registered-users">
				<div class="prpop-buttons-set prpop-buttons-set-top prpop-cf">
					<div class="prpop-ajax-loader-wrapper">
						<img class="prpop-ajax-loader" src="<?php echo $this->getParentBlock()->getLoaderImageSrc();?>" alt="loader" />
					</div>

					<button type="submit" class="prpop-button btn-proceed-checkout" title="<?php echo $this->__('Login') ?>" name="send" id="send2" data-popup="yes"><?php echo $this->__('Login') ?></button>
					<?php
						$fb_login_block = $this->getLayout()->createBlock('facebookfree/links');
						if ($fb_login_block) {
							echo '<div class="prpop-mobile spacer prpop-cf"> <div class="border"></div> <div class="text_or">OR</div> <div class="border"></div> </div>';
						}
					?>
					
					<div class="facebook_login_button">
					<?php 
						if ($fb_login_block) {
							//echo '<div class="prpop-dividerOr"></div>';
							echo $fb_login_block->setTemplate('popuplogin/facebooklogin.phtml')->toHtml(); 
							Mage::getSingleton('core/session')->setLoginRedirectUrl($this->getParentBlock()->getSuccessUrl());
						}
					?>
					</div>

					<?php if ($pslButtons = $this->getChildHtml('pslogin_buttons')) { ?>
	                    <div class="pslogin-spacer pslogin-clearfix"> 
	                        <table>
	                            <tr>
	                                <td><div class="pslogin-border"></div></td>
	                                <td class="pslogin-bordertext w25"><?php echo $this->__('OR'); ?></td>
	                                <td><div class="pslogin-border"></div></td>
	                            </tr>
	                        </table>
	                    </div>
	                    <?php echo $pslButtons; ?>
	                <?php } ?>
				</div>

				<div class="prpop-buttons-set prpop-buttons-set-bottom prpop-mobile prpop-cf">
					<div class="simple-form-logo-text">Not a member?</div>
					<?php if ($this->showRegister()) { ?>
					<a href="javascript: void(0)" class="prpop-button prpop-btn-new-member prpop-show_registration"><?php echo $this->__('Create an Account') ?></a>
					<?php } ?>
				</div>

			</div>
		<?php } ?>
		</div>

	</form>
	
	<script type="text/javascript">
	//<![CDATA[
		var dataLoginForm = new VarienForm('login-form', true);
	//]]>
	</script>
</div>