<?php
/*

Plumrocket Inc.

NOTICE OF LICENSE

This source file is subject to the End-user License Agreement
that is available through the world-wide-web at this URL:
http://wiki.plumrocket.net/wiki/EULA
If you are unable to obtain it through the world-wide-web, please
send an email to support@plumrocket.com so we can send you a copy immediately.

@package	Plumrocket_Popup_Login-v1.3.x
@copyright	Copyright (c) 2013 Plumrocket Inc. (http://www.plumrocket.com)
@license	http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 
*/
?>
<?php
/**
 * Create account form template
 *
 * @see Mage_Customer_Block_Form_Register
 */
?>

<div class="prpop-account-create"<?php if (!$this->showAfterLoad()) { ?> style="display: none;"<?} ?>>
	<?php //echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="prpop-register-form">
		<div class="prpop-formholder">
			<input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
			<input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />

			<?php /*=== logo ===*/ ?>
			<div class="form-top-logo">
				<img src="<?php echo $this->getParentBlock()->getLogoImageSrc();?>" />
			</div>

			<h2><?php echo $this->__('Personal Information') ?></h2>
			<?php if ($this->getParentBlock()->showCloseOn()) { ?>
				<a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
			<?php } ?>

			<?php echo $this->getChildHtml('pslogin_buttons'); ?>
			
			<div class="prpop-cf prpop-columb">
				<ul class="prpop-form-list">
					<?php echo $this->getChildHtml()?>
				</ul>
			</div>

			<?php if ($this->isNewsletterEnabled()): ?>
            <div class="prpop-rowline">
                <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="prpop-is-subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                <label for="prpop-is-subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
            </div>
        	<?php elseif ($this->getFormData()->getIsSubscribed()): ?>
        		<input type="hidden" name="is_subscribed" value="1" />
            <?php endif; ?>

            <?php if ($this->showAgree()) { ?>
			<div class="prpop-rowline" >
				  <input type="checkbox" name="agree" title="I agree to the terms of service" value="1" id="prpop-agree" class="checkbox required-entry">
				  <label for="prpop-agree">I agree to the <a href="#dialog" name="modal" class="prpop-show-terms">terms of service</a></label>
			</div>
			<?php } ?>
			<p>As part of your membership, you will receive email notifications about our deals. You may unsubscribe at any time.</p>
		</div>


		<div class="prpop-buttons-set prpop-cf">
			<?php if ($this->getParentBlock()->showLogin()) { ?>
			<div class="prpop-back-hld prpop-desktop">
				<a href="#" class="prpop-backtologin"><?php echo $this->__('Back to login page');?></a>
			</div>
			<?php } ?>

			<button type="submit" title="<?php echo $this->__('Submit Now') ?>" class="prpop-button prpop-btn-proceed-checkout"><?php echo $this->__('Submit Registration') ?></button>

            <div class="prpop-ajax-loader-wrapper">
				<img class="prpop-ajax-loader" src="<?php echo $this->getParentBlock()->getLoaderImageSrc();?>" alt="loader" />
			</div>

			<?php if ($this->getParentBlock()->showLogin()) { ?>
            <div class="prpop-backtologin prpop-mobile prpop-cf">
				<a href="#" class="prpop-backtologin"><?php echo $this->__('Back to login page');?></a>
			</div>
			<?php } ?>
		</div>
		
	</form> <!-- form end here -->
	<script type="text/javascript">
	//<![CDATA[
		var dataRegisterForm = new VarienForm('register-form', true);
	//]]>
	</script>
</div>

<!-- Success blocks -->
<div class="prpop-reg-success prpop-succes-block" style="display: none;">
	<div class="prpop-formholder">
		<?php /*=== logo ===*/ ?>
		<div class="form-top-logo">
			<img src="<?php echo $this->getSkinUrl('images/plumrocket/popuplogin/' . 'pop-top-logo.png');?>" />
		</div>

		<h2><?php echo $this->__('YOUR REQUEST HAS BEEN SUBMITTED') ?></h2>
		<?php if ($this->getParentBlock()->showCloseOn()) { ?>
			<a href="#" onclick="return closePopupLogin();" class="prpop-close-btn">&#10005;</a>
		<?php } ?>
		<p>Thank you for you interest in Private Sale Store.</p>
		<p>We will notify you by email regarding your request for membership.</p>
		<p><a href="#"  class="prpop-backtologin"><?php echo $this->__('Back to login page');?></a></p>
	</div>
</div>
