<?php
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category	Banana
 * @package		Banana_ContentManager
 * @copyright	Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author		Banana Team
 * @license		http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version		1.5.1
 */
?>
<?php
    $content = $this->getContent();
    $content_type = Mage::getModel('contentmanager/contenttype')
                        ->load($content->getCtId());
            
    $options = $content_type->getCustomContentTypeOptionsCollection();
    $layoutItems = $this->getLayoutItems();
?>
<div class="ct-view ct-view-<?php echo $content_type->getIdentifier(); ?> ct-layout-30" id="ct-view-<?php echo $content->getId(); ?>">
    
    <div class="ct-column ct-column-main ct-column-main-left-25" id="ct-column-1">
        <div class="inside">
            <?php if(isset($layoutItems[1])) foreach($layoutItems[1] as $layoutItem): ?>
            
                <?php echo $content->render($layoutItem); ?>
            
            <?php endforeach; ?>            
        </div>
    </div>
    <div class="ct-column ct-column-main ct-column-main-center-50" id="ct-column-6">
        <div class="inside">
            <?php if(isset($layoutItems[6])) foreach($layoutItems[6] as $layoutItem): ?>
            
                <?php echo $content->render($layoutItem); ?>
            
            <?php endforeach; ?>            
        </div>
    </div>
    <div class="ct-column ct-column-main ct-column-main-right-25" id="ct-column-8">
        <div class="inside">
            <?php if(isset($layoutItems[8])) foreach($layoutItems[8] as $layoutItem): ?>
            
                <?php echo $content->render($layoutItem); ?>
            
            <?php endforeach; ?>            
        </div>
    </div>
    <div class="ct-clear"></div>
    
</div>