<div class="my-account">
    <div class="referrals dashboard">
        <div class="page-title">
            <h1><?php echo $this->__('Referral Program') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    
    <?php echo $this->getChildHtml('affiliate'); ?>
    <?php echo $this->getChildHtml('refer_form'); ?>
    <?php echo $this->getChildHtml('preferences'); ?>
    <?php echo $this->getChildHtml('history'); ?>
    
    </div>
    <?php echo $this->getChildHtml('customer.account.link.back'); ?>
</div>

<script type="text/javascript">
    //<![CDATA[
    var $j = jQuery.noConflict();

    (function ($) {
        $(document).ready(function () {
            var counter = 0;
            function seoReferal() {
                if ($('.succes-msg').is(':visible')) {
                    setTimeout(function() { ga('send', 'pageview', window.location.pathname + '?ga_formulaire=programme-de-references-confirmation');}, 1250);
                    clearInterval(interval)
                } else {
                    if (counter == 0) {
                        setTimeout(function() { ga('send', 'pageview', window.location.pathname + '?ga_formulaire=programme-de-references');}, 1250);
                        counter = counter + 1
                    }
                }
            }

            var interval = setInterval(function () {
                seoReferal()
            }, 3000);
        });
    })($j);
    //]]>
</script>