<script type="text/javascript">
    //<![CDATA[
    document.write('<a href="https://twitter.com/share" class="twitter-share-button rewardssocial-rewardable" data-text="<?php echo $this->getTweet(); ?>" <?php echo ($this->getTweetedUrl()) ? "data-url=" . $this->getTweetedUrl() : "" ?> data-count="none" data-size="large"><?php echo $this->__("Tweet") ?></a>');
    //]]>
</script>