<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Advancedreports
 * @version    2.7.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><ul>
    <?php foreach ($this->getDashboardReports() as $report): ?>
        <li id="<?php echo $report->getName(); ?>_report" class="reports_list_item <?php if($this->isReportActive($report->getName())):?> report_active <?php endif; ?>">
            <a href="<?php echo $this->getReportUrl($report); ?>">
                <?php echo $this->__($report->getTitle()); ?>
            </a>
        </li>
    <?php endforeach; ?>
</ul>
<ul>
    <li class="reports_title sales_title">
        <span>
            <?php echo $this->__('SALES'); ?>
        </span>
    </li>
    <?php foreach ($this->getSalesReports() as $report): ?>
        <li id="<?php echo $report->getName(); ?>_report" class="reports_list_item <?php if($this->isReportActive($report->getName())):?> report_active <?php endif; ?>">
            <a href="<?php echo $this->getReportUrl($report); ?>">
                <?php echo $this->__($report->getTitle()); ?>
            </a>
        </li>
    <?php endforeach; ?>
</ul>
<ul>
    <li class="reports_title customer_title">
        <span>
            <?php echo $this->__('CUSTOMERS'); ?>
        </span>
    </li>
    <?php foreach ($this->getCustomerReports() as $report): ?>
        <li id="<?php echo $report->getName(); ?>_report" class="reports_list_item <?php if($this->isReportActive($report->getName())):?> report_active <?php endif; ?>">
            <a href="<?php echo $this->getReportUrl($report); ?>">
                <?php echo $this->__($report->getTitle()); ?>
            </a>
        </li>
    <?php endforeach; ?>
</ul>