<?php

/*

Plumrocket Inc.

NOTICE OF LICENSE

This source file is subject to the End-user License Agreement
that is available through the world-wide-web at this URL:
http://wiki.plumrocket.net/wiki/EULA
If you are unable to obtain it through the world-wide-web, please
send an email to support@plumrocket.com so we can send you a copy immediately.

@package	Plumrocket_Popup_Login-v1.3.x
@copyright	Copyright (c) 2013 Plumrocket Inc. (http://www.plumrocket.com)
@license	http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 
*/

if ($this->helper('customer')->isLoggedIn()) {
	return;
}
?>

<script type="text/javascript">
popupLoginSettings = {
	baseUrlForRedirect: '<?php echo $this->getSuccessUrl(); ?>',
	registerUrlForRedirect: '<?php echo $this->getSuccessUrl("register"); ?>',
	popupLoginMode: <?php echo $this->mode(); ?>,
	showEventTracking: <?php echo (int)$this->showEventTracking(); ?>,
	conf_req: <?php echo (int)$this->isConfirmationRequired(); ?>
}
</script>

<div id="prpop-addedoverlay"<?php if ($this->mode() == Plumrocket_Popuplogin_Model_Values_Modes::LOAD) { ?> style="display: block;"<?php } ?>></div>

<div class="prpop-pop-up-form" id="prpop-popup-id-form">
	<div id="prpop-pop-up-bg" class="prpop-cf <?php echo $this->getTheme(); ?> <?php echo $this->getAnimation(); ?>">

		<ul style="display:none;">
			<li id="prpop-pop-up-button" style="display: none;">
				<a title="pop-up-button" href="#" class="hide-message"><?php echo $this->__('Close');?></a>
			</li>
		</ul>

		<div class="prpop-splash-container">
            <div id="prpop-for_messages_popup" class="prpop-popup_messages" style="display: none;">
                <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
            </div>
			<?php
            echo $this->getChildHtml('popuplogin_form_firststep');
            echo $this->getChildHtml('popuplogin_form_login');
			echo $this->getChildHtml('popuplogin_form_register'); 
			echo $this->getChildHtml('popuplogin_form_forgotpassword'); 
			?>
            <div class="prpop-main-close-button">
                <a class="icon-sj icon-sj-fermer" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>"><span>Fermer</span></a>
            </div>
		</div>
	</div>
</div>

<div id="prpop-overlay-box">
	<div class="prpop-holder">
		<div class="prpop-temrs-holder">
			<div id="popup_logo"><img src="<?php echo $this->getSkinUrl('images/logo.gif');?>" alt="Logo" /></div>
			<p><br /><strong class="head">TERMS OF SERVICES</strong> | <a class="prpop-close"href="#" data-popup="yes">Close it</a></p>
            <div class="prpop-pop_up_text_hld" style="overflow:auto;">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('terms_splashpage')->toHtml() ; ?>
				<p><br /> <a class="prpop-close"href="#" data-popup="yes">Close it</a></p>
            </div>
		</div>
	</div>
</div>
<img src="<?php echo $this->getSkinUrl('images/plumrocket/popuplogin/splashlogo.png');?>" id="prpop-popup_logo_img" alt="Logo" style="left: -9999px; top: -9999px; position: absolute; visible: hidden;" />